<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>
      <%= "Portland Code School: " if current_page.data.title != "Portland Code School" %>
      <%= current_page.data.title %>
    </title>
    
    <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" %>
    <%= stylesheet_link_tag "all" %>
    
  </head>
  
  <body class="<%= page_classes %>">
    
    <div class="container grid-container">

      <div class="break"></div>

      <%= partial "partials/header" %>

      <div class="break"></div>

      <%= yield %>

      <div class="break"></div>

      <%= partial "partials/footer" %>
    </div>
  </body>
</html>