<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title><%= @title %></title>

    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P&text=PortlandCodeSchool' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/screen.css"/>
    <link rel="stylesheet" href="stylesheets/responsive.css"/>
    <link rel="stylesheet" href="stylesheets/pages.css"/>
    <%= javascript_include_tag('http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js','/javascripts/core.js', '/javascripts/respond.min.js') %>
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <link rel="stylesheet" href="stylesheets/modules/font-awesome-ie7.css"/>
    <![endif]-->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37234345-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body lang="en" id="<%= @body_id %>">
    <div id="wrapper">
      <header class="full-width">
        <a href="/">
          <%= image_tag('/images/t-rex.jpg', :alt => 'middleman logo', :width => 250) %>
          <h1>Portland Code School</h1>
        </a>
      </header>
      <div id="menu" class="full-width">
        <ul>
          <li class="first"><a href="/">Home</a></li>
          <li><a href="/program.html">Program</a></li>
          <li><a href="/about.html">About Us</a></li>
          <li><a href="/faq.html">FAQ</a></li>
          <li><a href="/apply.html">Applying</a></li>
          <li><a href="/hire.html">Hiring</a></li>
          <li class="last"><a href="/contact.html">Contact</a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div id="container">
        <aside>
          <div id="mc_embed_signup">
            <form action="http://chuckvose.us1.list-manage.com/subscribe/post?u=bf62c907d00a592feb0eb305f&amp;id=50dbf0b987" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <h2>Mailing List</h2>
              <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </label>
              </div>
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </form>
          </div>
          <div id="contact">
            <h2>Contact Us</h2>
            <p><a href="mailto:info@portlandcodeschool.com">info@portlandcodeschool.com</a></p>
            <p>503-367-6226</p>
          </div>
          <div id="social-row">
            <a href="http://www.facebook.com/PortlandCodeSchool"><img src="/images/icons/facebook.png"></a>
            <a href="http://www.twitter.com/pdxcodeschool"><img src="/images/icons/twitter.png"></a>
            <a href="mailto:info@portlandcodeschool.com"><img src="/images/icons/mail.png"></a>
          </div>
        </aside>
        <%= yield %>
        <div class="clearfix"></div>
      </div>
    </div>
  </body>

</html>