<div class="push"></div>

<!-- Place text content below close button, or else alert will not fully dismiss -->
<div class="alert alert-info alert-dismissable alert-link text-center">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
    <i class="fa fa-times"></i>
  </button>
  <ul>

  </ul>
   <li><%= link_to "Enroll", "/enroll.html" %> in the <%= link_to "Web Development Primer", "/webdevelopmentprimer.html" %> to start your journey to junior developer</li>
   <li><%= link_to "Apply now", "/apply.html" %> for <%= link_to "Mobile Development with iOS", "/mobile-ios.html" %> or <%= link_to "Mobile Development with Phonegap", "/mobile-phonegap.html" %></li>
   <li><%= link_to "Apply now", "/apply.html" %> to become a junior developer<li>
</div>
