<div class="push"></div>

<!-- Place text content below close button, or else alert will not fully dismiss -->
<div class="alert alert-info alert-dismissable alert-link text-center">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
    <i class="fa fa-times"></i>
  </button>
  <ul>

  </ul>
    <li><%= link_to "Apply", "/apply.html" %> now to learn <%= link_to "Data Visualization", "/datavisualization.html" %> and jumpstart your career</li>
   <li><%= link_to "Enroll", "/enroll.html" %> in the <%= link_to "Web Development Primer", "/webdevelopmentprimer.html" %> to start your journey to junior developer</li>
   <li><%= mail_to "info@portlandcodeschool.com", "Get notified" %> when <%= link_to "Mobile Development for iOS", "/mobile-ios.html" %> applications open</li>
</div>
