
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<!-- Data Visualization class info -->
<div class="row jumbotron">
  <% link_to "/datavisualization.html" do %>
    <%= image_tag "data_viz_ana.png", :class=>"img-responsive centered" %>
  <% end %>

  <h2 class="sr-only">Data Visualization</h2>

  <p>
    <i class="fa fa-check-square-o fa-3x"></i>
    <% link_to "/childcare.html" do %>
      <%= image_tag "cwk_preferred.png" %>
    <% end %> <br>
  </p>

  <p>
    <strong>Cost: $1295</strong><br>
    <strong>Friends of Portland Code School: $995</strong><br>
    <%= mail_to "info@portlandcodeschool.com", "Contact us" %> to find out how to become a Friend of Portland Code School!
  </p>

  <p>
    <strong>Dates: Sundays, July 13 - ​Sept 14 (no seminars 8/10 or 8/31)</strong>
  </p>

  <p>
    <strong>Hours: Noon - 5pm</strong>
  </p>

  <blockquote class="jumbotron-quote">
    <p>
      <strong>Supplemental Lab Sessions</strong><br>

      If you are a newer developer or like more guided support, enroll for lab sessions to get exclusive access to instructional staff.
    </p>

    <p>
      <strong>Cost: $1295 (for 17 lab sessions)</strong>
    </p>

    <p>
      <strong>Dates: M/W evenings, July 14 - Sept 10 (no lab on 9/1)</strong>
    </p>

    <p>
      <strong>Hours: 6pm - 9pm</strong>
    </p>
  </blockquote>
  <p>
    <strong>Meet the instructor, <%= link_to "Huston Hedinger", "/meettheteam.html#huston-hedinger" %>!</strong>
  </p>

  <p>
    <%= link_to "Apply Now!", "/apply.html", :class=>"btn btn-default big-apply-button" %>
  </p>
</div>

<div class="row">
  <h3>Intro to Data Visualization for the Web</h3>

  <p>Data visualization is a dynamic and emerging field which knits together concepts from software engineering, mathematics, user experience, and design. Part art, part science, with implications in the private, government, and non-profit sectors, data visualization leverages its cross-domain origins to to boil down complex concepts into simple, easily communicated and easily understood information.</p>

  <p>This 8 week course will focus on functional programming skills and techniques needed to create and deploy web based data visualizations. Technologies covered in this course include d3.js, leaflet.js, coffeescript, yeoman for modern workflows, as well as SVG.</p>

  <p>
    <h4>Course Outcomes:</h4>

    <ul>
      <li>For the professional developer:</li>
        <ul>
          <li>Put an entirely new set of tools in your tool box and be able to add dynamic, data-driven visualizations into your existing and new applications.  Walk out of class with an advanced understanding of d3 and all the techniques you need for creating browser-based data visualizations.</li>
        </ul>

      <li>For the new developer or freelancer:</li>
        <ul>
          <li>So, you have a solid understanding of the entire stack, from database to web app, and want to take things to the next level?  Data visualization is hot, and will make your work stand out.  Walk out of class with work that demonstrates your commitment to your craft and shows that you are ready to contribute in a huge way.</li>
        </ul>

      <li>For the designer turned developer:</li>
        <ul>
          <li>Learn to do what you’ve always wanted to do - create beautiful and interactive UIs for the web! You’ll walk out of class with a solid understanding of some of the most challenging concepts for modern front end web development, and a clear idea of how to create data-driven interfaces that stack up to your design aspirations.</li>
        </ul>
    </ul>
  </p>

  <h4>Prerequisites:</h4>

  <p>Students coming into the course should have a strong understanding of HTML and CSS and should have at least some experience in JavaScript (or another functional programming language). Because of the structure, the course will be able to accommodate a range of experience levels, allowing each student to work at their own pace. However, students must meet at least one of the following prerequisites:</p>

  <p>
    <ul>
      <li>6-12 months in a full time JavaScript engineering position, <strong>OR</strong></li>
      <li>Completion of the <%= link_to "Front End Freelancing class", "/frontendfreelancing.html" %>, <strong>OR</strong></li>
      <li>Earned all badges in <%= link_to "Treehouse JavaScript deep dive", "http://teamtreehouse.com/library/javascript-foundations" %>. If you would like to use this option, but do not have a Treehouse account, contact us to get access.</li>
    </ul>
  </p>

  <p></p>

  <h4>Course Outline:</h4>

  <p>Sunday Seminars</p>

  <p>The seminars convene every Sunday from Noon to 5 PM for hands-on practice, lectures, and group project work. NOTE: These seminars are where all new material will be introduced. </p>

  <p>If you are planning on attending only the Sunday Seminars, you should be extremely adept at self-learning technical topics, and comfortable being told something then going off on your own to do it. Most experienced developers probably fall into this category.</p>

  <p>Additional Lab Sessions</p>

  <p>Get extra hands-on practice and help from instructors. Additional lab sessions will be held two evenings a week (Mon/Wed, 6 - 9 PM). NOTE: No new material will be introduced during the lab sessions.</p>

  <p>If you are planning to attend both the lab sessions and the seminars, you are probably a newer developer or someone who benefits from more guided support during your learning process. </p>

  <p>
    <h4>Technical Areas Covered:</h4>
    <ul>
      <li>Javascript</li>
      <li>d3.js</li>
      <li>Leaflet.js</li>
      <li>HTML5</li>
      <li>SVG</li>
      <li>CSS/SASS</li>
      <li>JSON</li>
      <li>APIs</li>
      <li>Github Gists</li>
      <li>Coffeescript (optional)</li>
      <li>Yeoman for modern workflows</li>
    </ul>
  </p>
</div> <!-- Data Visualization -->
