
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<!-- Data Visualization class info -->
<div class="row jumbotron">
  <% link_to "/datavisualization.html" do %>
    <%= image_tag "dataviz_now_enrolling.png", :class=>"img-responsive centered" %>
  <% end %>

  <h2 class="sr-only">Data Visualization</h2>

  <p>
    <i class="fa fa-check-square-o fa-3x"></i>
    <% link_to "/childcare.html" do %>
      <%= image_tag "cwk_text.png" %>
    <% end %>
  </p>

  <p>
    <strong>Cost: $4000</strong><br>
    <%= link_to "Contact us", "/contact.html" %> for more information about payment plans and other financial options.
  </p>

  <p>
    <strong>Dates: July 7 - October 24</strong>
  </p>

  <p>
    <strong>Hours: 6 PM - 9 PM Monday and Wednesday</strong>
  </p>

  <p>
    <strong>Meet the instructor, <%= link_to "Huston Hedinger", "/meettheteam.html#huston-hedinger" %>!</strong>
  </p>

  <p>
    <strong>NOTE:</strong> This course is for intermediate coders. See prerequisites below.
  </p>

  <p>
    This 16 week course will focus on functional programming skills and techniques needed to create and deploy web based data visualizations.  Technologies covered in this course include d3.js, leaflet.js, coffeescript, yeoman for modern workflows, as well as SVG.
  </p>

  <p>
    <%= link_to "Apply Now!", "/apply.html", :class=>"btn btn-default big-apply-button" %>
  </p>
</div>

<div class="row">
  <h3>Intro to Data Visualization for the Web</h3>

  <p>Data visualization is a dynamic and emerging field which knits together concepts from software engineering, mathematics, user experience, and design. Part art, part science, with implications in the private, government, and non-profit sectors, data visualization leverages its cross-domain origins to to boil down complex concepts into simple, easily communicated and easily understood information.</p>

  <p>This 16 week course will focus on functional programming skills and techniques needed to create and deploy web based data visualizations.  Technologies covered in this course include d3.js, leaflet.js, coffeescript, yeoman for modern workflows, as well as SVG.</p>

  <p>
    <h4>Course Outcomes:</h4>

    <ul>
      <li>For the professional developer:</li>
        <ul>
          <li>Put an entirely new set of tools in your tool box and be able to add dynamic, data-driven visualizations into your existing and new applications.  Walk out of class with an advanced understanding of d3 and all the techniques you need for creating browser-based data visualizations.</li>
        </ul>

      <li>For the new developer or freelancer:</li>
        <ul>
          <li>So, you have a solid understanding of the entire stack, from database to web app, and want to take things to the next level?  Data visualization is hot, and will make your work stand out.  Walk out of class with work that demonstrates your commitment to your craft and shows that you are ready to contribute in a huge way.</li>
        </ul>

      <li>For the designer turned developer:</li>
        <ul>
          <li>Learn to do what you’ve always wanted to do - create beautiful and interactive UIs for the web!  You’ll walk out of class with a solid understanding of some of the most challenging concepts for modern front end web development, and a clear idea of how to create data-driven interfaces that stack up to your design aspirations.</li>
        </ul>
    </ul>
  </p>

  <h4>Prerequisites:</h4>

  <p>Students coming into the course should have a strong understanding of HTML and CSS and should have at least some experience in JavaScript (or another functional programming language). Because of the structure, the course will be able to accommodate a range of experience levels, allowing each student to work at their own pace. However, students must meet at least one of the following prerequisites:</p>

  <p>
    <ul>
      <li>6-12 months in a full time JavaScript engineering position, <strong>OR</strong></li>
      <li>Completion of the <%= link_to "Front End Freelancing class", "/frontendfreelancing.html" %>, <strong>OR</strong></li>
      <li>Earned all badges in <%= link_to "Treehouse JavaScript deep dive", "http://teamtreehouse.com/library/javascript-foundations" %>. If you would like to use this option, but do not have a Treehouse account, contact us to get access.</li>
    </ul>
  </p>

  <p></p>

  <h4>Course Outline:</h4>

  <p>Coming soon!</p>

  <p>
    <h4>Technical Areas Covered:</h4>
    <ul>
      <li>Javascript</li>
      <li>d3.js</li>
      <li>Leaflet.js</li>
      <li>HTML5</li>
      <li>SVG</li>
      <li>CSS/SASS</li>
      <li>JSON</li>
      <li>APIs</li>
      <li>Github Gists</li>
      <li>Coffeescript (optional)</li>
      <li>Yeoman for modern workflows</li>
    </ul>
  </p>
</div> <!-- Data Visualization -->
