<div class="row"></div>

<footer class="navbar navbar-default">
  <div class="row">

    <!-- Contact info/link -->
    <div class="col-sm-4 hidden-xs">
      <p><%= link_to "Contact Us", "/contact.html" %></p>
      <p>503-880-3551</p>
      <p>ckelly@portlandcodeschool.com</p>
    </div>

    <!-- Page links -->
    <div class="col-sm-4 page-padding">
      <%= link_to "Classes", "/classes.html" %> | 
      <%= link_to "Calendar", "/calendar.html" %> | 
      <%= link_to "About", "/about.html" %>
      <%= link_to " | Contact Us", "/contact.html", :class=> "visible-xs" %>
    </div>

    <!-- Partners links -->
    <div class="col-sm-4">
      <div class="navbar-stacked">
        <p>Partners</p>
      </div>
      <div class="navbar-stacked">
        <% link_to "http://vitamintalent.com/", :class=>"icon-spacing" do %>
          <%= image_tag "partners/vitamin-logo.png" %>
        <% end %>

        <% link_to "http://www.corsource.com/", :class=>"icon-spacing" do %>
          <%= image_tag "partners/corsource-logo.png" %>
        <% end %>

        <% link_to "http://teamtreehouse.com/", :class=>"icon-spacing" do %>
          <%= image_tag "partners/treehouse-logo.png" %>
        <% end %>
      </div>
    </div>

  </div>
</footer>