
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<div class="row margin"></div>

<footer id="footer" class="navbar navbar-default">
  <div class="container margin">
    <div class="row">
      <!-- Contact info/link -->
      <div class="col-md-4 hidden-sm hidden-xs">
        <p>
          <strong>
            <%= link_to "Contact Us", "/contact.html" %>
          </strong><br>
          735 SW 20th Place, Suite 230<br>
          Portland, OR 97209
        </p>
      </div>

      <!-- Social media buttons -->
      <div class="col-md-4">
        <br>
        <%= link_to "<i class=\"fa fa-github-square fa-2x\"></i>", "http://GitHub.com/portlandcodeschool", :class=>"icon-spacing" %>
        <%= link_to "<i class=\"fa fa-twitter-square fa-2x\"></i>", "http://twitter.com/pdxcodeschool", :class=>"icon-spacing" %>
        <%= link_to "<i class=\"fa fa-facebook-square fa-2x\"></i>", "https://www.facebook.com/PortlandCodeSchool", :class=>"icon-spacing" %>
        <!-- <%= link_to "<i class=\"fa fa-google-plus-square fa-2x\"></i>", "https://google.com/+Portlandcodeschool", :class=>"icon-spacing", :rel=>"publisher" %> -->
       <!--  <%= link_to "<i class=\"fa fa-rss-square fa-2x\"></i>", "http://portlandcodeschool.com/blog/feed.xml", :class=>"icon-spacing", :relative=>false %> -->

       <div class="row">
         &copy; 2015 Portland Code School
       </div>

      </div>

      <!-- Partners links -->
      <div class="col-md-4">
        <div class="navbar-stacked">
          <strong>Partners</strong>
        </div>
        <div class="navbar-stacked">
          <% link_to "https://climbcredit.co/portlandcodeschool", :class=>"icon-spacing", :target=>"_blank" do %>
            <%= image_tag "partners/climb-logo.png", :height=>"50px" %>
          <% end %>
          <% link_to "http://www.bitloremobile.com/portland92815/", :class=>"icon-spacing", :target=>"_blank" do %>
            <%= image_tag "partners/bitlore-logo.png" %>
          <% end %>
        </div>

        <br>

        <div class="navbar-stacked">
          <% link_to "https://www.bloc.io/", :class=>"icon-spacing", :target=>"_blank" do %>
            <%= image_tag "partners/bloc-logo-white-100.png" %>
          <% end %>
          <% link_to "http://teamtreehouse.com/", :class=>"icon-spacing", :target=>"_blank" do %>
            <%= image_tag "partners/treehouse-logo.png" %>
          <% end %>
          <% link_to "http://www.worksourceoregon.org/", :class=>"icon-spacing", :target=>"_blank" do %>
            <%= image_tag "partners/work_source_logo_small.jpg" %>
          <% end %>
        </div>

        <br>

        <div class="navbar-stacked">
          <% link_to "http://www.pcc.edu/climb/", :class=>"icon-spacing", :target=>"_blank" do %>
            <%= image_tag "partners/pcc-logo.png" %>
          <% end %>
        </div>

      </div> <!-- End col-md-4 -->
    </div> <!-- End row -->

  </div>
</footer>
