<footer class="navbar navbar-default">
  <div class="row">

    <!-- Partners links -->
    <div class="col-md-4">
      <div class="navbar-stacked">
        <p>Partners</p>
      </div>
      <div class="navbar-stacked">
        <%= link_to "<img src=\"/images/partners/vitamin-logo.png\">", "http://vitamintalent.com/", :class=>"icon-spacing" %>
        <%= link_to "<img src=\"/images/partners/corsource-logo.png\">", "http://www.corsource.com/", :class=>"icon-spacing"  %>
        <%= link_to "<img src=\"/images/partners/treehouse-logo.png\">", "http://teamtreehouse.com/", :class=>"icon-spacing"  %>
      </div>
    </div>

    <!-- Page links -->
    <div class="col-md-4 page-padding">
      <%= link_to "Classes", "/classes.html" %> | 
      <%= link_to "Calendar", "/calendar.html" %> | 
      <%= link_to "About", "/about.html" %>
    </div>

    <!-- Contact info/link -->
    <div class="col-md-4">
      <p><%= link_to "Contact Us", "/contact.html" %></p>
      <p>ckelly@portlandcodeschool.com</p>
      <p>503-880-3551</p>
    </div>

  </div>
</footer>