
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<!-- Front End Freelancing class info -->
<div class="row jumbotron">
  <div class="col-xs-12">
    <% link_to "/frontendfreelancing.html" do %>
      <%= image_tag "frontend.png", :class=>"img-responsive centered" %>
    <% end %>
  </div>

  <h2 class="sr-only">Front End Freelancing</h2>

  <p>
    <i class="fa fa-check-square-o fa-3x"></i>
    <% link_to "/childcare.html" do %>
      <%= image_tag "cwk_text.png" %>
    <% end %>
  </p>

  <p>
    <strong>Cost: TBA</strong><br>
    <%= link_to "Contact us", "/contact.html" %> for more information about payment plans and other financial options.
  </p>

  <p>
    <strong>Dates: September 3 - December 19</strong>
  </p>

  <p>
    <strong class="link-padding">Hours: TBA</strong>
  </p>

  <p>
    <strong>Meet the instructor, <%= link_to "Al Zimmerman", "/meettheteam.html#al-zimmerman" %>!</strong>
  </p>

  <p>
    This comprehensive course gives you everything you need to start a freelance career in front-end web development. In this fast-paced, project-based 16-week course, you will learn all the skills necessary for web application front-end design and development.
  </p>

  <p>
    <%= link_to "Apply Now!", "/apply.html", :class=>"btn btn-default big-apply-button" %>
  </p>
</div>

<div class="row">
  <p>You will learn:</p>
  <ul>
    <li>Designing web site look, feel, and functionality based on client requirements</li>
    <li>Understanding basic principles of user interface design and user experience patterns</li>
    <li>Constructing web sites with HTML, CSS, JavaScript, and JQuery</li>
    <li>Styling modern, fresh-looking designs with CSS3</li>
    <li>Creating responsive designs that work on phones, tablets, or traditional laptops and wide-screen monitors.</li>
    <li>Using frameworks like Bootstrap</li>
    <li>Programming simple JavaScript routines</li>
    <li>Using jQuery to provide interactivity and engaging user experiences</li>
    <li>Creating easy-to-maintain, hand-crafted sites using static site generators</li>
    <li>Using content-management systems like WordPress to speed development</li>
    <li>Collaborating with development teams using GitHub</li>
    <li>Understanding how to succeed in the freelance job market</li>
    <li>Developing self-motivated job skills for working at home and delivering on time</li>
    <li>Working with temp job agencies like Vitamin T -
    Students receive assistance and coaching in landing their first freelance job assignment</li>
  </ul>
  <p>
    This class is for anybody, but particularly at-home new parents with pre-school-aged children who want to enter the remote-worker freelance market. NOTE: Complementary Childcare is provided for class and studying time for all students at no extra cost
  </p>

  <h4>The course embodies several themes:</h4>
  <ul>
    <li>Standards-based, validated HTML and CSS coding</li>
    <li>Web site client analysis, information architecture, site design, construction, deployment and maintenance</li>
    <li>Using frameworks and libraries to develop web sites</li>
    <li>Working in pairs, on teams, and as a member of the community</li>
    <li>Career preparation - time management, portfolio development, presenting your work, making business connections, interviewing, collaborating on projects</li>
    <li>Project management - time management, effective teamwork, iterative and agile development strategies </li>
    <li>Life-long learning strategies - identifying information sources, reading code, developing mentoring relationships</li>
  </ul>

  <h4>General schedule</h4>
  <ul>
    <li>Month 1 - HTML/CSS basics, validation, simple sites, editing tools, pair programming, teamwork, community</li>
    <li>Month 2 - Advanced HTML/CSS, working with audio and video, static site generators, responsive design, web frameworks (Bootstrap), JavaScript programming basics</li>
    <li>Month 3 - Working with clients, specifying web applications with user stories and wireframes, more JavaScript, creating interactivity with jQuery; career guidance: portfolios, collaboration</li>
    <li>Month 4 - Capstone project design and construction, job hunting skills, pitching to clients, making technical presentations and mentoring others in the community</li>
  </ul>
</div> <!-- !Front End Freelancing class info -->
