<header class="navbar navbar-default">
  <div class="row">

    <!-- PCS logo -->
    <div class="col-sm-2 col-xs-12 header-margin">
      <% link_to "index.html" do %>
        <%= image_tag "logo-yellow.png" %>
      <% end %>
    </div>

    <!-- Central text -->
    <div class="col-md-7 hidden-sm hidden-xs">
      <h1 class="large-title">Portland Code School</h1>
    </div>

    <div class="col-sm-7 visible-sm">
      <h1 class="small-title">Portland Code School</h1>
    </div>

    <!-- Social media/Apply buttons -->
    <div class="col-sm-3 col-xs-12 header-margin">

      <!-- Social media buttons -->
      <div class="navbar-stacked">
        <%= link_to "<i class=\"fa fa-github-square fa-2x\"></i>", "http://github.com/portlandcodeschool", :class=>"icon-spacing" %>
        <%= link_to "<i class=\"fa fa-twitter-square fa-2x\"></i>", "http://twitter.com/pdxcodeschool", :class=>"icon-spacing" %>
        <%= link_to "<i class=\"fa fa-facebook-square fa-2x\"></i>", "https://www.facebook.com/PortlandCodeSchool", :class=>"icon-spacing" %>
        <%= link_to "<i class=\"fa fa-google-plus-square fa-2x\"></i>", "https://plus.google.com/communities/109115545781652920966", :class=>"icon-spacing" %>
      </div>

      <!-- Apply button -->
      <div class="navbar-stacked">
        <button type="button" class="btn btn-default navbar-btn apply-button">
          <%= link_to "Apply now!", "apply.html" %>
        </button>
      </div>
    </div>

  </div>
</header>