
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<header class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="row">

      <!-- PCS logo -->
      <div class="navbar-header navbar-left col-xs-5 col-sm-2">
        <% link_to "/index.html" do %>
          <%= image_tag "logo_white.png", :class=>"img-responsive logo" %>
        <% end %>
      </div>

      <!-- Apply button -->
      <div class="col-xs-5 visible-xs">
        <%= link_to "Get Started!", "/apply.html", :class=>"btn btn-default navbar-btn apply-button" %>
      </div>

      <!-- Menu button -->
      <div class="col-xs-2">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Navigation links -->
      <div class="hidden-xs col-sm-10">
        <%= link_to "Get Started!", "/apply.html", :class=>"btn btn-default navbar-btn apply-button" %>
        <%= partial "partials/navlinks" %>
      </div>
    </div>

    <!-- Navigation links -->
    <div class="row visible-xs">
      <%= partial "partials/navlinks" %>
    </div>
  </div>
</header>
