<header class="navbar navbar-default">
  <div class="row header-padding">

    <!-- PCS logo -->
    <div class="col-md-2">
      <%= image_tag "http://placekitten.com/100/100" %>
    </div> <!-- end PCS logo -->

    <!-- Central text -->
    <div class="col-md-7 heading">
      <%= link_to "Portland Code School", "/index.html" %>
    </div> <!-- end central text -->

    <!-- Social media/Apply buttons -->
    <div class="col-md-3">

      <!-- Social media buttons -->
      <div class="navbar-stacked">
        <button type="button" class="btn btn-default navbar-btn">
          <%= link_to "GH", "http://github.com/portlandcodeschool" %>
        </button>
        <button type="button" class="btn btn-default navbar-btn">
          <%= link_to "Tw", "http://twitter.com/pdxcodeschool" %>
        </button>
        <button type="button" class="btn btn-default navbar-btn">
          <%= link_to "FB", "https://www.facebook.com/PortlandCodeSchool" %>
        </button>
        <button type="button" class="btn btn-default navbar-btn">
          <%= link_to "G+", "https://plus.google.com/communities/109115545781652920966" %>
        </button>
      </div> <!-- end social media buttons -->

      <!-- Apply button -->
      <div class="navbar-stacked">
        <button type="button" class="btn btn-default navbar-btn apply-button">
          <%= link_to "Apply now!", "/apply.html" %>
        </button>
      </div> <!-- end apply button -->
    </div> <!-- end social media/apply buttons -->

  </div>
</header>