
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<div class="row">
  <br>
  <div class="about-box">
    <div class="about-us">
      <h2>Full Stack JavaScript (Evening class, part-time)</h2>
      <hr>

      <!-- JavaScript class info -->
      <div class="row jumbotron">
        <% link_to "/javascript.html" do %>
          <%= image_tag "banners/JSe.png", :class=>"img-responsive centered" %>
        <% end %>

        <h2 class="sr-only">Full-stack JavaScript</h2>

        <h3><%= link_to "Now Accepting Applications!", "/apply.html" %></h3>

        <p>
          This course is designed to help students learn how to build web applications and interactive website features from scratch using JavaScript as the primary language. Students will learn both front-end and back-end applications of JavaScript (including jQuery, BackboneJS, and NodeJS). Every web application needs JavaScript, so it’s an extremely powerful language to know, and the demand for JavaScript frameworks such as BackboneJS is only growing.
        </p>
        <h5><em>
          <strong>Technical Requirements:</strong> Have a working knowledge of HTML, CSS, and Git/GitHub. Complete the <%= link_to "JavaScript track on CodeAcademy", "https://www.codecademy.com/tracks/javascript" %> (or equivalent).
        </em></h5>
        <p>
          Visit the <%= link_to "class website", "http://portlandcodeschool.github.io/jse/" %> for a more in-depth look.
        </p>
        <p>
          <strong>Meet the instructor: <%= link_to "Dan Bauer", "/meettheteam.html#dan-bauer" %>!</strong>
        </p>
        <div class="next-cohort">
          <h3 style="text-decoration:underline;">NEXT COHORT</h3>
          <h4 style="margin-top:-15px;">2016 January 18 – May 18</h4>
          <h5>Hours: Monday and Wednesday, 6pm - 9pm and one Saturday per month, 9am - 4pm</h5>
          <h5>NOTE: This cohort is extended to 18 weeks to include a short break(s) and a holiday(s).</h5>
          <p>
            <%= link_to "Apply Now!", "/apply.html", :class=>"btn btn-default big-apply-button", :target=>"_blank" %>
          </p>
        </div>
      </div>

       <p>
         <h4>General Outline:</h4>
         <ul>
           <li>Weeks 1-6: Core JavaScript, Git and GitHub</li>
           <li>Week 7-8: Test Driven Development and Modular Code</li>
           <li>Week 9: HTTP, servers, and persistence</li>
           <li>Week 10: jQuery, AJAX, REST</li>
           <li>Week 11-14: MVC, Backbone.js</li>
           <li>Weeks 15-18: Advanced topics and final projects</li>
         </ul>
       </p>
        <p>
          <h4>Technical Areas Covered:</h4>
          <ul>
            <li>JavaScript</li>
            <li>Object Oriented Programming</li>
            <li>Code Quality and Best Practices</li>
            <li>Git and GitHub</li>
            <li>Test Driven Development</li>
            <li>Debugging</li>
            <li>Web Standards</li>
            <li>Databases and Data Persistence</li>
            <li>jQuery</li>
            <li>JSON</li>
            <li>AJAX</li>
            <li>APIs and REST</li>
            <li>Backbone.js</li>
            <li>Node.js</li>
            <li>Interviewing and job preparation</li>
          </ul>
        </p>
      </div> <!-- !JavaScript class info -->

      <div class="row jumbotron">
        <p>
          <%= partial "partials/16-week-cost-table"%>
        </p>
        <p>
          <%= link_to "Apply Now!", "/apply.html", :class=>"btn btn-default big-apply-button" %>
        </p>
        <h4><em><h4><em>* Early bird dates: October 12 (for 10% discount); November 23 (for 5% discount).</em></h4></em></h4>
      </div>

    </div>
  </div>
</div>
