
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<div class="row">
  <br>
  <div class="about-box">
    <div class="about-us">
      <h2>Full Stack JavaScript (Immersion, full-time)</h2>
      <hr>

      <!-- JavaScript class info -->
      <div class="row jumbotron">
        <% link_to "/javascriptimmersion.html" do %>
          <%= image_tag "banners/JSi.png", :class=>"img-responsive centered" %>
        <% end %>

        <h2 class="sr-only">JavaScript Immersion</h2>

        <h3><%= link_to "Now Accepting Applications!", "/apply.html" %></h3>

        <p>
          Get over 500 hours of hands-on experience! For 13 weeks, 8 hours a day, you will learn how to BUILD FULL-STACK WEB APPLICATIONS WITH JAVASCRIPT in a collaborative classroom environment. Get real experience from expert instructors – and your peers – learning both front-end and back-end applications of JavaScript, including popular libraries and frameworks such as jQuery and Angular.js, as well as back-end technologies such as Node.js. Every web application needs JavaScript, and the demand for JavaScript developers is only growing!
        </p>
        <h5><em>
          <strong>Technical Requirements:</strong> You should have a working knowledge of HTML, CSS, and Git/GitHub. Basically, can you build a static website and push it to GitHub? If so, you meet the basic requirements needed to interview for this class.
        </em></h5>

        <p>
          Visit the <%= link_to "class website", "http://portlandcodeschool.github.io/jsi/" %> for a more in-depth look.
        </p>

        <p>
          <strong>Meet the instructor: <%= link_to "Andrew Lorente", "/meettheteam.html#andrew-lorente" %>!</strong>
        </p>

        <div class="next-cohort">
          <h2 style="text-decoration:underline;">NEXT COHORT</h3>
          <h4 style="margin-top:-15px;">August 10 – November 6</h4>
          <h5>
            NOTE: This cohort is extended to 13 weeks to make up for the missed classes due to holidays: September 7 (Labor Day) and October 12 (Columbus Day)
          </h5>
          <p>
            <%= link_to "Apply Now!", "/apply", :class=>"btn btn-default big-apply-button", :target=>"_blank" %>
          </p>
        </div>

        <p><strong>Not sure if you're ready?</strong></p>
        <p><%= link_to "Contact us", "/contact", :target=>"_blank" %> to get all your questions answered!</p>
      </div>

      <div class="row">
        <!-- <p>
          <em><strong>NOTE:</strong> Students with NO CODING EXPERIENCE should consider our Primer course before diving in to Full Stack JavaScript (see the Classes page for technical requirements).
          Students will be provided Treehouse accounts, and will be given access to the classroom from 9am-5pm M-F, as well as some Saturdays, leaving lots of time for independent and group learning. Students will primarily be working and learning in groups of 2-4 people.</em>
        </p>
        <p>
          A week before classes commence, students will be provided Treehouse accounts and expected to complete a few interactive tutorials. This will ensure all students arrive with a similar baseline of knowledge. Students will be expected to attend classes 9am-5pm M-F, but will also have access to the classroom during off hours allowing additional time for group learning. Students will primarily be working and learning in groups of 2-4 people.
        </p>
        <p>
          Integrating oneself into the Portland tech community is possibly the single best decision a new student can make. Forging connections and friendships by attending tech meetups and events is the best way to do this. We cannot force you to do this, but we will try (in a loving way :)
        </p>
        <p>
          PCS hosts and sponsors community events periodically. Some of these will be organized and run by our students.
          Another powerful way for web developers to put their best foot forward &mdash; and be extra attractive to employers &mdash; is to contribute to open source projects. We will cover best practices and different ways to make this happen during the course.
        </p> -->

        <p>
          <h4>General Outline (may vary slightly each session):</h4>
          <ul>
            <li>Week 1: Core JavaScript, Git and GitHub</li>
            <li>Week 2: Solving problems with JavaScript</li>
            <li>Week 3: Design patterns and advanced JavaScript</li>
            <li>Week 4: Test Driven Development</li>
            <li>Week 5: HTTP, servers, basic Node.js, and persistence</li>
            <li>Week 6: jQuery, AJAX, REST</li>
            <li>Week 7: MVC, Angular.js</li>
            <li>Week 8: Full stack applications</li>
            <li>Weeks 9-13: Advanced topics and projects</li>
          </ul>
        </p>
        <p>
          <h4>Technical Areas Covered:</h4>
          <ul>
            <li>JavaScript</li>
            <li>Object Oriented Programming</li>
            <li>Code Quality and Best Practices</li>
            <li>Git and GitHub</li>
            <li>Test Driven Development</li>
            <li>Debugging</li>
            <li>Web Standards</li>
            <li>Databases and Data Persistence</li>
            <li>jQuery</li>
            <li>JSON</li>
            <li>AJAX</li>
            <li>APIs and REST</li>
            <li>Angular.js</li>
            <li>Node.js</li>
            <li>Interviewing and job preparation</li>
          </ul>
        </p>
      </div> <!-- end JavaScript class info -->

      <div class="row jumbotron">
        <p>
          <%= partial "partials/12-week-cost-table"%>
        </p>
        <p>
          <%= link_to "Apply Now!", "/apply", :class=>"btn btn-default big-apply-button" %>
        </p>
        <h4><em>* Early bird deadline is April 3 to qualify for early bird discounts!</em></h4>
      </div>

    </div> <!-- end about-us -->
  </div>
</div>
