
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<!-- iOS class info -->
<div class="row jumbotron">
  <% link_to "/#" do %>
    <%= image_tag "mobile_phonegap.png", :class=>"img-responsive centered" %>
  <% end %>

  <h2 class="sr-only">Mobile Development with Phonegap</h2>

  <p>
    <i class="fa fa-check-square-o fa-3x"></i>
    <% link_to "/childcare.html" do %>
      <%= image_tag "cwk_preferred.png" %>
    <% end %>
  </p>

   <p>
    <strong>Cost: TBA</strong><br>
    <%= link_to "Contact us", "/contact.html" %> for more information about payment plans and other financial options.
  </p>

  <p>
    <strong>Dates: Fall 2014</strong>
  </p>

  <p>
    <strong>Hours: TBA</strong>
  </p>

  <p>
    Are you interested in creating mobile applications? Do you already have basic web development skills? This 8 week class is for you.
  </p>
  <p>
    We will help you learn how to leverage your HTML, CSS and Javascript skills to create real mobile applications that you can sell via the Apple and Android stores.
  </p>
  <p>
    <ul>
      <strong>At the successful completion of this course, students will be able to:</strong>
      <li>Use HTML/CSS/JS, Bootstrap, jQuery, jQuery-UI and jQuery Mobile to create mobile web sites</li>
      <li>Use Cordova/PhoneGap to package your mobile web site as an Android or iOS mobile application</li>
      <li>Use Application Programming Interfaces (APIs) to use data from a variety of sources across the web in your mobile app like Twitter, Google, and others</li>
      <li>Use real-time communications, local storage, geolocation, and other technologies in your mobile app</li>
      <li>Release your app through the Apple and Android stores</li>
    </ul>
  </p>
  <p>
    <strong>Prerequisites:</strong>
    <ol>
      Students need to demonstrate proficiency in HTML, CSS, and JavaScript. They can do this in either one of two ways:
      <li>Successfully complete any one of Portland Code School’s <%= link_to "Front End", "/frontendfreelancing.html" %>, <%= link_to "Full-Stack JavaScript", "/javascript.html" %>, or <%= link_to"JavaScript Immersion", "/javascriptimmersion.html" %> classes</li>
      <li>Provide us with your portfolio of github repos and web sites as part of your application</li>
    </ol>
  </p>

  <p>
    <strong>Ask about our discounts available for:</strong>
    <ul>
        <li>Non-profits and startups</li>
        <li>Corporate sponsorship of multiple team members</li>
        <li>Early signups with full upfront payment</li>
    </ul>
  </p>
  <p>
    Apply now and find out how Portland Code School can help you achieve your next great professional success!
  </p>

  <p>
    <%= partial "partials/mobile-mailing-list-signup" %>
  </p>
</div>
<!-- phonegap -->
