
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<!-- iOS class info -->
<div class="row jumbotron">
  <% link_to "/mobile-phonegap.html" do %>
    <%= image_tag "rapid_mobile.png", :class=>"img-responsive centered" %>
  <% end %>

  <h2 class="sr-only">Rapid Mobile App Prototyping</h2>

  <p>
    <i class="fa fa-check-square-o fa-3x"></i>
    <% link_to "/childcare.html" do %>
      <%= image_tag "cwk_preferred.png" %>
    <% end %>
  </p>

   <p>
    <%= partial "partials/8-week-cost-table"%>
  </p>

  <p>
    <strong>Dates: Fall 2014</strong>
  </p>

  <p>
    <strong>Hours: TBA</strong>
  </p>

  <p>
    Are you a founder, entrepreneur, or designer looking to create mobile applications fast? Already have basic web development skills (<%= link_to "Prerequisites", "/mobile-phonegap.html#rapid-mobile-pre" %>)? This 8 week class is for you.
  </p>
  <p>
    We will help you leverage your HTML, CSS and JavaScript skills to create real mobile applications you can use to get funding, prove design concepts, or sell via the Apple and Android stores.
  </p>

  <p>
    <%= link_to "Apply Now!", "/apply.html", :class=>"btn btn-default big-apply-button" %>
  </p>
</div>

<div>
  <p>
    <h4>Course Outcomes:</h4>
    <ul>
      At the successful completion of this course, students will be able to:
      <li>Use HTML/CSS/JS, Bootstrap, jQuery, jQuery-UI and jQuery Mobile to create mobile web sites</li>
      <li>Use Cordova/PhoneGap to package your mobile web site as an Android or iOS mobile application</li>
      <li>Use Application Programming Interfaces (APIs) to use data from a variety of sources across the web in your mobile app like Twitter, Google, and others</li>
      <li>Use real-time communications, local storage, geolocation, and other technologies in your mobile app</li>
      <li>Release your app through the Apple and Android stores</li>
    </ul>
  </p>
  <p>
    <h4 id="rapid-mobile-pre" class="link-padding">Prerequisites:</h4>
    <ol>
      Students need to demonstrate proficiency in HTML, CSS, and JavaScript. They can do this in either one of two ways:
      <li>Successfully complete any one of Portland Code School’s <%= link_to "Front End", "/frontend.html" %>, <%= link_to "Full-Stack JavaScript", "/javascript.html" %>, or <%= link_to"JavaScript Immersion", "/javascriptimmersion.html" %> classes</li>
      <li>Provide us with your portfolio of GitHub repos and web sites as part of your application</li>
    </ol>
  </p>
</div>
<!-- phonegap -->
