
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<div class="row">
  <br>
  <div class="about-box">
    <div class="about-us">
      <h2>iOS Development (Immersion class, full-time)</h2>
      <hr>


      <!-- iOS class info -->
      <div class="row jumbotron">
        <% link_to "/mobile-ios" do %>
          <%= image_tag "banners/ios.png", :class=>"img-responsive centered" %>
        <% end %>

        <h2 class="sr-only">Mobile Development with iOS</h2>

        <h3><%= link_to "Now Enrolling!", "https://pcs.formstack.com/forms/ios_immersion_development_enrollment" %></h3>




        <p>
          Portland Code School is proud to partner with Greg Tropino of <%= link_to "Bit Lore Institute of Technology", "http://www.bitloremobile.com/" %> to bring his iOS expertise to Portland! He will be our guest instructor for this amazing 6-week immersion course. 
        </p>    

        <h3>Read the <%= link_to "CLASS DETAILS", "http://www.bitloremobile.com/portland92815/", :target=>"_blank" %> on Bit Lore's website.</h3>

        <h3>Questions about the class? <%= mail_to "info@bitloremobile.com/", "Email the instructor (Greg Tropino)" %> at info@bitloremobile.com.</h3>

        <p>
          Special Note: There is some pre-course work** to ensure everyone can hit the ground running on day one, and PCS can help you with the pre-course work. <%= mail_to "info@portlandcodeschool.com/", "Email us" %> to find out how.
        </p>  

        <h5><em>
          <strong>**Pre-Course Work:</strong> About 15-20 hours of reading some chapters from "Big Nerd Ranch Guide: Objective-C Programming", and watching some online tutorials, which we will connect you with.
        </em></h5>


        <h5><em>
          <strong>Technical Requirements:</strong> This class is beginner-friendly (i.e., no programming experience necessary).
        </em></h5>

        <h5><em>
          <strong>Discounts and Scholarships:</strong> See below for Early Bird Discounts. Partial scholarships are available – <%= mail_to "info@portlandcodeschool.com/", "Email us" %> for more information.
        </em></h5>

<!--         <p>
          <strong>Meet the instructor: <%= link_to "Greg Tropino!", "http://www.bitloremobile.com/" %></strong>
        </p> -->

        <div class="next-cohort">
          <h3 style="text-decoration:underline;">NEXT COHORT</h3>
          <h4 style="margin-top:-15px;">September 28 – November 6</h4>
          <h5>Hours: Monday thru Friday, 9am - 5pm</h5>
          <p>
            <%= link_to "Enroll Now!", "https://pcs.formstack.com/forms/ios_immersion_development_enrollment", :class=>"btn btn-default big-apply-button", :target=>"_blank" %>
          </p>
        </div>
        <p>
          <%= partial "partials/ios-cost-table"%>
        </p>

        <p><b><u>Early Bird Deadlines:</u></b></p>
        <p><em><b>August 3</b>: deadline to receive a 10% pay-in-full discount ($500). Use the following discount code when checking out: <b>EB_TIER1_iOSI</b></em></p>
        <h5></h5>
        <p><em><b>August 31</b>: deadline to receive a 5% pay-in-full discount ($250). Use the following discount code when checking out: <b>EB_TIER2_iOSI</b></em></p>
        <h5></h5>

      </div>

    </div> <!-- End about-us -->
  </div> <!-- End about-box -->
</div> <!-- End row -->
