
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<div class="row">
  <br>
  <div class="about-box">
    <div class="about-us">
      <h2>iOS Development (Immersion class, full-time)</h2>
      <hr>


      <!-- iOS class info -->
      <div class="row jumbotron">
        <% link_to "/mobile-ios" do %>
          <%= image_tag "banners/ios.png", :class=>"img-responsive centered" %>
        <% end %>

        <h2 class="sr-only">Mobile Development with iOS</h2>

        <!-- <h3><%= link_to "Now Enrolling!", "/apply.html" %></h3> -->

        <h3>Now Enrolling! (Enrollment link coming soon. Please <%= mail_to "info@portlandcodeschool.com", "email us" %> for details.)</h3>

        <p>
          Portland Code School is proud to partner with Greg Tropino of <%= link_to "Bit Lore Institute of Technology", "http://www.bitloremobile.com/" %> to bring his iOS expertise to Portland! He will be our guest instructor for this amazing 6-week immersion course. 
        </p>    

        <h4>View <%= link_to "Bit Lore's website", "http://www.bitloremobile.com/portland92815/", :target=>"_blank" %> for details about the class.</h4>
<!--         <p>
          This course will start with the basics that can take (and has commonly taken) people with absolutely no programming experience and given them a solid foundation not only in iOS development, but know proper programming practices that apply to most programming languages so they not only know the lingo, but understand it as well.
        </p>    
        <p>
          Courses are a mix of lecture, assignments, one on one guidance, and a welcoming to the community of iOS development!  Projects are structured in a way to not only reinforce lectured material, but to also show off and establish understanding of the material to others.
        </p> -->
        <p>
          Special Note: There is about a week's worth of pre-course work** to ensure everyone can hit the ground running on day one, so apply today!
        </p>  

        <h5><em>
          <strong>**Technical Requirements:</strong> Although this class is built for beginners, and has no technical requirements, there is some pre-course work to do (reading a few chapters from "Big Nerd Ranch Guide: Objective-C Programming", and watching some online tutorials).
        </em></h5>

        <p>
          Visit Greg's <%= link_to "class website", "http://www.bitloremobile.com/portland92815/", :target=>"_blank" %> for a more in-depth look.
        </p>

        <p>
          <strong>Meet the instructor: <%= link_to "Greg Tropino!", "http://www.bitloremobile.com/" %></strong>
        </p>

        <div class="next-cohort">
          <h3 style="text-decoration:underline;">NEXT COHORT</h3>
          <h4 style="margin-top:-15px;">September 28 – November 6</h4>
          <h5>Hours: Monday thru Friday, 9am - 5pm</h5>
          <p>
            <%= link_to "Enroll Now!", "/apply.html", :class=>"btn btn-default big-apply-button", :target=>"_blank" %>
          </p>
        </div>
        <p>
          <%= partial "partials/ios-cost-table"%>
        </p>

      </div>

    </div> <!-- End about-us -->
  </div> <!-- End about-box -->
</div> <!-- End row -->
