
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<!-- iOS class info -->
<div class="row jumbotron">
  <% link_to "/mobile-ios.html" do %>
    <%= image_tag "mobile-ios.png", :class=>"img-responsive centered" %>
  <% end %>

  <h2 class="sr-only">Mobile Development with iOS</h2>

  <p class="centered">
    <strong>Curriculum Partner:</strong></br>
    <% link_to "http://househappy.org" do %>
      <%= image_tag "friendsofpcs/HouseHappy_temp.png", :class => "circle" %>
    <% end %>
  </p>

  <p>
    <i class="fa fa-check-square-o fa-3x"></i>
    <% link_to "/childcare.html" do %>
      <%= image_tag "cwk_text.png" %>
    <% end %>
  </p>

  <p>
    <%= partial "partials/16-week-cost-table"%>
  </p>

  <p>
    <strong>Dates: November 4 - March 5</strong>
  </p>

  <p>
    <strong>Hours: Monday and Wednesday, 6 PM - 9 PM + 1 Saturday/month</strong>
  </p>

  <p>
    Learn how to build high quality native apps!
  </p>
  <p>
    If you have some coding experience (<%= link_to "Prerequisites", "/mobile-ios.html#mobile-ios-pre" %>), and you are looking to either change your focus or enhance your current skill set, then this class will get you there. In 16 weeks, you’ll spend time immersed in iOS—designing spectacular interfaces in Xcode, writing conventional code in Objective-C and Cocoa, practicing unit testing and source control, and implementing industry best practices. Through our network of tech companies and partners, you’ll directly interface with agencies in the Portland area who are actively looking for iOS developers.
  </p>

  <p>
    Apply now and find out how Portland Code School can help you achieve your next great professional success!
  </p>

  <p>
    <%= link_to "Get Started!", "/apply.html", :class=>"btn btn-default big-apply-button" %>
  </p>
</div>

<div>
  <h4 id="mobile-ios-pre" class="link-padding">Prerequisites:</h4>
  <p>
    <ul>
      <li>Knowledge of object-oriented programming in any language</li>
      <li>GitHub account or portfolio that demonstrates your coding or development experience</li>
    </ul>
    If you're not sure if you're ready, go ahead and apply! We'll talk to you more in depth about your technical experience as part of the application process.
  </p>
</div>

<div>
  <h4>Course Outline:</h4>
  <ul>
    <li>Week 1: Course Introduction, Overview of iOS and MVC; Developer Portland and Xcode Basics</li>
    <li>Week 2: Objective-C Fundamentals - Objects, Syntax, Classes, Categories; Objective-C Fundamentals - NSObject, UIKit</li>
    <li>Week 3: Unit testing and clean code; View Controllers, Lifecycle, and Navigation</li>
    <li>Week 4: Interface Builder - Child controllers, containers, and tab controller; Views and Gestures</li>
    <li>Week 5: Core Graphics; Protocols, Notifications, Blocks, Animations</li>
    <li>Week 6: Animations and Auto Layout; UIDynamics, Scroll views</li>
    <li>Week 7: Open QA, Review; Multiple MVCs - child controllers, containers, and tab controller</li>
    <li>Week 8: Table Views; Collection Views</li>
    <li>Week 9: MultiThreading; Networking</li>
    <li>Week 10: Working with local data - Documents and Core Data; Presenting data - Core Data and Table View</li>
    <li>Week 11: Core Location, MapKit; UI activity sharing</li>
    <li>Week 12: Camera, Actionsheet, Core motion, Alerts, Sharing; App Brainstorm</li>
    <li>Week 13: Open QA, Review; iPad, iPhone, Universal - Multiple storyboards, reusable code
  </li>
    <li>Week 14: Capstone App work</li>
    <li>Week 15: Capstone App work</li>
    <li>Week 16: Preparing you app for distribution; Wrap up</li>
  </ul>
</div>
<!-- iOS -->
