
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <%= link_to "About <b class=\"caret\"></b>", "/about.html", :data=>{:toggle=>"dropdown"}, :class=>"dropdown-toggle" %>
      <ul class="dropdown-menu" id="dropdown">
        <li>
          <%= link_to "About PCS", "/about.html" %>
        </li>
        <li>
          <%= link_to "Contact", "/contact.html" %>
        </li>
        <li>
          <%= link_to "FAQ", "/faq.html" %>
        </li>
        <li>
          <%= link_to "Careers", "/careers.html" %>
        </li>
        <!-- <li>
          <%= link_to "Childcare Resources", "/childcare.html" %>
        </li> -->
        <li>
          <%= link_to "Calendar", "/calendar.html" %>
        </li>
        <li>
          <%= link_to "Meet The Team", "/meettheteam.html" %>
        </li>
        <li>
          <%= link_to "Code of Conduct", "/codeofconduct.html" %>
        </li>
        <li>
          <%= link_to "Internships", "/internships.html" %>
        </li>
        <li>
          <%= link_to "Special Thanks", "/thanks.html" %>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <%= link_to "Classes <b class=\"caret\"></b>", "/classes.html", :data=>{:toggle=>"dropdown"}, :class=>"dropdown-toggle" %>
      <%= partial "partials/classdropdown.html" %>
    </li>
    <li>
      <%= link_to "Friends", "/friendsofpcs.html" %>
    </li>
    <li>
      <%= link_to "Testimonials", "/testimonials.html" %>
    </li>
    <!-- <li>
      <%= link_to "Community", "/community.html" %>
    </li> -->
    <!-- <li>
      <%= link_to "Blog", "/blog.html" %>
    </li> -->
  </ul>
</div>
