
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <%= link_to "About <b class=\"caret\"></b>", "/about.html", :data=>{:toggle=>"dropdown"}, :class=>"dropdown-toggle" %>
      <ul class="dropdown-menu" id="dropdown">
        <li>
          <%= link_to "About PCS", "/about" %>
        </li>
        <li>
          <%= link_to "Testimonials", "/testimonials" %>
        </li>
        <li>
          <%= link_to "FAQ", "/faq" %>
        </li>
<!--         <li>
          <%= link_to "Partnership with PCC", "/pcc" %>
        </li> -->
        <li>
          <%= link_to "Friends of PCS", "/friendsofpcs" %>
        </li>
        <li>
          <%= link_to "Meet The Team", "/meettheteam" %>
        </li>
        <li>
          <%= link_to "Code of Conduct", "/codeofconduct" %>
        </li>
        <!-- <li>
          <%= link_to "Internships", "/internships" %>
        </li> -->
        <!-- <li>
          <%= link_to "Special Thanks", "/thanks" %>
        </li> -->
      </ul>
    </li>
    <li class="dropdown">
      <%= link_to "Classes <b class=\"caret\"></b>", "/classes", :data=>{:toggle=>"dropdown"}, :class=>"dropdown-toggle" %>
      <%= partial "partials/classdropdown" %>
    </li>
<!--     <li>
      <%= link_to "The Foundry", "/foundry" %>
    </li> -->
    <li>
      <%= link_to "Careers", "/careers" %>
    </li>
    <li>
      <%= link_to "Events", "/calendar" %>
    </li>
    <!-- <li>
      <%= link_to "Blog", "/blog" %>
    </li> -->
  </ul>
</div>
