<div class="collapse navbar-collapse">
  <!-- <div class="col-xs-12 col-sm-8"> -->
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <%= link_to "About <b class=\"caret\"></b>", "/about", :data=>{:toggle=>"dropdown"}, :class=>"dropdown-toggle" %>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "About", "/about" %>
          </li>
          <li>
            <%= link_to "FAQ", "/faq" %>
          </li>
          <li>
            <%= link_to "Calendar", "/calendar" %>
          </li>
          <li>
            <%= link_to "About This Site", "/siteabout" %>
          </li>
          <li>
            <%= link_to "Special Thanks", "/thanks" %>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <%= link_to "Attending <b class=\"caret\"></b>", "/classes", :data=>{:toggle=>"dropdown"}, :class=>"dropdown-toggle" %>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "Classes", "/classes" %>
          </li>
          <li>
            <%= link_to "Student Benefits", "/perks" %>
          </li>
          <li>
            <%= link_to "Childcare", "/childcare" %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to "Contact", "/contact" %>
      </li>
      <li>
        <button type="button" class="btn btn-default navbar-btn apply-button hidden-xs">
          <%= link_to "Get Info!", "/getinfo" %>
        </button>
      </li>
    </ul>
  <!-- </div> -->
</div><!--/.nav-collapse-->