
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<!-- Web Development Primer class info -->
<div class="row jumbotron">
  <% link_to "/webdevelopmentprimer.html" do %>
    <%= image_tag "webdev.png", :class=>"img-responsive centered" %>
  <% end %>

  <h2 class="sr-only">Web Development Primer</h2>

  <p>
    <i class="fa fa-check-square-o fa-3x"></i>
    <% link_to "/childcare.html" do %>
      <%= image_tag "cwk_text.png" %>
    <% end %>
  </p>

  <p>
    Hit the road running with our Web Development Primer course. Learn how to use several important tools used by professional developers, and get a grasp on the underlying concepts of the Internet. This class assumes students have little or no experience with web technologies such as writing code for the web. See the <%= link_to "course website", "http://portlandcodeschool.github.io/primer" %> for complete course details, and to complete your <%= link_to "pre-class prep", "https://portlandcodeschool.github.io/primer/prep_work/" %>.
  </p>

  <br>

  <p>
    <%= link_to "Enroll Now!", "/enroll.html", :class=>"btn btn-default big-apply-button" %>
  </p>

  
  <h4>January Primer (Jan 17 - Feb 7)</h4>
  <div class="primer-january">
    <ul class="primer-dates">
      <li>Saturdays (11am - 5pm)</li>
      <li>(Optional help Tuesdays; 6pm - 9pm)</li>
    </ul>
  </div>

  <br>

<!--   <p>
    <strong>Dates: October 4 - October 25</strong>
  </p>
  <p>
    <strong>Hours: Saturdays, 11 AM - 5 PM</strong>
  </p> -->

<!-- For when there is no Primer scheduled -->
<!--   <p>
    Next class will be offered in January. <a href="mailto:info@portlandcodeschool.com">Email us</a> to be alerted when the next start date is announced.
  </p> -->

  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge">$495</span>
      Price:
    </li>
    <li class="list-group-item">
      <span class="badge">$395</span>
      Discount Price<span class="asterisk">*</span>:
    </li>
  </ul>

  <p>
    <span class="asterisk">*</span><em>$100 discount if you sign up at a Portland Code School <%= link_to "public event", "http://www.meetup.com/Portland-Code-School-Learning-and-Development-Group/" %>!</em>
  </p>

  <br>

  <p>
    <%= link_to "Enroll Now!", "/enroll.html", :class=>"btn btn-default big-apply-button" %>
  </p>

</div>

