
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<div class="row">
  <br>
  <div class="about-box">

    <div class="about-us">
      <h2>Web Foundations Series</h2>
      <hr>

      <!-- Web Development Primer class info -->
      <div class="row jumbotron">
        <% link_to "/webdevelopmentprimer.html" do %>
          <%= image_tag "banners/wfs.png", :class=>"img-responsive centered" %>
        <% end %>

        <h2 class="sr-only">Web Foundations Series</h2>

        <h3><%= link_to "Now Enrolling!", "/enroll.html" %></h2>

        <p>
          Get your very first taste of tech! This <%= link_to "two part program", "http://portlandcodeschool.github.io/primer" %> is for people who are ready to explore the field of web development and learn some of the industry standard skills and tools.
        </p>  
        <p>
          Take the Primer Basic to get your toes wet, or take the whole series to springboard farther into the exciting world of code!
        </p>

        <ul>
          <li><strong>Primer Basic</strong> - In the first class you will learn the very basics of building websites in a fun, collaborative environment using HTML, CSS and GitHub. This class assumes students have little or no experience with web technologies.</li>
          <li><strong>Primer Pro</strong> - create interactive and responsive websites for small businesses using advanced tools such as JavaScript/jQuery and Bootstrap. Students also get the opportunity to experience an exclusive tour of one of Portland's leading tech companies. This second class helps you understand the world of coding as a professional web developer before entering our advanced, career-track classes (such as Full Stack JavaScript).</li>
        </ul>

        <p>
          Visit the <%= link_to "class website", "http://portlandcodeschool.github.io/primer" %> for a detailed look at the curriculum, and to read student testimonials. Get your first 100 hours of coding with our Web Foundations Series! 
        </p>

        <br>

        <div class="next-cohort">
          <h2 style="text-decoration:underline;">NEXT WEB FOUNDATIONS SERIES</h2>
          <h3>PRIMER BASIC</h3>
          <h3 style="margin-top:-15px;">May 5 - May 28</h3>
          <h4 style="margin-top:-15px;">Tuesday/Thursday (6pm - 9pm)</h4>
          <h3>PRIMER PRO</h3>
          <h3 style="margin-top:-15px;">June 2 - June 25</h3>
          <h4 style="margin-top:-15px;">Tuesday/Thursday (6pm - 9pm)</h4>
          <p>
            <%= link_to "Enroll Now!", "/enroll.html", :class=>"btn btn-default big-apply-button" %>
          </p>
        </div>  

        <br>

        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">$495</span>
            Primer Basic
          </li>
          <li class="list-group-item">
            <span class="badge">$595</span>
            Primer Pro
          </li>
          <li class="list-group-item">
            <span class="badge">$990</span>
            Web Foundations Series (Primer Basic + Primer Pro)<span class="asterisk">*</span>
          </li>
        </ul>

        <p>
          <span class="asterisk">*</span><em>Receive a $100 discount when you sign up for the entire series!</em> However, you may also sign up for the Primer Basic, and add the Primer Pro class later at the regular tuition price.  
        </p>

        <br>

        <p>
          <%= link_to "Enroll Now!", "/enroll.html", :class=>"btn btn-default big-apply-button" %>
        </p>

      </div>
    </div>
  </div>
</div>

