---
pageable: true
per_page: 12
---
<% content_for(:title, "Posts Tagged '#{tagname}'") %>

<section id="posts-by-tag">
  <h2>Posts Tagged '<%= tagname %>'</h2>

  <button class="btn btn-default blog-btn"><%= link_to '<i class="fa fa-angle-double-left"></i> All tags', "/blog/tags/" %></button>

  <% page_articles.each_with_index do |article, i| %>
    <ul>
      <li>
        <h3><%= link_to article.title, article %></h3>
        <div class="article-details">
          <div class="article-date">
            <%= article.date.strftime('%Y-%m-%d') %>
          </div>
          <div class="tags">
            tags:
            <% article.tags.sort.each_with_index do |tag, i| %>
              <% last = (i == article.tags.size - 1) %>
              <%= link_to tag, tag_path(tag) %><%= "," unless last  %>
            <% end %>
          </div>
        </div>
      </li>
    </ul>
  <% end %>

  <% if paginate && (prev_page || next_page) %>
    <p>Page <%= page_number %> of <%= num_pages %></p>
    <p>
    <% if prev_page %>
      <%= link_to '<i class="fa fa-angle-double-left"></i> previous',
          prev_page, :class => "pagination" %>
    <% end %>
    <% if next_page %>
      <%= link_to 'next <i class="fa fa-angle-double-right"></i>',
          next_page, :class => "pagination" %>
    <% end %>
    </p>
  <% end %>

</section>
