---
title: About
---

<h2>About Portland Code School</h2>
<hr>
<p>
  Portland Code School students learn from experienced programmers, develop the skills needed to join a leading tech company, and have direct access to a network of local companies interested in hiring new developers. In addition to learning the nuts and bolts of coding, we teach you to solve problems, work as part of a team, and communicate clearly with clients and peers.
</p>
<p>
  You will learn the basics through a variety of methods, including in person lessons, screencasts, and reading documentation. You will solidify your understanding and hone your teamwork skills with code challenges structured like real client specs. Pair programming with classmates will be an essential component of everything you do. By the end of the course, you will know how to work with others to create technical solutions, have a portfolio to show employers, and have honed your interview and business sense. For more information about the nitty gritty details, please see our <%= link_to "frequently asked questions", "/faq.html" %>, or <%= link_to "contact us", "/contact.html" %>.
</p>

<h2>Meet The Team</h2>
<hr>

<div class="col-md-12 color-block">
  <%= image_tag "Cris_Bio.jpg", :class=>"thumbnail circle" %>
  <h3>Cris Kelly</h3>
  <h4>Director</h4>
  <p>
    Cris Kelly, Director of PCS
Cris has been an experiential educator and professional team builder since 1993. In 2011, he wanted to expand his career options, so he has been a freelancing, front end web developer ever since. A transplant from Minnesota, California, and Ashland, OR, he is also a musician, game designer, rock climber, and father of one amazing boy (who insists on wearing his Spider Man pajamas to the store, and wants to be either a Firefighter or a Transformer when he grows up).
  </p>
</div>

<div class="col-md-12 color-block">
  <%= image_tag "http://placekitten.com/200/200", :class=>"thumbnail circle" %>
  <h3>Al Zimmerman</h3>
  <h4>Instructor</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue elementum ultrices. Phasellus vitae sapien non dui fermentum vestibulum. Sed ac sapien pretium, ornare diam at, vestibulum tortor.
  </p>
</div>

<div class="col-md-12 color-block">
  <%= image_tag "http://placekitten.com/200/200", :class=>"thumbnail circle" %>
  <h3>David Manning</h3>
  <h4>Instructor</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue elementum ultrices. Phasellus vitae sapien non dui fermentum vestibulum. Sed ac sapien pretium, ornare diam at, vestibulum tortor.
  </p>
</div>

<h2>Our History</h2>
<hr>
<p>
  Portland Code School began as the brain child of Chuck Lauer Vose in September 2012. While teaching a web development course at a local college, Chuck saw that there was a huge gap between the skills one could learn from beginner coding tutorials and the skills needed to be a successful full-time software developer. He realized also that the demand for competent new programmers in Portland far exceeded the supply. Through collaboration with programmer communities across Portland and beyond, Portland Code School was born to bridge that gap. We are indebted to a great many people, and would like to give <%= link_to "special thanks", "/thanks.html" %> for their help in making this dream a reality. 
</p>
