---
title: About
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<div class="row">
  <h2>About Portland Code School</h2>
  <hr>
  <p>
    Portland Code School students learn from experienced programmers, develop the skills needed to join a leading tech company, and have direct access to a network of local companies interested in hiring new developers. In addition to learning the nuts and bolts of coding, we teach you to solve problems, work as part of a team, and communicate clearly with clients and peers.
  </p>
  <p>
    You will learn the basics through a variety of methods, including in person lessons, screencasts, and reading documentation. You will solidify your understanding and hone your teamwork skills with code challenges structured like real client specs. Pair programming with classmates will be an essential component of everything you do. By the end of the course, you will know how to work with others to create technical solutions, have a portfolio to show employers, and have honed your interview and business sense. For more information about the nitty gritty details, please see our <%= link_to "frequently asked questions", "/faq.html" %>, or <%= link_to "contact us", "/contact.html" %>.
  </p>
</div>

<div class="row">
  <h2>Meet The Team</h2>
  <hr>
  <div class="col-md-3 color-block">
    <%= image_tag "Cris_Bio.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class ="col-md-9">
    <h3>Cris Kelly</h3>
    <h4>Portland Code School Director</h4>
    <p>
      Cris comes to PCS with 20 years of experience as an experiential educator and professional team builder. Adding programming and web development to his personal portfolio, he was one of the first graduates of PCS and has gone on to be a driving force in building out the school as the premier educational resource in the area. A Portlander by way of Minnesota, California, and Ashland, OR, he is also a musician, game designer, rock climber, and father of one amazing boy (who insists on wearing his Spider Man pajamas to the store, and wants to be either a Firefighter or a Transformer when he grows up).
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "al_zimmerman_headshot.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3>Al Zimmerman</h3>
    <h4>Instructor</h4>
    <p>
      Al Zimmerman has 30 years of experience in software design, product development, information technology, and management. He has been teaching various aspects of software engineering and programming for over 10 years to middle school students, college students, and professional engineers.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "dmanning.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3>David Manning</h3>
    <h4>Instructor</h4>
    <p>
      David works as a freelance web developer and has been a teacher for more than 10 years. He earned his first paycheck writing backend software for the local newspaper at the age of 15. He’s actively involved in the Portland development community, enjoys underwater cave exploration and is Vitamin D deficient.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "ben.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3>Ben Verble</h3>
    <h4>Instructor</h4>
    <p>
      Benjamin Preston Verble is husband to a beautiful, intelligent wife and father to a hilarious, cute, and loud little boy. He has lived in Portland for seven years and loves it. While he is relatively new to coding, he has been pleasantly surprised by how continually engaging and fun it is. His relative newness to the world of coding also helps him to be relatable to beginners. Ben currently does freelance, front-end web development. His hobbies are guitar, disc golf, and coffee roasting.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "catherine.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3>Catherine Nikolovski</h3>
    <h4>Market Development</h4>
    <p>
      Catherine has a background in non-profit organizing and is active in the tech, design, and political communities.  She is passionate about civic data projects, growing the tech economy in Portland, and high-fantasy period dramas.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "randall.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3>Randall Stickrod</h3>
    <h4>Executive Director</h4>
    <p>
      Randall Stickrod has been an entrepreneur, magazine publisher, media executive, and technology executive. The founder and publisher/editor of <strong><em>Computer Graphics World</em></strong> magazine, which helped launch the vibrant computer graphics industry, he went on to become founding executive publisher of <strong><em>Wired</em></strong> magazine, and consulted in the launch of many others. He served as executive vice president of a major technology publisher, led over $100M of M&A activity with another, and has advised a broad range of media enterprises through the present.
    </p>
    <p>
      Mr. Stickrod was considered a pioneer in the field of computer graphics, and went on to serve as CEO of Miro Computer USA and Zelos Digital Media. Since then he has been a strategic consultant to many other technology companies and the financial community of venture capitalists, investment bankers and private equity firms that support them.
    </p>
    <p>
      He has BS and MS degrees in physics from the University of Oregon and serves on the board of Harvard Media Ventures, a unit of the Harvard Graduate School of Business.
    </p>
  </div>
</div>

<div class="row">
  <h2>Our History</h2>
  <hr>
  <p>
    Portland Code School began as the brain child of Chuck Lauer Vose in September 2012. While teaching a web development course at a local college, Chuck saw that there was a huge gap between the skills one could learn from beginner coding tutorials and the skills needed to be a successful full-time software developer. He realized also that the demand for competent new programmers in Portland far exceeded the supply. Through collaboration with programmer communities across Portland and beyond, Portland Code School was born to bridge that gap. We are indebted to a great many people, and would like to give <%= link_to "special thanks", "/thanks.html" %> for their help in making this dream a reality. 
  </p>
</div>
