---
title: About
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<div class="row">
  <h2>About Portland Code School</h2>
  <hr>
  <p>
    Portland Code School students learn from experienced programmers, develop the skills needed to join a leading tech company, and have direct access to a network of local companies interested in hiring new developers. In addition to learning the nuts and bolts of coding, we teach you to solve problems, work as part of a team, and communicate clearly with clients and peers.
  </p>
  <p>
    You will learn the basics through a variety of methods, including in person lessons, screencasts, and reading documentation. You will solidify your understanding and hone your teamwork skills with code challenges structured like real client specs. Pair programming with classmates will be an essential component of everything you do. By the end of the course, you will know how to work with others to create technical solutions, have a portfolio to show employers, and have honed your interview and business sense. For more information about the nitty gritty details, please see our <%= link_to "frequently asked questions", "/faq.html" %>, or <%= link_to "contact us", "/contact.html" %>.
  </p>
</div>



<div class="row">
  <h2>Our Mission: Quickly prepare talented, motivated people for jobs in web development</h2>
<hr />
  <%= link_to "Let us help you start a new career!", "/getinfo.html", :class=>"btn btn-default big-apply-button" %>
  <p>Our curriculum is designed to take talented, motivated people from zero skills to engaged, challenging employment, whether they want to work from home as freelancers or they want to join a high-tech company as a full-time developer. Our programs are not easy - they take lots of work, dedication, study, and effort over a relatively short period of time. But we have a track record of placing nearly all of our students in interesting, lucrative web development positions.</p>

  <p>All PCS classes employ a broad spectrum of teaching methods: screencasts, online interactive training, instructor-led discussions and design workshops, and team-oriented project-based programming activities. PCS maintains an open classroom where students can congregate at any time of the day to work on projects, do homework, or interact with instructor/mentors. PCS instructors and students support and participate in local development community activities.</p> 

  <p>PCS cultivates an employer network of high-technology software development companies, placement companies, and employment agencies who provide time, people, and resources to help PCS students learn state-of-the-art skills and find internships, temporary contracts, and entry-level jobs.</p>

</div>

<div class="row">
  <h2>Meet The Team</h2>
  <hr>
  <div class="col-md-3 color-block">
    <%= image_tag "Cris_Bio.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class ="col-md-9">
    <h3>Cris Kelly</h3>
    <h4>Portland Code School Director</h4>
    <p>
      Cris comes to PCS with 20 years of experience as an experiential educator and professional team builder. Adding programming and web development to his personal portfolio, he was one of the first graduates of PCS and has gone on to be a driving force in building out the school as the premier educational resource in the area. A Portlander by way of Minnesota, California, and Ashland, OR, he is also a musician, game designer, rock climber, and father of one amazing boy (who insists on wearing his Spider Man pajamas to the store, and wants to be either a Firefighter or a Transformer when he grows up).
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "al_zimmerman_headshot.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3 id="al-zimmerman" class="link-padding">Al Zimmerman</h3>
    <h4>Instructor</h4>

    <p>Al Zimmerman has 30 years of experience in software design, product development, information technology, and management. He has been teaching various aspects of software engineering and programming for over a dozen years to middle school students, college students, and professional engineers. He has experienced the joys of being on a tight-knit team of collaborators and wants to share that experience with his students.</p>

    <p>He is currently on a mission to increase diversity in the programming profession, having experienced the thrill of product development on teams composed of men, women, artists, engineers and scientists. "The best ideas come from all directions at once," he says.</p>

    <p>"More than anything," he says, "I love being in a classroom with talented, inquisitive people, helping them discover new things and achieve their career goals."</p>

    <p>In his spare time, Al is an improvisational comedy actor at Curious Comedy Theater where he finds that listening carefully, responding honestly, and laughing frequently is as useful on stage as it is in the classroom.</p>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "dmanning.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3 id="david-manning" class="link-padding">David Manning</h3>
    <h4>Instructor</h4>
    <p>
      David works as a freelance web developer and has been a teacher for more than 10 years. He earned his first paycheck writing backend software for the local newspaper at the age of 15. He’s actively involved in the Portland development community, enjoys underwater cave exploration and is Vitamin D deficient.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "ben.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3 id="ben-verble" class="link-padding">Ben Verble</h3>
    <h4>Instructor</h4>
    <p>
      Benjamin Preston Verble does freelance, front-end web development when he's not teaching developers.  He has continues to be pleasantly surprised by how engaging and fun coding is. His classroom style helps him to be relatable to beginners while his experience helps him challenge more advanced students. He has lived in Portland for seven years and loves it.His hobbies are guitar, disc golf, and coffee roasting. He is husband to a beautiful, intelligent wife and father to a hilarious, cute, and loud little boy. 
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "catherine.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3>Catherine Nikolovski</h3>
    <h4>Market Development</h4>
    <p>
      Catherine is deeply involved in Portland area tech, design and public policy communities. She is the executive director of Hack Oregon, a non-profit organization focused on civic data visualization.  She has extensive experience in community organizing, and her work at Portland Code School is focused on strengthening relationships between PCS students and the community of prospective employers. Catherine created the Coders With Kids program at PCS. She is passionate about civic data projects, growing the tech economy in Portland, and high-fantasy period dramas.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "randall.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3>Randall Stickrod</h3>
    <h4>Executive Director</h4>
    <p>
      Randall Stickrod has been an entrepreneur, magazine publisher, media executive, and technology executive. The founder and publisher/editor of <strong><em>Computer Graphics World</em></strong> magazine, which helped launch the vibrant computer graphics industry, he went on to become founding executive publisher of <strong><em>Wired</em></strong> magazine, and consulted in the launch of many others. He served as executive vice president of a major technology publisher, led over $100M of M&A activity with another, and has advised a broad range of media enterprises through the present.
    </p>
    <p>
      Mr. Stickrod was considered a pioneer in the field of computer graphics, and went on to serve as CEO of Miro Computer USA and Zelos Digital Media. Since then he has been a strategic consultant to many other technology companies and the financial community of venture capitalists, investment bankers and private equity firms that support them.
    </p>
    <p>
      He has BS and MS degrees in physics from the University of Oregon and serves on the board of Harvard Media Ventures, a unit of the Harvard Graduate School of Business.
    </p>
  </div>
</div>

<div class="row">
  <h2>Our History</h2>
  <hr>
  <p>
  Portland Code School launched its first class in September 2012, as an offshoot of development shop Burnside Digital, under the guidance of Chuck Lauer Vose, who saw a growing gap between the skills attainable through local colleges and the skills necessary to be a successful software developer in the business world. Since then, PCS has developed a broad curriculum of the most in-demand programming courses, and continues to place more than 90% of its graduates with employers throughout the area.
  </p>
  <p>
  We are indebted to a great many people for this success and would like to give <%= link_to "special thanks", "/thanks.html" %> for their help making this possible. 
  </p>
</div>
