---
title: Advanced Front End
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->


<div class="row">
  <br>
  <div class="about-box">
    <div class="about-us">
      <h2>Advanced Front End Dev Tools</h2>
      <hr>

      <!-- Class info -->
      <div class="row jumbotron">
        <% link_to "/advancedfe.html" do %>
          <%= image_tag "banners/afe.png", :class=>"img-responsive centered" %>
        <% end %>


        <h2 class="sr-only">Advanced Front End Dev Tools</h2>

        <h3><%= link_to "Now Enrolling!", "https://pcs.formstack.com/forms/advanced_front_end_tools_enrollment_form_copy_copy", :target=>"_blank" %></h3>
        <p>
          Ready to go beyond the basics? This class is for people who have some Front End Design and Development experience and want learn technologies and techniques used by practicing Front End Web Developers. By the end of this course, you will have created several interactive, state-of the art websites – using local and backend data storage – to add to your portfolio. You will also meet local developers and tour local tech companies as part of the class.
        </p>

          <p>In these 4 weeks, you will get hands-on experience using professional web developer tools such as:</p>
          <ul class="tech-list">
            <li>SASS (a CSS preprocessor) for accelerated development</li>
            <li>LESS for customizing Bootstrap for unique styling</li>
            <li>Browser-side storage such as HTML5 Web Storage and Web SQL Database</li>
            <li>REST-based APIs to add services and functionality</li>
            <li>jQuery and AJAX to store and retrieve data from Backend-as-a-Service providers</li>
          </ul>

        <h3>Prerequisites</h3>  
        <p>Students must have some experience in HTML, CSS, and JavaScript. Students can qualify by:</p>
        <ul class="tech-list">
          <li>Completing the Web Foundations classes (Primer Basic and/or Primer Pro)</li>
          <li>Sending us the URLs of sites you’ve developed and deployed (or link to portfolio)</li>
          <li>Sending us the URLs of your web site repositories on github.com</li>
        </ul>
          
<!--         <p>
          Visit the <%= link_to "class website", "http://portlandcodeschool.github.io/jsi/" %> for a more in-depth look.
        </p> -->

        <p>
          <strong>Meet the instructor: <%= link_to "Al Zimmerman", "/meettheteam.html#al-zimmerman" %>!</strong>
        </p>

        <div class="next-cohort">
          <h3 style="text-decoration:underline;">NEXT COHORT</h3>
          <h4 style="margin-top:-15px;">September 14 - October 7</h4>
          <h5>Tuesdays/Thursdays 6pm - 9pm</h4>

          <div>
            <%= link_to "Enroll Now!", "https://pcs.formstack.com/forms/advanced_front_end_tools_enrollment_form_copy_copy", :class=>"btn btn-default big-apply-button", :target=>"_blank" %>
          </div>
        </div>

        <p>
          <%= partial "partials/4-week-cost-table"%>
        </p>
      </div> <!-- end jumbotron -->

    </div>
  </div>
</div>
