---
title: Apply
---

<br>
<h2>Getting Started at Portland Code School</h2>
<hr>

<h3>Things to Know About This Form</h3>

<p>
  <ul>
    <li>If you have <span style="text-decoration:underline">no programming experience</span>, we encourage you to attend our <%= link_to "Primer", "/webdevelopmentprimer.html" %> course before applying to our longer job readiness courses. Alternatively, you may send us the link to your GitHub account with code samples.</li>
    <li><span style="text-decoration:underline">The technical requirements</span> for Full Stack JavaScript classes are the learning objectives of the Primer class (working knowledge of HTML/CSS and GitHub basics). For a more detailed look at the Primer's curriculum, please visit the <%= link_to "Primer's website", "https://portlandcodeschool.github.io/primer/course/", target: "_blank" %>.</li>
  </ul>
</p>

<h4>
  Filling out this form is the <span style="text-decoration:underline">first step in the application process</span>. After submitting this form, you will be sent a confirmation email with further instructions.
</h4>
<!-- <p>
  If you have no programming experience, we encourage you to attend our <%= link_to "Primer", "/webdevelopmentprimer.html" %> course before applying to our longer job readiness courses.
</p> -->
<!--
<p>
  Filling out this form does NOT enroll you in a class.
</p>
 -->
<!-- <p>
  Please refer to the <%= link_to "frequently asked questions", "/faq.html" %> <em>before</em> applying. By applying, you affirm that you understand how much you will be expected to pay for tuition, your payment options, and the methods of payment we accept.
</p> -->

<!-- <h3>Note:</h3>

<p>All prospective <%= link_to "JavaScript Immersion", "/javascriptimmersion.html" %>, <%= link_to "Full Stack JavaScript", "/javascript.html" %>, and <%= link_to "Front End Development", "/frontenddevelopment.html" %> students will need to have these materials ready to complete the application:</p>
<ol>
  <li>A <%= link_to "GitHub account", "https://GitHub.com/join" %>, for creating <%= link_to "Gists", "https://gist.GitHub.com/" %>.</li>
  <li>A Gist of your resume. Bonus points for formatting it with <%= link_to "GitHub Flavored Markdown", "https://help.github.com/articles/github-flavored-markdown" %>.</li>
  <li> A Gist of your cover letter. Describe your interest in programming, any experience you have coding, and how you function in a team environment. Again, we love Markdown!</li>
</ol> -->

<div class="hidden-xs">
  <iframe src="https://docs.google.com/forms/d/1xopZnMYbhEJL3gs7aNVqx8BIqLntQup-5KlkURJx2VE/viewform?embedded=true" width="800" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>

<div class="visible-xs">
  <iframe src="https://docs.google.com/forms/d/1xopZnMYbhEJL3gs7aNVqx8BIqLntQup-5KlkURJx2VE/viewform?embedded=true" width="280" height="920" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
