---
title: Apply
---


<h2>Apply To Portland Code School!</h2>
<hr>
<p>
  Thank you for your interest in attending Portland Code School! Please be sure to review our <%= link_to "classes page", "/classes.html" %> to decide which of our courses best fits your needs. If you aren't sure which class is for you, feel free to <%= mail_to "ckelly@portlandcodeschool.com", "email us" %> for more information.
</p>
<p>
  We look for students who will work hard, challenge themselves, and be team players. This program is accelerated, and you will be required to put in time outside of class for learning, coding, and pairing if you want to succeed. Part of this application process is showing that you can learn new things and overcome technical challenges. Don't be intimidated if we ask you to do something you aren't familiar with yet! Use the linked resources we've provided, and you should be just fine. Show us you would be a stellar student at PCS!
</p>

<h3>Are You Ready?</h3>
<hr>
<p>
  Note: If you have no programming experience, we highly encourage you to apply for and attend our <%= link_to "Primer course", "#" %> before applying to either the Ruby on Rails or Full-Stack Javascript course.
</p>
<p>
  All prospective students need to have these materials ready to complete the application:
  <ol>
    <li>A <%= link_to "Github account", "https://github.com/join" %>, for creating <%= link_to "Gists", "https://gist.github.com/" %>.</li>
    <li>A Gist of your resume. Bonus points for formatting it with <%= link_to "Markdown", "http://daringfireball.net/projects/markdown/" %>.</li>
    <li> A Gist of your cover letter. Describe your interest in programming, any experience you have coding, and how you function in a team work environment. Again, we love Markdown!</li>
    <li>Any optional extras or class-specific requirements.</li>
  </ol>
</p>

<h4>Extras</h4>
<em>Ruby on Rails</em>
<ul>
  <li>The link to a GitHub repository containing a "Hello World" app in Ruby on Rails. The first chapter of Michael Hartl's <%= link_to "Ruby on Rails Tutorial", "http://ruby.railstutorial.org/ruby-on-rails-tutorial-book#top" %> will walk you through the process.</li>
</ul>


<em>Full-Stack Javascript</em>
<ul>
  <li>The link to a GitHub repository containing an index.html page. The index page can simply say "Hello World" on it.</li>
</ul>

<em>Optional</em>
<ul>
  <li>Links to any code samples or portfolio items you are working on.</li>
  <li>Digital evidence of you being awesome. A video of you rapping, a poem about trees, or an animated gif of you doing interpretive dance</li>
  <li>Description of any tech community involvement, including attendance at local user groups; activity on any mailing lists, forums, or IRC channels; an active Twitter account; etc. <%= link_to "Calagator", "http://calagator.org/" %> is a great resource for finding ways to get involved!</li>
</ul>

<div class="row">
  <button type="button" class="btn btn-default apply-button col-md-2 col-md-offset-5">
    <%= link_to "Apply now!", "https://docs.google.com/forms/d/1IkU2Ar6UJohi9YIM-eSHTy-sSZMtB2gxeUvFqgwlVmA/viewform" %>
  </button>
</div>
