---
title: Apply
---

<h2>Apply to Portland Code School</h2>
<hr>

<h3>Things You Should Know Before Applying</h3>

<p>
  If you have no programming experience, we highly encourage you to apply for and attend our <%= link_to "Web Development Primer", "/webdevelopmentprimer.html" %> course before applying to our four-month immersion courses.</em>
</p>
<p>
  Please read the <%= link_to "frequently asked questions", "/faq.html" %> <em>before</em> applying. By applying, you affirm that you understand how much you will be expected to pay for tuition, your payment options, and the methods of payment we accept.
</p>

<h3>What You'll Need:</h3>


<p>

  <h4>Required Materials</h4>
  <p>All prospective students will need to have these materials ready to complete the application:</p>
  <ol>
    <li>A <%= link_to "GitHub account", "https://GitHub.com/join" %>, for creating <%= link_to "Gists", "https://gist.GitHub.com/" %>.</li>
    <li>A Gist of your resume. Bonus points for formatting it with <%= link_to "GitHub Flavored Markdown", "https://help.github.com/articles/github-flavored-markdown" %>.</li>
    <li> A Gist of your cover letter. Describe your interest in programming, any experience you have coding, and how you function in a team environment. Again, we love Markdown!</li>
    <li>Any optional extras</li>
  </ol>
</p>

<h4>Optional Extras</h4>
<em>Ruby on Rails</em>
<ul>
  <li>The link to a GitHub repository containing a "Hello World" app in Ruby on Rails. The first chapter of Michael Hartl's <%= link_to "Ruby on Rails Tutorial", "http://ruby.railstutorial.org/ruby-on-rails-tutorial-book#top" %> will walk you through the process.</li>
</ul>


<em>Full-Stack JavaScript</em>
<ul>
  <li>The link to a GitHub repository containing an index.html page. The index page can simply say "Hello World" on it.</li>
</ul>

<em>General</em>
<ul>
  <li>Links to any code samples or portfolio items you are working on.</li>
  <li>Digital evidence of you being awesome. A video of you rapping, a poem about trees, or an animated gif of you doing interpretive dance</li>
  <li>Description of any tech community involvement, including attendance at local user groups; activity on any mailing lists, forums, or IRC channels; an active Twitter account; etc. <%= link_to "Calagator", "http://calagator.org/" %> is a great resource for finding ways to get involved!</li>
</ul>

<div class="container form">
  <h3>Apply!</h3>
  <script type="text/javascript">var submitted=false;</script><iframe name="hidden_iframe" id="hidden_iframe"style="display:none;" onload="if(submitted){window.location='http://portlandcodeschool.com/confirmation/';}"></iframe>
  <form action="https://docs.google.com/forms/d/1xopZnMYbhEJL3gs7aNVqx8BIqLntQup-5KlkURJx2VE/formResponse" method="post"target="hidden_iframe" onsubmit="submitted=true;">
      <div role="list">
          <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item jfk-scrollbar ss-item-required ss-text">
                  <div class="ss-form-entry">
                      <label aria-hidden="true" class="ss-q-item-label" for="entry_184696079">
                          <div class="ss-q-title">First name
                              <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                              <span class="ss-required-asterisk">*</span>
                          </div>
                          <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                      </label>
                      <input type="text" name="entry.184696079" value="" class="ss-q-short" id="entry_184696079" dir="auto" aria-label="First name  " aria-required="true" required="" title="">
                      <div class="error-message"></div>

                  </div>
              </div>
          </div>
          <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item jfk-scrollbar ss-item-required ss-text">
                  <div class="ss-form-entry">
                      <label aria-hidden="true" class="ss-q-item-label" for="entry_619055709">
                          <div class="ss-q-title">Last name
                              <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                              <span class="ss-required-asterisk">*</span>
                          </div>
                          <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                      </label>
                      <input type="text" name="entry.619055709" value="" class="ss-q-short" id="entry_619055709" dir="auto" aria-label="Last name  " aria-required="true" required="" title="">
                      <div class="error-message"></div>

                  </div>
              </div>
          </div>
          <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item jfk-scrollbar ss-item-required ss-text">
                  <div class="ss-form-entry">
                      <label aria-hidden="true" class="ss-q-item-label" for="entry_2078147415">
                          <div class="ss-q-title">Email address
                              <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                              <span class="ss-required-asterisk">*</span>
                          </div>
                          <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                      </label>
                      <input type="email" name="entry.2078147415" value="" class="ss-q-short" id="entry_2078147415" dir="auto" aria-label="Email address  Must be a valid email address" aria-required="true" required="" title="Must be a valid email address">

                  </div>
              </div>
          </div>
          <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item jfk-scrollbar ss-item-required ss-radio">
                  <div class="ss-form-entry">
                      <label aria-hidden="true" class="ss-q-item-label" for="entry_14839259">
                          <div class="ss-q-title">Which class are you applying for?
                              <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                              <span class="ss-required-asterisk">*</span>
                          </div>
                          <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                      </label>

                      <ul class="ss-choices" role="radiogroup" aria-label="Which class are you applying for?  ">
                          <li class="ss-choice-item">
                              <label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.824493740" value="Web Development Primer" id="group_824493740_1" role="radio" class="ss-q-radio" aria-label="Web Development Primer" required="" aria-required="true"></span>
                                  <span class="ss-choice-label">Web Development Primer</span>
                              </label>
                          </li>
                          <li class="ss-choice-item">
                              <label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.824493740" value="Front End Freelancing" id="group_824493740_2" role="radio" class="ss-q-radio" aria-label="Front End Freelancing" required="" aria-required="true"></span>
                                  <span class="ss-choice-label">Front End Freelancing</span>
                              </label>
                          </li>
                          <li class="ss-choice-item">
                              <label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.824493740" value="Full-Stack Javascript" id="group_824493740_3" role="radio" class="ss-q-radio" aria-label="Full-Stack Javascript" required="" aria-required="true"></span>
                                  <span class="ss-choice-label">Full-Stack Javascript</span>
                              </label>
                          </li>
                          <li class="ss-choice-item">
                              <label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.824493740" value="Ruby on Rails" id="group_824493740_4" role="radio" class="ss-q-radio" aria-label="Ruby on Rails" required="" aria-required="true"></span>
                                  <span class="ss-choice-label">Ruby on Rails</span>
                              </label>
                          </li>
                      </ul>
                      <div class="error-message"></div>
                  </div>
              </div>
          </div>
          <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item jfk-scrollbar ss-item-required ss-checkbox">
                  <div class="ss-form-entry">
                      <label aria-hidden="true" class="ss-q-item-label" for="entry_561211861">
                          <div class="ss-q-title">What type of operating system do you use?
                              <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                              <span class="ss-required-asterisk">*</span>
                          </div>
                          <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                      </label>

                      <ul class="ss-choices ss-choices-required" role="group" aria-label="What type of operating system do you use?  ">
                          <li class="ss-choice-item">
                              <label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.814322425" value="Windows" id="group_814322425_1" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
                                  <span class="ss-choice-label">Windows</span>
                              </label>
                          </li>
                          <li class="ss-choice-item">
                              <label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.814322425" value="Linux" id="group_814322425_2" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
                                  <span class="ss-choice-label">Linux</span>
                              </label>
                          </li>
                          <li class="ss-choice-item">
                              <label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.814322425" value="Mac OS X" id="group_814322425_3" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
                                  <span class="ss-choice-label">Mac OS X</span>
                              </label>
                          </li>
                          <li class="ss-choice-item">
                              <label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.814322425" value="__other_option__" id="group_814322425_4" role="checkbox" class="ss-q-checkbox ss-q-other-toggle" aria-required="true"></span>
                                  Other:
                              </label>
                              <span class="ss-q-other-container goog-inline-block"><input type="text" name="entry.814322425.other_option_response" value="" class="ss-q-other" id="entry_814322425_other_option_response" dir="auto" aria-label="Other"></span>
                          </li>
                      </ul>
                      <div class="error-message"></div>
                  </div>
              </div>
          </div>
          <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item jfk-scrollbar ss-item-required ss-paragraph-text">
                  <div class="ss-form-entry">
                      <label aria-hidden="true" class="ss-q-item-label" for="entry_1339473469">
                          <div class="ss-q-title">Describe your career goals, or what you hope to achieve from attending a Portland Code School class
                              <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                              <span class="ss-required-asterisk">*</span>
                          </div>
                          <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                      </label>
                      <textarea name="entry.1339473469" rows="8" cols="0" class="ss-q-long" id="entry_1339473469" dir="auto" aria-label="Describe your career goals, or what you hope to achieve from attending a Portland Code School class  " aria-required="true" required=""></textarea>
                      <div class="error-message"></div>

                  </div>
              </div>
          </div>
          <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item jfk-scrollbar ss-item-required ss-text">
                  <div class="ss-form-entry">
                      <label aria-hidden="true" class="ss-q-item-label" for="entry_96836075">
                          <div class="ss-q-title">Please include a GitHub Gist link to your cover letter
                              <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                              <span class="ss-required-asterisk">*</span>
                          </div>
                          <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                      </label>
                      <input type="text" name="entry.96836075" value="" class="ss-q-short" id="entry_96836075" dir="auto" aria-label="Please include a GitHub Gist link to your cover letter  " aria-required="true" required="" title="">
                      <div class="error-message"></div>

                  </div>
              </div>
          </div>
          <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item jfk-scrollbar ss-item-required ss-text">
                  <div class="ss-form-entry">
                      <label aria-hidden="true" class="ss-q-item-label" for="entry_522534351">
                          <div class="ss-q-title">Please include a GitHub Gist link to your resume
                              <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                              <span class="ss-required-asterisk">*</span>
                          </div>
                          <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                      </label>
                      <input type="text" name="entry.522534351" value="" class="ss-q-short" id="entry_522534351" dir="auto" aria-label="Please include a GitHub Gist link to your resume  " aria-required="true" required="" title="">
                      <div class="error-message"></div>

                  </div>
              </div>
          </div>
          <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item jfk-scrollbar  ss-paragraph-text">
                  <div class="ss-form-entry">
                      <label aria-hidden="true" class="ss-q-item-label" for="entry_1011041526">
                          <div class="ss-q-title">Extras
                          </div>
                          <div class="ss-q-help ss-secondary-text" dir="ltr">Include any optional extras here</div>
                      </label>
                      <textarea name="entry.1011041526" rows="8" cols="0" class="ss-q-long" id="entry_1011041526" dir="auto" aria-label="Extras Include any optional extras here "></textarea>
                      <div class="error-message"></div>

                  </div>
              </div>
          </div>
          <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item jfk-scrollbar  ss-checkbox">
                  <div class="ss-form-entry">
                      <label aria-hidden="true" class="ss-q-item-label" for="entry_761859032">
                          <div class="ss-q-title">
                          </div>
                          <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                      </label>

                      <ul class="ss-choices" role="group" aria-label="  ">
                          <li class="ss-choice-item">
                              <label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.936783560" value="I&#39;m interested in the Coders with Kids program!" id="group_936783560_1" role="checkbox" class="ss-q-checkbox"></span>
                                  <span class="ss-choice-label">I&#39;m interested in the Coders with Kids program!</span>
                              </label>
                          </li>
                      </ul>
                      <div class="error-message"></div>
                  </div>
              </div>
          </div>
          <input type="hidden" name="draftResponse" value="[,,&quot;4338566316708369245&quot;]
  ">
          <input type="hidden" name="pageHistory" value="0">
          <input type="hidden" name="fromEmail" value="false">

          <input type="hidden" name="fbzx" value="4338566316708369245">

          <div class="ss-item ss-navigate">
              <table id="navigation-table">
                  <tbody>
                      <tr>
                          <td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
                              <input type="submit" name="submit" value="Apply!" id="ss-submit" class="big-apply-button btn btn-default">
                              <div class="ss-required-asterisk">* Indicates required field.</div>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </form>
</div>
