---
title: Calendar
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<div class="row">
  <br>
  <div class="about-box">
    <div class="about-us">
      <h2>Events at Portland Code School</h2>
      <hr>


      <!-- iOS class info -->
      <div class="row jumbotron">
        <% link_to "/careers" do %>
          <%= image_tag "banners/events.png", :class=>"img-responsive centered" %>
        <% end %>

        <h2 class="sr-only">Portland Code School Events</h2>

        <h3>Wednesday, August 12</h3>

        <div class="next-cohort">
          <h3 style="text-decoration:underline;">Student Project Showcase / Open House</h3>
          <h4 style="margin-top:-15px;">August 12, 2015</h4>
          <h4 style="margin-top:-15px;">Wednesday, 11am - 1pm</h4>
          <h4 style="margin-top:-15px;"><%= link_to "LOCATION: Portland Code School", "https://goo.gl/maps/0SuQz", :target=>"_blank" %></h4>
          <p>It's final project Showcase time at Portland Code School!</p>
          <p>Whether you're an employer looking for your next great team member, or you're just curious about PCS in general, come to our <%= link_to "showcase event / open house", "http://calagator.org/events/1250468910", :target=>"_blank" %>.</p>
          <p>Students have just graduated from our Full Stack JavaScript Immersion class. They have dedicated the last three months to learning essential web development tools and teamwork skills, making them highly qualified to contribute to any team as junior developers (front or back end). The Full Stack JavaScript curriculum takes students through core JavaScript concepts and frameworks, such as: jQuery and DOM manipulation, AJAX, JSON, TDD, restful API contstruction, Node, and MV* frameworks using either Ember or Backbone.</p>
          <p>Come and see the fantastic apps they've built!</p>
        </div>

        <h3>Saturday, August 22</h3>

        <div class="next-cohort">
          <h3 style="text-decoration:underline;">Family Coding (TechFestNW Workshop)</h3>
          <h4 style="margin-top:-15px;">August 22, 2015</h4>
          <h4 style="margin-top:-15px;">10am - 12pm and 3pm - 5pm</h4>
          <h4 style="margin-top:-15px;"><%= link_to "LOCATION: Viewpoint (1510 SE Water Ave)", "https://goo.gl/maps/mGwzY", :target=>"_blank" %></h4>
          <h4>KIDS AND FAMILIES, INTERACTIVE CODING GAMES</h4>
          <p>A day of special workshops just for kids (K - 6th grade) and families!</p>
          <p>For more information, and to register, <%= link_to "CLICK HERE", "http://techfestnw.com/networking/tfnw-interactive/", :target=>"_blank" %>.</p>
          
        </div>

        <!-- <div class="next-cohort">
          <h3 style="text-decoration:underline;">Code Oregon Labs</h3>
          <h4 style="margin-top:-15px;">July 23, 2015</h4>
          <h4 style="margin-top:-15px;">Thursday, 6 – 9 p.m.</h4>
          <h4 style="margin-top:-15px;"><%= link_to "Portland Code School, 735 SW 20th Pl #230, Portland, OR", "https://goo.gl/maps/0SuQz", :target=>"_blank" %></h4>
          <p>Portland Code School (PCS) and Code Fellows invite online learners of all stripes to Code Oregon Labs. This is an open lab for people who are learning to code online and who would benefit from high-quality, in-person tutoring from professional instructors and industry veterans. Together with <%= link_to "Code Oregon", "https://teamtreehouse.com/code-oregon", :target=>"_blank" %> and volunteers from the community, PCS and Code Fellows will provide tutors at a 6:1 ratio. Bring your laptop! Space is limited to 30, so <%= link_to "reserve your spot today.", "https://www.codefellows.org/events-calendar#pdx-july-col", :target=>"_blank" %></p>
          <p>Interested in volunteering as a tutor? <%= mail_to "info@portlandcodeschool.com", "Contact Cris Kelly." %></p>
        </div> -->

        <div class="row">
          <div class="col-xs-12 google-embed">
            <iframe src="http://www.google.com/calendar/embed?src=portlandcodeschool.com_p2r1jkfosr32rpk6etutglhnp4%40group.calendar.google.com&ctz=America/Los_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
