---
title: About
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<div class="row">
  <br>
  <div class="about-box">
    <div class="about-us">
      <h2>Job Opportunities at Portland Code School</h2>
      <hr>


      <!-- iOS class info -->
      <div class="row jumbotron">
        <% link_to "/careers" do %>
          <%= image_tag "banners/careers.png", :class=>"img-responsive centered" %>
        <% end %>

        <h2 class="sr-only">Job Opportunities at Portland Code School</h2>

        <h3>PCS is hiring!</h3>

        <p>Are you an expert programmer and "a natural teacher?" Do you embody these three core values: Positivity, Curiosity, and Empathy? If so, then we want to talk with you!</p>  
        <p>Our instructors understand that today's programming jobs require teamwork, collaboration, lifelong learning, and solid technical skills. It is for this reason that we work with students on many levels – not just technically.</p>

        <p>As they usher new people into the tech arena, our instructors also understand that their number one job is to ensure a positive learning experience for all students. At PCS, we offer a collaborative classroom environment, and we need instructors who can create a positive and productive classroom.</p>  

        <p><b>We are currently hiring for several part-time and full-time positions:</b></p>

        <div class="next-cohort">
          <h3 style="text-decoration:underline;">JavaScript Immersion Instructor (or Co-Instructors)</h3>
          <h4 style="margin-top:-15px;"><%= link_to "JSi Job Description (PDF)", "/images/JSi-job-description.pdf", :target=>"_blank" %></h4>
          <h5>Class runs August 10 – November 6</h5>
        </div>

        <div class="next-cohort">
          <h3 style="text-decoration:underline;">JavaScript Evening Co-Instructor(s)</h3>
          <h4 style="margin-top:-15px;"><%= link_to "JSe Job Description (PDF)", "/images/JSe-job-description.pdf", :target=>"_blank" %></h4>
          <h5>Class runs July 13 – November 12</h5>
        </div>

        <div class="next-cohort">
          <h3 style="text-decoration:underline;">Foundations Series Co-Instructor(s)</h3>
          <h4 style="margin-top:-15px;"><%= link_to "Foundations Job Description (PDF)", "/images/FoundationsJobDescription.pdf", :target=>"_blank" %></h4>
          <h5>Classes are ongoing, 4-8 weeks long</h5>
        </div>

        <div class="next-cohort">
          <h3>If you are ready to share your knowledge with others who are hungry to learn what you know:</h3>
          <p><%= mail_to "info@portlandcodeschool.com", "Email Us", :class=>"btn btn-default big-apply-button" %></p>
        </div>

        <p>Do you have an area of expertise you'd like to teach at PCS? <%= mail_to "info@portlandcodeschool.com", "Tell us about it!" %></p>

        <!-- <div class="next-cohort">
          <h3 style="text-decoration:underline;">Curriculum Developer(s) and/or Co-Instructor(s)</h3>
          <h4 style="margin-top:-15px;">Various Workshops</h4>
          <h5>Classes vary in length from 1 day to 4 weeks</h5>
          <h5>Node, Angular, React, SQL vs. NoSQL, WordPress, UX Design, and other topics</h5>
        </div> -->

      </div> <!-- End jumbotron -->
    </div> <!-- End about-us -->
  </div> <!-- End about-box -->
</div> <!-- End row -->

</div>
