---
title: Coders with Kids
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<h2>Coders with Kids</h2>

<%= image_tag "wv-logo.png", :class=>"img-responsive" %>

<p>In partnership with Karen Beninati's WeVillage, parents in the Coders with Kids program will receive vouchers for childcare. These vouchers will cover all class time, plus some outside study time at no additional cost to tuition.</p>

<p>WeVillage is a top-rated independent daycare facility with locations in Hillsboro and the Pearl. They operate on a drop-in basis, so parents will be able to redeem hourly vouchers and tailor a schedule that works for them. For more information about WeVillage, visit their web site at <%= link_to "http://www.wevillage.com", "http://www.wevillage.com" %></p>

<p>PCS course offerings include daytime and evening classes, including a new Front-end Freelancer class designed especially for individuals who plan to work from home. We hope that Coders with Kids will provide extra encouragement to busy parents for whom it may have been difficult to find time to devote to career building.
</p>

<p>
  <strong>Here's the skinny:</strong>
</p> 

<p>
  <strong>Look for this symbol on eligible <%= link_to "classes", "/classes.html" %>:</strong>
</p>
<p>
  <i class="fa fa-check-square-o fa-3x"></i>
  <% link_to "/childcare.html" do %>
    <%= image_tag "cwk_text.png" %>
  <% end %>
</p>

<ul>
<li>You will not have to pay the joining fee</li> 

<li>Vouchers will be for 15 hours per week (for 4 months). This is enough to cover class time and some outside group project work time.</li>

<li>If you go beyond the 15 hours in a week, you still pay the PCS rate ($7.50 per hour)</li>
</ul>

<p>For more information, check the "I'm interested in the Coders With Kids program" on the <%= link_to "Get Info", "partials/infoform.html" %> form when you apply.</p>