---
title: Coders with Kids
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->
<div class="container">

  <div class="cwk_wrapper">
    <div class="cwk_bg">
      <div class="cwk_image">
        <%= image_tag "/images/bubble.jpg", :class=>"img-responsive" %>
        <div class="cwk_heading">
          <h1>Change your career while being a parent!</h1>
        </div>
      </div>
    </div>

    <div class="cwk-announcement">
      <h2>Coders With Kids program</h2>
      <p>Parents of young children don't get a lot of breaks. We believe that parents who want to change their lives in meaningful ways should be given the opportunity. Changing one's career is always challenging, but with child(ren) that challenge is compounded. Learning to program requires many things, and one of them is extended periods of concentration – a luxury few parents are afforded. That's why we came up with our Coders With Kids program.</p>
      <p>Once enrolled in a qualifying PCS class (Full Stack JavaScript ​classes or iOS Mobile), parents are allocated a pool of resources to apply towards childcare at the <%= link_to "licensed provider", "http://www.oregon.gov/OCC/CCD%20Forms/LIC/LIC-311/LIC-311.pdf", :target=>"_blank" %> of their choice. Portland Code School will implement a direct invoicing system with the participating childcare provider to apply funding towards childcare costs, on a monthly basis, during the period of enrollment.</p>
      <p>To sign up for this program simply mark the 'Coders with Kids' checkbox on your enrollment form, when you are ready to sign up for the qualifying class.</p>
    </div>

  </div> <!-- end cwk wrapper -->


<!--   <strong>Look for this symbol on eligible <a href="../classes/">classes</a>:</strong>
  <p>
    <i class="fa fa-check-square-o fa-3x"></i>
    <% link_to "/childcare.html" do %>
      <%= image_tag "cwk_text.png" %>
    <% end %>
  </p> -->

To get more information about the program please contact: <%= mail_to "​collaine@portlandcodeschool.com", "​collaine@portlandcodeschool.com" %>


  <hr>

  <h3>
    What do students say about the Coders With Kids program?
  </h3>
  <div class="testimonial-footer">
    <div class="testimonial-box">
      <p>
        “The Coders with Kids program at PCS allowed me to have my son spend some extra time with his friends, and work on his Wushu skills while I was working on my projects.  With the school’s support I could concentrate on my work without feeling guilty about spending less time with him.”
      </p>
      <p><em>Brigitta Glanz, Solid Interactive</em></p>
    </div>
  </div>  <!-- end testimonial-footer -->


  <hr>  

  <p><strong>Please  <%= mail_to "info@portlandcodeschool.com", "contact us" %> if you have any additional questions.</strong></p>

</div> <!-- end container -->

<!-- <div id="calculator">
  <script type="text/javascript" src="https://www.formstack.com/forms/js.php?1731505-lhGrPWQh4v-v3"></script><noscript><a href="https://www.formstack.com/forms/?1731505-lhGrPWQh4v" title="Online Form">Online Form - Coders with Kids Calculator</a></noscript><div style="text-align:right; font-size:x-small;"></div>
</div> -->
