---
title: Classes
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<div class="row">
  <h2>Classes</h2>
  <hr>
</div>

<!-- JavaScript class info -->
<div class="row">
  <%= image_tag "js.png", :class=>"img-responsive" %>

  <h2 class="sr-only">Full-stack JavaScript</h2>

  <h4 id="javascript-class" class="link-padding">
    JavaScript Hours: 6pm-9pm, Mon/Wed + 1 Saturday per month, 9am-4pm
  </h4>

  <p><strong>This course is eligible for <%= link_to "Coders With Kids", "/childcare.html" %></strong></p>

  <p>
    This course is designed to help students learn how to build web applications and interactive website features from scratch using JavaScript as the primary language. Students will learn both front-end and back-end applications of JavaScript (including jQuery, BackboneJS, and NodeJS). Every web application needs JavaScript, so it’s an extremely powerful language to know, and the demand for JavaScript frameworks such as BackboneJS is only growing.
  </p>
  <p>
    <strong>NOTE:</strong> Students with NO CODING EXPERIENCE should consider our Primer course before diving in to Full Stack JavaScript (see the Classes page for technical requirements).
    Students will be provided Treehouse accounts, and will be given access to the classroom from 9am-5pm M-F, as well as some Saturdays, leaving lots of time for independent and group learning. Students will primarily be working and learning in groups of 2-4 people.
  </p>
  <p>
    The Saturdays that are scheduled learning times (1 Saturday each month) will primarily consist of team building, portfolio development, and other technical areas (such as GitHub and Chrome’s Developer Tools) to round out the students’ curriculum, and broaden their exposure to web development tools.
  </p>
  <p>
    Integrating oneself into the Portland tech community is possibly the single best decision a new student can make. Forging connections and friendships by attending tech meetups and events is the best way to do this. We cannot force you to do this, but we will try (in a loving way :)
  </p>
  <p>
    PCS hosts and sponsors community events periodically. Some of these will be organized and run by our students.
    Another powerful way for web developers to put their best foot forward -- and be extra attractive to employers -- is to contribute to open source projects. We will cover best practices and different ways to make this happen in the latter part of the course.
  </p>

  <p>
    <h4>General Outline (may change slightly each session):</h4>
    <ul>
      <li>Week 1: JavaScript Basics -- Basic Syntax, Variables + Operators</li>
      <li>Week 2: JavaScript Basics -- Loops and Conditionals</li>
      <li>Week 3: JavaScript Basics -- Functions and Objects</li>
      <li>Week 4: JavaScript Basics -- Inheritance and Scope, and Linting</li>
      <li>Week 5: JavaScript -- Writing Tests and TDD</li>
      <li>Week 6: JavaScript -- jQuery, Events, and the DOM</li>
      <li>Week 7: JavaScript -- Modular Code</li>
      <li>Week 8: JavaScript -- JSON</li>
      <li>Week 9: JavaScript -- AJAX</li>
      <li>Week 10: JavaScript -- BackboneJS</li>
      <li>Week 11: JavaScript -- BackboneJS</li>
      <li>Week 12: JavaScript -- BackboneJS</li>
      <li>Weeks 13-16: Big projects, mentoring new students, interview preparation</li>
      <small><strong>NOTE:</strong> Saturday lectures and topics are not listed here, as they will be planned based on the students’ needs</small>
    </ul>
  </p>
  <p>
    <h4>Technical Areas Covered:</h4>
    <ul>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>JavaScript</li>
      <li>jQuery</li>
      <li>GitHub</li>
      <li>JSON</li>
      <li>AJAX</li>
      <li>APIs</li>
      <li>Debugging</li>
      <li>Writing Tests</li>
      <li>Web Standards</li>
      <li>BackboneJS</li>
      <li>NodeJS</li>
    </ul>
  </p>
  <hr>
</div> <!-- !JavaScript class info -->

<!-- ROR class info -->
<div class="row">
  <%= image_tag "ruby.png", :class=>"img-responsive" %>
  
  <h2 class="sr-only">Professional Web Application Development with Ruby on Rails</h2>
  
  <h4 id="ruby-class" class="link-padding">
    Ruby on Rails Hours: 6pm-9pm, Tue/Thurs + some Saturdays 9am-Noon + 1 Saturday per month, 9am-4pm
  </h4>

  <p><strong>This course is eligible for <%= link_to "Coders With Kids", "/childcare.html" %></strong></p>

  <p>
    This class is designed to teach students how build interactive and dynamic web applications using Ruby on Rails in a professional team environment. We start with an intense 1-month refresher on the Ruby language. After that, we dive into the Rails framework, still building our Ruby skills. Along the way, students will become familiar with all aspects of web application architecture. Students will create a series of useful scripts and web applications, culminating in a portfolio-worthy capstone project.
  </p>
  <p>
    While prior programming and web development experience is helpful, it's not required. We have had students with zero experience work hard, take advantage of all possible learning opportunities, and create impressive skills and capstone web applications. Students with NO CODING EXPERIENCE should consider our Primer course as mandatory if they want to be successful.
  </p>
  <p>
    Make no mistake: this is an intense, difficult course. It's not for everyone. We give you as many opportunities to learn as we can, but we set a fast pace and cover a lot of ground. In many ways, it's just like working at a small, faced-paced development company. It's a great way for you to discover whether you like that kind of work. If you complete the course, you'll have all the tools you need to be good at that kind of work, too.
  </p>
  <p>
    Our teaching method emphasizes team-oriented, project-based learning. In addition to self-paced screencasts and interactive coding exercises, students participate in progressively more complicated and interesting real-world coding challenges.
  </p>
  <p>
    As new members of the local technical and business community, students meet and work with local professional developers as guest lecturers and mentors. We introduce students to the local technical community at a series of meetups, helping students build their professional network. Some Tuesday night lab sessions are held at Hack & Help meetups where students work among their industry peers and get help from professionals.
  </p>
  <p>
    Students will be expected to spend 2-3 hours studying outside of class for every hour spent in class. This works out to between 20 and 30 hours a week maximum.
  </p>
  <p>
    Students will be provided Treehouse accounts, and will be given access to the classroom from 9am-5pm M-F, as well as some Saturdays, leaving lots of time for independent and group learning. Students will primarily be working and learning in groups of 2-4 people. Also, PCS hosts a happy hour every other Friday at local restaurants to give students a chance to meet outside of class in a social environment.
  </p>
  <p>
    Some Saturdays include morning sessions of just the Rails class to make sure students get plenty of teacher and mentor interaction time. One Saturday each month, several classes get together to learn team building, portfolio development, and other technical areas (such as jQuery, GitHub and the Chrome Dev Tools) to round out the students’ curriculum, broaden their exposure to web development tools, and prepare for the job market.
  </p>
  <p>
    Capstone projects are either selected from student ideas or our industry partners. A powerful way for developers to put their best foot forward -- and be extra attractive to employers -- is to contribute to open source projects. We will cover best practices and different ways to make this happen in the latter part of the course.
  </p>

  <h4>The course embodies several themes:</h4>
  <ul>
    <li><strong>Programming</strong> - Object-oriented design and idiomatic Ruby programming</li>
    <li><strong>Web application development</strong> - analysis, architecture, design, construction and cloud deployment</li>
    <li><strong>Using frameworks and libraries</strong> to develop web applications</li>
    <li><strong>Teamwork & collaboration</strong> - Working in pairs, on teams, and as a member of the community</li>
    <li><strong>Career preparation</strong> - portfolio development, presenting your work, making business connections, interviewing, collaborating on projects</li>
    <li><strong>Project management</strong> - time management, effective teamwork, iterative and agile development strategies </li>
    <li><strong>Life-long learning strategies</strong> - identifying information sources, reading code, developing mentoring relationships</li>
  </ul><br>

  <h4>General schedule:</h4>
  <ul>
    <li><strong>Month 1</strong> - Ruby language basics, simple code challenges, editing tools, pair programming, teamwork, community</li>
    <li><strong>Month 2</strong> - Advanced Ruby, complex code challenges, web application frameworks (Sinatra, Rails), test-driven development, presentation skills and code walkthroughs</li>
    <li><strong>Month 3</strong> - Working with clients, specifying web applications with user stories and wireframes, creating Rails web applications with test-first methods; career guidance: portfolios, collaboration</li>
    <li><strong>Month 4</strong> - Capstone project design and construction, job hunting skills, technical presentation and mentoring others in the community</li>
  </ul>
  <hr>
</div> <!-- !ROR class info -->

<!-- PCS Primer class info -->
<div class="row">
  <%= image_tag "webdev.png", :class=>"img-responsive" %>
  
  <h2 class="sr-only">PCS Primer</h2>
  
  <h4 id="primer-class" class="link-padding">PCS Primer Hours: Total of 15-18 hours of class time + online content over the 4 weeks.</h4>

  <p><strong>This course is eligible for <%= link_to "Coders With Kids", "/childcare.html" %></strong></p>

  <p> 
    Hit the road running with our PCS Primer course. Learn how to use several important tools used by professional developers, and get a grasp on the underlying concepts of the Internet. This class assumes students have little or no experience with web technologies such as writing code for the web.
  </p>
  <p>
    Learning Objectives - By the end of class you will be able to:
    Collaboratively create a static website using GitHub and Heroku
    Explain HTTP requests and the client-server model
    Use the command line
  <p>
    Create files in a text editor (Sublime Text 2) and display them in a browser
    Inspect a website’s code using the Chrome Developer Tools
    Add at least one project and one code sample to your portfolio
  </p>
  <p>
    Cost: $350 ($250 if you sign up at a PCS event)
  </p>

  <h4>COURSE OUTLINE:</h4>
    <ul>
      <strong>Saturday, December 7 (in the classroom - 9am - 4pm, lunch provided)</strong>
      <li> PRESENTATION - Foundational Concepts for Web Developers </li>
      <li>Set up accounts for Treehouse, Codeschool, IRC, and Google+</li>
      <li>Download and configure Sublime Text 2</li>
      <li>PRESENTATION - Introduction to HTML5 and CSS3</li>
      <li>Activities in HTML and CSS via JSFiddle</li>
      <li>PRESENTATION - Chrome Developer Tools</li>
      <li>WORKSHOP - Build a web page</li>
      <small>Homework:  Eat, Breathe, Sleep</small>

      <strong>Sunday, December 8 (in the classroom - Noon - 4pm)</strong>
      <li>PRESENTATION - Sublime Text 2 shortcuts</li>
      <li>Activities in HTML and CSS</li>
      <li>PRESENTATION - GitHub and the Command Line</li>
      <li>Set up accounts for GitHub and Heroku</li>
      <li>PRESENTATION - Pair Programming and Group Project-ing</li>
      <li>WORKSHOP - Build a team, make a plan</li>
      <small>Homework:  Build a static website with your team</small>

      <strong>Tuesday, December 10 (time and place TBA - determined by group) </strong>
      <li>Practice using GitHub and Heroku</li>
      <li>Get more familiar with Sublime Text 2 shortcuts</li>
      <li>Meet with your team to develop your project further</li>
      <li>CHALLENGE: Use media queries, @font-face, or CSS transitions on your site</li>
      <small>Homework:  Projects + join us for Friday Happy Hour at Hopworks on Powell!</small>

      <strong>Friday, December 13 (Happy hour at Hopworks on Powell - 5pm - optional)</strong>
      <li>First round is on us!</li>
      <li>No structured content, but help provided as needed</li>
      
      <strong>Tuesday, December 17 (time and place TBA - determined by group) </strong>
      <li>CHALLENGE: Bootstrap your website</li>
      <li>Each team member adds a new feature on the website</li>
      <small>Homework:  Projects + online tutorials for Programming Basics, et al</small>

      <strong>Saturday, January 4 (in the classroom - 9am - Noon)</strong>
      <li>PRESENTATION - How does the internet work?</li>
      <li>PRESENTATION - Introduction to the Basics of Programming</li>
      <li>Install NodeJS and do some basic things in the REPL</li>
      <li>WORKSHOP - Write a basic server script to load up your website, and use 
        Beefy for live reloading</li>
      <li>Groups present their projects</li> 
      <li>Feedback</li>
      <small>Homework: Online tutorials for Programming Basics, et al</small>
    </ul>
  <p>
    How to apply:
    Show up to any PCS event or send an email to info@portlandcodeschool.com.
  </p>
  <hr>
</div> <!-- !PCS Primer class info -->

<!-- Front End Freelancing class info -->
<div class="row">
  <%= image_tag "frontend.png", :class=>"img-responsive" %>

  <h2 class="sr-only">Front End Freelancing</h2>

  <h4 id="freelance-class" class="link-padding">Front End Freelancing Hours: 9am-12pm, Mon/Wed/Friday</h4>

  <p><strong>This course is eligible for <%= link_to "Coders With Kids", "/childcare.html" %></strong></p>

  <p>
    This comprehensive course gives you everything you need to start a freelance career in front-end web development. In this fast-paced, project-based 16-week course, you will learn all the skills necessary for web application front-end design and development:
  </p>
  <ul>
    <li>Designing web site look, feel, and functionality based on client requirements</li>
    <li>Understanding basic principles of user interface design and user experience patterns</li>
    <li>Constructing web sites with HTML, CSS, JavaScript, and JQuery</li>
    <li>Styling modern, fresh-looking designs with CSS3</li>
    <li>Creating responsive designs that work on phones, tablets, or traditional laptops and wide-screen monitors.</li>
    <li>Using frameworks like Bootstrap</li>
    <li>Programming simple JavaScript routines</li>
    <li>Using jQuery to provide interactivity and engaging user experiences</li>
    <li>Creating easy-to-maintain, hand-crafted sites using static site generators</li>
    <li>Using content-management systems like WordPress to speed development</li>
    <li>Collaborating with development teams using GitHub</li>
    <li>Understanding how to succeed in the freelance job market</li>
    <li>Developing self-motivated job skills for working at home and delivering on time</li>
    <li>Working with temp job agencies like Vitamin T - 
    Students receive assistance and coaching in landing their first freelance job assignment</li>
  </ul>
  <p>
    This class is for anybody, but particularly at-home new parents with pre-school-aged children who want to enter the remote-worker freelance market. NOTE: Complementary Childcare is provided for class and studying time for all students at no extra cost
  </p>

  <h4>The course embodies several themes:</h4>
  <ul>
    <li>Standards-based, validated HTML and CSS coding</li>
    <li>Web site client analysis, information architecture, site design, construction, deployment and maintenance</li>
    <li>Using frameworks and libraries to develop web sites</li>
    <li>Working in pairs, on teams, and as a member of the community</li>
    <li>Career preparation - time management, portfolio development, presenting your work, making business connections, interviewing, collaborating on projects</li>
    <li>Project management - time management, effective teamwork, iterative and agile development strategies </li>
    <li>Life-long learning strategies - identifying information sources, reading code, developing mentoring relationships</li>
  </ul>

  <h4>General schedule</h4>
  <ul>
    <li>Month 1 - HTML/CSS basics, validation, simple sites, editing tools, pair programming, teamwork, community</li>
    <li>Month 2 - Advanced HTML/CSS, working with audio and video, static site generators, responsive design, web frameworks (Bootstrap), JavaScript programming basics</li>
    <li>Month 3 - Working with clients, specifying web applications with user stories and wireframes, more JavaScript, creating interactivity with jQuery; career guidance: portfolios, collaboration</li>
    <li>Month 4 - Capstone project design and construction, job hunting skills, pitching to clients, making technical presentations and mentoring others in the community</li>
  </ul>
</div> <!-- !Front End Freelancing class info -->
