---
title: All Classes
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<%= partial "partials/classnavlinks" %>

<h3>First Time Coders:</h3>
<%= partial "partials/webdevelopmentprimer" %>
<hr>
<hr>

<h3>Part Time Classes:</h3>
<%= partial "partials/frontendfreelancing" %>
<hr>
<%= partial "partials/javascript" %>
<hr>
<hr>

<h3>Full Time Classes:</h3>
<%= partial "partials/javascriptimmersion.html" %>
<hr>
<hr>

<h3>Coming Soon:</h3>
<%= partial "partials/datavisualization" %>
<hr>
<%= partial "partials/mobileapps" %>
