---
title: FAQ
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<h2>Frequently Asked Questions</h2>

<h3>Financial:</h3>

<div class="question">
  <h4><%= link_to "How much do classes cost?", "#" %></h4>
  <div class="answer">
    <p>
      <ul>
        <li>$350 for the three-week <%= link_to "Web Development Primer", "/webdevelopmentprimer.html" %>. If you sign up at a Portland Code School <%= link_to "public event", "https://www.facebook.com/PortlandCodeSchool/events" %>, get a $100 discount!</li>
        <li>$3500 for the four-month part-time classes (<%= link_to "Ruby on Rails", "/rubyonrails.html" %>, <%= link_to "Full Stack JavaScript", "/javascript.html" %>, and <%= link_to "Front End Freelancing", "/frontendfreelancing.html" %>).</li>
        <li>$6000 for the three-month full-time class (<%= link_to "JavaScript Immersion", "/javascriptimmersion.html" %>)</li>
      </ul>
    </p>
    <p>Check out our payment plans below for financing options.</p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "What payment methods do you accept?", "#" %></h4>
  <div class="answer">
    <p>
      At this time, we accept cash or check payments only, although we hope to begin accepting PayPal soon!
    </p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "Do you have payment plans/scholarships available for your classes?", "#" %></h4>
    <div class="answer">
      <p>
        Payment plans are available for the part- and full-time classes.
      </p>
      <p>
        We require a $1000 deposit, due one week before your class begins. Then, during the course, you don't pay anything!
      </p>
      <p>
        We hope to institute a work-trade program soon, allowing you to reduce the principle on your class payments by TAing for another class. Subscribe to our <%= link_to "mailing list", "/contact.html" %> to be the first to hear when we announce the details!</p>
      <p>
        The month after the class ends, you will begin making payments. If you choose to pay your balance in full when you receive your first invoice, your interest payment will be waived. <%= link_to "Contact us", "/contact.html" %> for an itemized payment schedule.
      </p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "Can I use Stafford Loans, VA benefits, or GI Bill to pay for classes?", "#" %></h4>
    <div class="answer">
    <p>Unfortunately, we cannot accept any payment methods other than cash or check at this time.</p>
  </div>
</div>

<h3>Job Placement:</h3>

<div class="question">
  <h4><%= link_to "Am I guaranteed a job at end of the program?", "#" %></h4>
    <div class="answer">
    <p>No. However, students who attend Portland Code School for the purpose of getting their first development job have a high degree of success.</p>
    <p>Our classes emphasize job-readiness and teach you skills professional developers use every day.</p>
    <p>In addition, we work with several placement agencies to get you employed. Portland Code School and its partners help students with interview coaching, resumé building, and networking within Portland’s tech community.</p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "What percentage of your students get jobs?", "#" %></h4>
    <div class="answer">
    <p>Out of our graduates who wanted to start development jobs, our summer 2013 cohort is 100% placed, and our winter 2013 cohort is 80% placed.</p>
    <p>Our classes emphasize job-readiness and teach you skills professional developers use every day.</p>
    <p>In addition, we work with several placement agencies to get you employed. Portland Code School and its partners help students with interview coaching, resumé building, and networking within Portland’s tech community.</p>
  </div>
</div>

<h3>General:</h3>

<div class="question">
  <h4><%= link_to "There are so many ways to learn programming online. Why should I go to Portland Code School?", "#" %></h4>
    <div class="answer">
    <p>It's true that there are many resources online to help you learn to program, many of which are free! So why should you attend Portland Code School?</p>
    <p>At Portland Code School, we provide you with a classroom experience that can't be duplicated by online or remote learning. We emphasize project-based learning, pair programming, and provide one-on-one access to instructors. Many of our students have tried to learn online, and found that having experienced developers to ask questions, and a cohort of learners they can rely on, are essential to making the leap from programming hobbyist to professional developer.</p>
    <p>For more information about the experience we provide, see our <%= link_to "student benefits", "/benefits.html" %>, or <%= link_to "contact us", "/contact.html" %>.</p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "Who are your instructors and support staff?", "#" %></h4>
    <div class="answer">
    <p>Portland Code School is committed to providing our students with faculty and staff who can help you achieve your goals. Our instructors are working tech professionals and educators. <%= link_to "Meet the team!", "/meettheteam.html" %></p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "What if I have never coded before?", "#" %></h4>
    <div class="answer">
    <p>That’s perfectly fine. Our <%= link_to "Web Development Primer class", "/webdevelopmentprimer.html" %> is designed to get you the technical skills needed to be accepted into any of our part- or full-time extended classes. Those skills include basic HTML, CSS, version control (specifically git), collaborative workflows using GitHub, how to use the Chrome Developer Tools, and Sublime Text. If you do not yet possess those skills, we recommend <%= link_to "enrolling", "enroll.html" %> in our <%= link_to "Web Development Primer", "/webdevelopmentprimer.html" %> class, or <%= link_to "applying", "apply.html" %> for our <%= link_to "Front End Freelancing", "/frontendfreelancing.html" %> class.</p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "Which class is best for me?", "#" %></h4>
    <div class="answer">
    <p>This is a great question, and is highly dependent on your personal learning and career goals. We recommend checking our <%= link_to "course descriptions", "/classes.html" %> and <%= link_to "contacting us", "/contact.html" %> to help you get a better idea of what skills you’ll get out of each class, and which class will best meet your needs.</p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "What is the difference between Full-Stack JavaScript and JavaScript Immersion?", "#" %></h4>
    <div class="answer">
    <p>In a word, scheduling! We want to accommodate the varying schedules and learning styles of our students.</p>

    <p>For students who are very self-directed, who work, or who prefer evening classes, we offer the <%= link_to "Full-Stack JavaScript", "/javascript.html" %> class. The evening class meets two nights per week for three hours each, as well as one Saturday per month. Students are expected to study for an additional 20 hours per week outside of class. This class provides 120 hours of dedicated instruction time, as well as full access to Portland Code School facilities, instructors, and TAs during open lab time. Open lab time generally runs from 10 AM - 6 PM Monday through Friday, with some weekend hours. this class runs for a full 16 weeks. The cost is $3500.</p>

    <p>We offer the <%= link_to "JavaScript Immersion", "/javascriptimmersion.html" %> class for students who want more dedicated instruction time during regular daytime hours. The class meets from 9 AM - 5 PM Monday through Friday for 12 weeks. This class provides 480 hours of dedicated instruction time. THe cost is $6000.</p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "What happens if I can't keep up, or if I find that programming is not for me?", "#" %></h4>
    <div class="answer">
    <p>We highly recommend taking our <%= link_to "Web Development Primer class", "/webdevelopmentprimer.html" %> if you would like a low-risk introduction to programming.</p>
    <p>Our classes provide an accelerated learning program, so you should be prepared to treat your time at Portland Code School like a professional job. If you do find that our classes are too much for you, or that programming is simply not your thing, then we retain the $1000 non-refundable deposit, and refund you a pro-rated amount of tuition.</p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "When is the application deadline?", "#" %></h4>
    <div class="answer">
    <p>The application deadline is generally 6 weeks before the start of each class, but check our <%=link_to "calendar" , "/calendar.html" %> just to be sure.</p>
    <p>We do sometimes extend application deadlines, so if you see a class starting soon, but the application deadline has passed, <%= link_to "contact us", "/contact.html" %> just in case!</p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "When do classes start?", "#" %></h4>
    <div class="answer">
    <p>Please check our <%=link_to "calendar" , "/calendar.html" %> for the start dates for each class, or the <%= link_to "class descriptions", "/classes.html" %> for the next time each class is offered.</p>
  </div>
</div>

<h3>Still Have Questions?</h3>

<%= link_to "Contact Us!", "/contact.html", :class=>"btn btn-default big-apply-button" %>
