---
title: FAQ
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<h2>Frequently Asked Questions</h2>

<h3>Financial:</h3>

<div class="question">
  <h4><%= link_to "How much do classes cost?", "#" %></h4>
  <div class="answer">
    <p>
      <ul>
        <li>$350 for the three-week <%= link_to "Web Development Primer", "/webdevelopmentprimer.html" %>.</li>
        <li>$3500 for the four-month immersion classes (<%= link_to "Ruby on Rails", "/rubyonrails.html" %>, <%= link_to "Full Stack JavaScript", "/javascript.html" %>, and <%= link_to "Front End Freelancing", "/frontendfreelancing.html" %>).</li>
      </ul>
    </p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "What payment methods do you accept?", "#" %></h4>
  <div class="answer">
    <p>
      At this time, we accept cash or check payments only, although we hope to begin accepting PayPal soon!
    </p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "Do you have payment plans available for your classes?", "#" %></h4>
    <div class="answer">
      <p>
        Payment plans are available for the four-month immersion classes.
      </p>
      <p>
        We require a $1000 deposit, due one week before your class begins. Then, during the course, you don't pay anything!
      </p>
      <p>
        The month after the four-month program ends, you will begin making payments. If you choose to pay your balance in full when you receive your first invoice, your interest payment will be waived. Otherwise, you will pay $320 each month for eight months, and $90 the ninth month, for a total of $2650 ($2500 blanace, plus 6% interest).
      </p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "Can I use Stafford Loans, VA benefits, or GI Bill to pay for classes?", "#" %></h4>
    <div class="answer">
    <p>Unfortunately, we cannot accept any payment methods other than cash or check at this time.</p>
  </div>
</div>

<h3>Job Placement:</h3>

<div class="question">
  <h4><%= link_to "Am I guaranteed a job at end of the program?", "#" %></h4>
    <div class="answer">
    <p>No. However, students who attend Portland Code School for the purpose of getting their first development job have a high degree of success.</p>
    <p>Our immersion classes emphasize job-readiness and teach you skills professional developers use every day.</p>
    <p>In addition, we work with several placement agencies to get you employed. Portland Code School and its partners help students with interview coaching, resumé building, and networking within Portland’s tech community.</p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "What percentage of your students get jobs?", "#" %></h4>
    <div class="answer">
    <p>Out of our graduates who wanted to start development jobs, our summer 2013 cohort is 100% placed, and our winter 2013 cohort is 80% placed.</p>
    <p>Our immersion classes emphasize job-readiness and teach you skills professional developers use every day.</p>
    <p>In addition, we work with several placement agencies to get you employed. Portland Code School and its partners help students with interview coaching, resumé building, and networking within Portland’s tech community.</p>
  </div>
</div>

<h3>General:</h3>

<div class="question">
  <h4><%= link_to "There are so many ways to learn programming online. Why should I go to Portland Code School?", "#" %></h4>
    <div class="answer">
    <p>It's true that there are many resources online to help you learn to program, many of which are free! So why should you attend Portland Code School?</p>
    <p>At Portland Code School, we provide you with a classroom experience that can't be duplicated by online or remote learning. We emphasize project-based learning, pair programming, and one-on-one access to instructors. Many of our students have tried to learn online, and found that having experienced developers to ask questions, and a cohort of learners they can rely on, are essential to making the leap from programming hobbyist to professional developer.</p>
    <p>For more information about the experience we provide, see our <%= link_to "student benefits", "/benefits.html" %>.</p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "Who are your instructors and support staff?", "#" %></h4>
    <div class="answer">
    <p>Find all the awesome details about our instructors and support staff on our <%= link_to "About", "/about.html" %> page: <%= link_to "Meet the team!", "/about.html#meettheteam" %></p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "What if I have never coded before?", "#" %></h4>
    <div class="answer">
    <p>That’s perfectly fine. Our <%= link_to "Web Development Primer class", "/webdevelopmentprimer.html" %> is designed to get you the technical skills needed to be accepted into any of our four-month immersion classes. Those skills include: using basic HTML, CSS, GitHub, and Sublime Text (or another excellent text editor for developers). If you do not yet possess those skills, we recommend taking either our <%= link_to "Web Development Primer", "/webdevelopmentprimer.html" %> or <%= link_to "Front End Freelancing", "/frontendfreelancing.html" %> classes.</p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "Which class is best for me?", "#" %></h4>
    <div class="answer">
    <p>This is a great question, and is highly dependent on your personal learning and career goals. We recommend checking our <%= link_to "course descriptions", "/classes.html" %> and <%= link_to "contacting us", "/getinfo.html" %> to help you get a better idea of what skills you’ll get out of each class, and which class will best meet your needs.</p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "What happens if I can't keep up, or if I find that programming is not for me?", "#" %></h4>
    <div class="answer">
    <p>We highly recommend taking our <%= link_to "Web Development Primer class", "/webdevelopmentprimer.html" %> if you would like a low-risk introduction to programming.</p>
    <p>Our four-month immersion classes provide an accelerated learning program, so you should be prepared to treat your time at Portland Code School like a professional job. If you do find that our four-month immersion classes are too much for you, or that programming is simply not your thing, then we retain the $1000 non-refundable deposit, and refund you a pro-rated amount of tuition.</p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "When is the application deadline?", "#" %></h4>
    <div class="answer">
    <p>This is generally 2 weeks before the start of each class, but check our <%=link_to "calendar" , "/calendar.html" %> just to be sure.</p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "When do classes start?", "#" %></h4>
    <div class="answer">
    <p>Please check our <%=link_to "calendar" , "/calendar.html" %> for the start dates for each class, or the <%= link_to "class descriptions", "/classes.html" %> for the next time each class is offered.</p>
  </div>
</div>

<h3>Still Have Questions?</h3>

<%= link_to "Contact Us!", "/getinfo.html", :class=>"btn btn-default big-apply-button" %>
