---
title: FAQ
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<br>
<h2>Frequently Asked Questions</h2>
<hr>

<h3>Financial:</h3>

<div class="question">
  <h4><%= link_to "How much do classes cost?", "#" %></h4>
  <div class="answer">
    <p>
      <ul>
        <li><strong>Part-time class:</strong> (<%= link_to "Full Stack JavaScript Evening", "/javascript.html" %>)</li>
        <%= partial "partials/16-week-cost-table" %>
        <li><strong>Full-time class:</strong> (<%= link_to "Full Stack JavaScript Immersion", "/javascriptimmersion.html" %>)</li>
        <%= partial "partials/12-week-cost-table" %>
      </ul>
    </p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "What payment methods do you accept?", "#" %></h4>
  <div class="answer">
    <p>
      We accept cash, check, or PayPal for all classes.
    </p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "Do you have scholarships and/or financing available for your classes?", "#" %></h4>
    <div class="answer">
      <h4>YES!</h4>
<!--       <p>
        <strong>Scholarships</strong> – If you are seeking financial assistance, scholarships might be available to assist you in your class completion and job search efforts after completion through our community partner WorkSource. <a href="mailto:apontius@pcc.edu">Contact Amy Pontius</a>, Career Specialist (apontius@pcc.edu). For more information, download <%= link_to "this informational overview", "/images/scholarship_info.pdf", :target=>"_blank" %>. There is an application process to determine eligibility, so if you're interested, contact Amy right away to see if you qualify!
      </p>  --> 
      <p>
         <strong>Scholarships</strong> – If you are seeking financial assistance, scholarships might be available to you through one of our partners. Find out more about eligibility at your interview. Let us know if you're interested! 
      </p>  
      <p>
        <strong>Financing Options</strong> – We are excited to offer financing through our partnership with <%= link_to "Climb Credit", "https://climbcredit.co/", :target=>"_blank" %>. Climb offers financing for your tuition over a 3.5 year period, although you can pay off your loan early without any penalties. When you are accepted into our program, you can apply for approval. Most applicants find out if they qualify the same day they apply.
      </p>
      <p>
        <a href="/images/climb-promo-jsi.pdf" target="_blank" style="color:blue;"><strong>JavaScript Immersion Class</strong> financing information (PDF).</a>
      </p>
      <p>
        <a href="/images/climb-promo-jse.pdf" target="_blank" style="color:blue;"><strong>JavaScript Evening Class </strong> financing information (PDF).</a>
      </p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "Can I use Stafford Loans or federal funding to pay for classes?", "#" %></h4>
    <div class="answer">
    <p>Unfortunately, we cannot accept federal financial aid at this time.</p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "Does Portland Code School currently accept the New GI Bill?", "#" %></h4>
    <div class="answer">
    <p>Operation Code</p>
    <p>Unfortunately, Portland Code School is unable to accept the New GI Bill at this time, but hope to in the future. However, we support the efforts of <%= link_to "Operation Code", "http://operationcode.org/", :target=>"_blank" %>to expand the New GI Bill to include code school tuition, room and board.</p>
  </div>
</div>

<h3>Job Placement:</h3>

<div class="question">
  <h4><%= link_to "Am I guaranteed a job at end of the program?", "#" %></h4>
    <div class="answer">
    <p>No. However, students who attend Portland Code School for the purpose of getting their first development job have a high degree of success.</p>
    <p>Our classes emphasize job-readiness and teach you skills professional developers use every day.</p>
    <p>In addition, we work with several placement agencies to get you employed. Portland Code School and its partners help students with interview coaching, resumé building, and networking within Portland’s tech community.</p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "What percentage of your immersion students get jobs?", "#" %></h4>
    <div class="answer">
    <p>With the exception of the cohort that had their showcase event in late December 2014, our immersion students are 100% placed (out of those seeking dev jobs).</p>
    <!-- <p>Our classes emphasize job-readiness and teach you skills professional developers use every day.</p> -->
    <p>In addition to providing our own job-readiness activites (company tours, mock technical interviews, etc.), we work with several staffing agencies to help get you employed.</p>
  </div>
</div>

<h3>General:</h3>

<div class="question">
  <h4><%= link_to "There are so many ways to learn programming online. Why should I go to Portland Code School?", "#" %></h4>
    <div class="answer">
    <p>It's true that there are many resources online to help you learn to program, many of which are free! So why should you attend Portland Code School?</p>
    <p>At Portland Code School, we provide you with a classroom experience that can't be duplicated by online or remote learning. We emphasize project-based learning, pair programming, and provide one-on-one access to instructors. Many of our students have tried to learn online, and found that having experienced developers to ask questions, and a cohort of learners they can rely on, are essential to making the leap from programming hobbyist to professional developer.</p>
    <p>For more information about the experience we provide, see our <%= link_to "student benefits", "/benefits.html" %>, or <%= link_to "contact us", "/contact.html" %>.</p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "Who are your instructors and support staff?", "#" %></h4>
    <div class="answer">
    <p>Portland Code School is committed to providing our students with faculty and staff who can help you achieve your goals. Our instructors are working tech professionals and educators. <%= link_to "Meet the team!", "/meettheteam.html" %></p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "What if I have never coded before?", "#" %></h4>
    <div class="answer">
    <p>That’s perfectly fine. Our <%= link_to "Web Foundations Series", "/webdevelopmentprimer.html" %> is designed to get you the technical skills needed to be accepted into any of our advanced classes. Those skills include HTML, CSS, version control (specifically git), collaborative workflows using GitHub, how to use the Chrome Developer Tools, and Sublime Text. If you do not yet possess those skills, we recommend <%= link_to "enrolling", "enroll.html" %> in our <%= link_to "Web Foundations Series", "/webdevelopmentprimer.html" %> class.</p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "Which class is best for me?", "#" %></h4>
    <div class="answer">
    <p>This is a great question, and is highly dependent on your personal learning and career goals. We recommend checking our <%= link_to "course descriptions", "/classes.html" %> and <%= link_to "contacting us", "/contact.html" %> to help you get a better idea of what skills you’ll get out of each class, and which class will best meet your needs.</p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "What is the difference between Full-Stack JavaScript Evening vs. Immersion?", "#" %></h4>
    <div class="answer">
    <p>In a word, scheduling! We want to accommodate the varying schedules and learning styles of our students.</p>

    <p>For students who are self-directed, work a day job, or who prefer evening classes for personal reasons, we offer the <%= link_to "Full-Stack JavaScript Evening Class", "/javascript.html" %>. The evening class meets two nights each week for three hours a night, as well as one Saturday per month. Students are expected to study for about 3 hours outside of class for every hour in class (about 18 hours per week outside of class). Instructors and TAs hold office hours (open labs) every day of the week that class is not held (except Fridays). Furthermore, students are provided full access to Portland Code School facilities during school hours (M-F, 9am - 9pm + most Saturdays). This class runs for a full 18 weeks.</p>

    <p>We offer the <%= link_to "Full-Stack JavaScript Immersion Class", "/javascriptimmersion.html" %> for students who want more dedicated instruction time during regular daytime hours. The class meets from 9 AM - 5 PM Monday through Friday for 13 weeks. This class provides over 500 hours of dedicated instruction time, weekly tours of tech companies, job readiness training with professional recruiters, and a project showcase event shortly after graduation.</p>
  </div>
</div>

<div class="question">
  <h4><%= link_to "What happens if I can't keep up, or if I find that programming is not for me?", "#" %></h4>
    <div class="answer">
    <p>We highly recommend taking our <%= link_to "Web Development Primer class", "/webdevelopmentprimer.html" %> if you would like a low-risk introduction to programming.</p>
    <p>Our classes provide an accelerated learning program, so you should be prepared to treat your time at Portland Code School like a professional job. If you do find that our classes are too much for you, or that programming is simply not your thing, then we will pro-rate any remaining tuition.</p>
  </div>
</div>

<!-- <div class="question">
  <h4><%= link_to "When is the application deadline?", "#" %></h4>
  <div class="answer">
    <p>For our core classes (Full Stack JavaScript Immersion and Evening), the deadline is currently 2 weeks before the start date.</p>
    <p>We do accept applications on an ongoing basis, so to secure your seat in any class, we encourage you to apply as early as possible.</p>
    <p>For workshops and seminar series (Primer and Data Viz currently), applications are due one week before the start date. But again, the earlier you apply, the more likely you are to secure your seat.</p>
  </div>
</div> -->

<div class="question">
  <h4><%= link_to "When do classes start?", "#" %></h4>
    <div class="answer">
    <p>Please check our <%=link_to "calendar" , "/calendar.html" %> for the start dates for each class, or the <%= link_to "class descriptions", "/classes.html" %> for the next time each class is offered.</p>
  </div>
</div>

<h3>Still Have Questions?</h3>

<%= link_to "Contact Us!", "/contact.html", :class=>"btn btn-default big-apply-button" %>
