---
title: Friends of PCS
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<h2>Friends of PCS</h2>

<p>
  Portland Code School's students, staff, and instructors want to celebrate all the individual, community, and employer partners that help us learn, grow, and create great new developers. Friends of PCS get first access to new graduates and discounts on class tuition for themselves or their teams.
</p>

<h3>Become a Friend of PCS Now!</h3>
<p>
  <%= mail_to "info@portlandcodeschool.com", "Contact us" %> to find out how your team can become a Friend of PCS!
</p>

<h2>Employer Partners</h2>
<div class="jumbotron">

  <div class="row">

    <div class="col-sm-4">
      <h3 class="centered">GraphAlchemist</h3>
      <% link_to "http://www.graphalchemist.com/" do %>
        <%= image_tag "friendsofpcs/GraphAlchemist.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>

    <div class="col-sm-4 color-block">
      <h3 class="centered">HouseHappy</h3>
      <% link_to "http://www.househappy.org/" do %>
        <%= image_tag "friendsofpcs/HouseHappy_temp.png", :class => "thumbnail circle centered"%>
      <% end %>
    </div>

    <div class="col-sm-4 color-block">
      <h3 class="centered">Orchestrate</h3>
      <% link_to "http://orchestrate.io/" do %>
        <%= image_tag "friendsofpcs/Orchestrate.gif", :class => "thumbnail circle centered"%>
      <% end %>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-4 color-block">
      <h3 class="centered">Struck</h3>
      <% link_to "http://www.struck.com/" do %>
        <%= image_tag "friendsofpcs/Struck.png", :class => "thumbnail circle centered"%>
      <% end %>
    </div>

    <div class="col-sm-4 color-block">
      <h3 class="centered">Uncorked Studios</h3>
      <% link_to "http://uncorkedstudios.com/" do %>
        <%= image_tag "friendsofpcs/UncorkedStudios.png", :class => "thumbnail circle centered"%>
      <% end %>
    </div>

    <div class="col-sm-4">
      <h3 class="centered">Viewpoint</h3>
      <% link_to "viewpoint.com" do %>
        <%= image_tag "friendsofpcs/Viewpoint.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-4 color-block">
      <h3 class="centered">Planet Argon</h3>
      <% link_to "http://planetargon.com/" do %>
        <%= image_tag "friendsofpcs/PlanetArgon.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>

    <div class="col-sm-4 color-block">
      <h3 class="centered">Willamette Week</h3>
      <% link_to "http://www.wweek.com/" do %>
        <%= image_tag "friendsofpcs/WillametteWeek.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>

    <div class="col-sm-4 color-block">
      <h3 class="centered">Attensa</h3>
      <% link_to "http://www.attensa.com/" do %>
        <%= image_tag "friendsofpcs/Attensa.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>

  </div>

</div>

<h2>Community Partners</h2>
<div class="jumbotron">

  <div class="row">

    <div class="col-sm-4">
      <!-- <h3 class="centered">GraphAlchemist</h3>
      <% link_to "http://www.graphalchemist.com/" do %>
        <%= image_tag "friendsofpcs/GraphAlchemist.png", :class => "thumbnail centered circle"%>
      <% end %> -->
    </div>

    <div class="col-sm-4 color-block">
      <h3 class="centered">Free Geek</h3>
      <% link_to "http://www.freegeek.org/" do %>
        <%= image_tag "friendsofpcs/FreeGeek.png", :class => "thumbnail circle centered"%>
      <% end %>
    </div>

    <div class="col-sm-4 color-block">
      <!-- <h3 class="centered">Orchestrate</h3>
      <% link_to "http://orchestrate.io/" do %>
        <%= image_tag "friendsofpcs/Orchestrate.gif", :class => "thumbnail circle centered"%>
      <% end %> -->
    </div>

  </div>

</div>

<h3>Don't see your company here?</h3>
<p>
  If you know you've helped us out, but don't see your name or logo here, it doesn't mean we're not friends! We wanted to make extra sure we had your say so before announcing you here, so we're reaching out to everyone individually. Lucky us, there are a lot of you! Feel free to <%= mail_to "info@portlandcodeschool.com", "contact us" %> so we can include you right away!
</p>
