---
title: Friends of PCS
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<br>
<h2>Friends of PCS</h2>
<hr>

<h4>
  Our "Friends of PCS" program celebrates our partners who are crucial in helping us to create a diversity of new talent for Portland's tech community.
</h4>
<p>
  Here are some of our key employers. These companies have been instrumental in helping our students get job-ready for a career in tech. Many have hired our graduates as interns or junior developers. We thank them for their ongoing support, and their contributions to Portland's tech arena.
</p>
<%= mail_to "ckelly@portlandcodeschool.com", "Join Us!", :class=>"btn btn-default big-apply-button", :subject=>"PCS Internship Program", :body=>"I am considering hiring a PCS graduate as an intern. Please contact me to discuss the details?" %>

<div class="jumbotron">

  <div class="row">

    <div class="col-sm-4">
      <h3 class="centered">GraphAlchemist</h3>
      <% link_to "http://www.graphalchemist.com/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/GraphAlchemist.png", :class => "thumbnail centered circle" %>
      <% end %>
    </div>

    <div class="col-sm-4 color-block">
      <h3 class="centered">HouseHappy</h3>
      <% link_to "http://www.househappy.org/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/HouseHappy_temp.png", :class => "thumbnail circle centered"%>
      <% end %>
    </div>

    <div class="col-sm-4 color-block">
      <h3 class="centered">Orchestrate</h3>
      <% link_to "http://orchestrate.io/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/Orchestrate.gif", :class => "thumbnail circle centered"%>
      <% end %>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-4 color-block">
      <h3 class="centered">Struck</h3>
      <% link_to "http://www.struck.com/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/Struck.png", :class => "thumbnail circle centered"%>
      <% end %>
    </div>

    <div class="col-sm-4 color-block">
      <h3 class="centered">Uncorked Studios</h3>
      <% link_to "http://www.uncorkedstudios.com/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/UncorkedStudios.png", :class => "thumbnail circle centered"%>
      <% end %>
    </div>

    <div class="col-sm-4">
      <h3 class="centered">Viewpoint</h3>
      <% link_to "http://www.viewpoint.com" do %>
        <%= image_tag "friendsofpcs/Viewpoint.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-4 color-block">
      <h3 class="centered">Planet Argon</h3>
      <% link_to "http://planetargon.com/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/PlanetArgon.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>

    <div class="col-sm-4 color-block">
      <h3 class="centered">Willamette Week</h3>
      <% link_to "http://www.wweek.com/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/WillametteWeek.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>

    <div class="col-sm-4 color-block">
      <h3 class="centered">Attensa</h3>
      <% link_to "http://www.attensa.com/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/Attensa.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-4 color-block">
      <h3 class="centered">Metal Toad</h3>
      <% link_to "http://www.metaltoad.com/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/MetalToad.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>

    <div class="col-sm-4 color-block">
      <h3 class="centered">Cloudability</h3>
      <% link_to "https://cloudability.com/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/Cloudability.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>

    <div class="col-sm-4 color-block">
      <h3 class="centered">Solid Interactive</h3>
      <% link_to "http://www.thinksolid.com/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/Solid.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-4 color-block">
      <h3 class="centered">Globe Sherpa</h3>
      <% link_to "http://www.globesherpa.com/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/GlobeSherpa.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>

    <div class="col-sm-4 color-block">
      <h3 class="centered">Rubicon</h3>
      <% link_to "http://careers.rubicon.com/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/Rubicon.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>

    <div class="col-sm-4 color-block">
      <h3 class="centered">Concordia Univ.</h3>
      <% link_to "http://www.cu-portland.edu/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/Concordia.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>

  </div>   <!-- end row -->

  <div class="row">

    <div class="col-sm-4 color-block">
      <h3 class="centered">CMD Agency</h3>
      <% link_to "http://www.cmdagency.com/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/CMD.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>

    <div class="col-sm-4 color-block">
      <h3 class="centered">Daylight Studio</h3>
      <% link_to "http://thedaylightstudio.com/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/daylight_logo.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>

    <div class="col-sm-4 color-block">
      <h3 class="centered">38 Zeros.</h3>
      <% link_to "http://www.38zeros.com/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/38_zeros.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>

  </div>   <!-- end row -->

  <div class="row">

    <div class="col-sm-4 color-block">
      <h3 class="centered">CSG Pro</h3>
      <% link_to "http://www.csgpro.com/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/csg1.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>
<!-- 
    <div class="col-sm-4 color-block">
      <h3 class="centered">Urban Airship</h3>
      <% link_to "http://thedaylightstudio.com/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/daylight_logo.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>

    <div class="col-sm-4 color-block">
      <h3 class="centered">Open Sesame</h3>
      <% link_to "http://www.38zeros.com/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/38_zeros.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div> -->

  </div>   <!-- end row -->

</div>

<h2>Community Partners</h2>
<div class="jumbotron">

  <div class="row">

    <div class="col-sm-4 color-block">
      <h3 class="centered">Treehouse</h3>
      <% link_to "http://www.teamtreehouse.com/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/Treehouse.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>

    <div class="col-sm-4 color-block">
      <h3 class="centered">Free Geek</h3>
      <% link_to "http://www.freegeek.org/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/FreeGeek.png", :class => "thumbnail circle centered"%>
      <% end %>
    </div>

    <div class="col-sm-4 color-block">
      <h3 class="centered">ChickTech</h3>
      <% link_to "http://chicktech.org/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/Chicktech.jpg", :class => "thumbnail circle centered"%>
      <% end %>
    </div>

    <div class="col-sm-4 color-block">
      <h3 class="centered">US Wushu Center</h3>
      <% link_to "http://www.uswushu.com/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/Wushu.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div>

<!--     <div class="col-sm-4 color-block">
      <h3 class="centered">Rubicon</h3>
      <% link_to "http://careers.rubicon.com/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/Rubicon.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div> -->

<!--     <div class="col-sm-4 color-block">
      <h3 class="centered">Concordia Univ.</h3>
      <% link_to "http://www.cu-portland.edu/", :target => "_blank" do %>
        <%= image_tag "friendsofpcs/Concordia.png", :class => "thumbnail centered circle"%>
      <% end %>
    </div> -->

  </div>

</div>

<h3>Don't see your company listed here?</h3>
<p>
  <%= mail_to "ckelly@portlandcodeschool.com", "Join Us!", :class=>"btn btn-default big-apply-button", :subject=>"PCS Internship Program", :body=>"I am considering hiring a PCS graduate as an intern. Please contact me to discuss the details?" %>
</p>
