---
title: Hiring our Graduates
---

<br>
<h2>Hire outstanding interns and junior devs!</h2>
<hr>

<div class="container content-margin">

  <div class="row">

    <div class="col-md-6">
      <h3>
        Hiring skilled interns and/or junior devs for your company is a great way to boost your productivity, diversify your workforce, and grow your own excellent new team member. </p>
        <p>Along with putting in hundreds of hours of coding, and having a deep foundational knowledge of JavaScript and essential web technologies, PCS graduates offer professionalism, excellent teamwork (and teamplay) skills, and a driving desire to be part a great company producing great code!
      </h3>

      <%= mail_to "ckelly@portlandcodeschool.com", "Hire a dev!", :class=>"btn btn-default big-apply-button", :subject=>"PCS Internship Program", :body=>"I am considering hiring a PCS graduate. Please contact me to discuss the details." %>
    </div>

    <div class="col-md-6">
      <br>
      <%= image_tag "/images/in-class.jpg", :class=>"img-responsive" %>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6">
      <h3>
        From graduates of our Full Stack JavaScript classes, you can expect:
      </h3>
      <ul>
        <li>500 hours of collaborative development with JavaScript</li>
        <li>Node and Express experience on the back end</li>
        <li>Backbone experience on the front end</li>
        <li>Data persistence (PostgreSQL or NoSQL)</li>
        <li>Mocha for TDD</li>
        <li>GitHub for version control</li>
        <li>Experience with GitHub as a collaborative tool</li>
        <li>Ability and desire to learn new technologies</li>
        <li>A positive, contributing member of your team</li>
      </ul>
    </div>

    <div class="col-md-6">
      <h3>
        What our graduates will expect if hired into an internship
      </h3>
      <ul>
        <li>Minimum 2 to 3 months in duration</li>
        <li>20-40 hours per week</li>
        <li>A healthy onboarding process</li>
        <li>To be learning new things all the time</li>
        <li>Respectful office culture</li>
        <li>To be a valued, contributing member of the team</li>
        <li>Work on projects that matter to the company</li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="row">

    <div class="col-md-6">
      <br>
      <%= image_tag "/images/intern_photo.jpg", :class=>"img-responsive" %>
    </div>

    <div class="col-md-6">
      <h3>Are you ready for some talented, highly motivated junior devs and interns?</h3>
      <p>Contact <%= mail_to "ckelly@portlandcodeschool.com", "Cris Kelly", :subject=>"Hiring a PCS Grad" %>, director of PCS, for more details.</p>
      <%= mail_to "ckelly@portlandcodeschool.com", "Hire a dev!", :class=>"btn btn-default big-apply-button", :subject=>"Hiring a PCS Grad" %>
    </div>

  </div>
</div>

