---
title: Portland Code School
---

<div class="row">

  <!-- Tagline info -->
  <div class="col-sm-6">
    <h2>Redesign in progress for
      <%= link_to "Portland Code School", "http://portlandcodeschool.com/" %>
    </h2>
    <p>
      Portland Code School is the place to build the skills you need to get a job programming. Whether you want to become a freelancer or a full-time software engineer at one of Portland's many tech companies, we provide an intensive learning environment that will meet you where you are and take you where you want to go. Learn more <%= link_to "about us", "/about.html" %>.
    </p>
  </div>

  <!-- Main photo -->
  <div class="col-sm-6 hidden-xs thumbnail">
    <%= image_tag "students05.png" %>
    <% link_to "Ruby on Rails", "http://portlandcodeschool.com", :class=>"caption" %>
  </div>

</div>

<hr>

<div class="row">

  <!-- Javascript -->
  <div class="col-md-6">
    <p class="thumbnail">
      <% link_to "/classes.html#javascript-class" do %>
        <%= image_tag "js.jpg" %>
      <% end %>
      <h3 class="caption">Full-Stack Javascript</h3>
      Learn how to build web applications and interactive website features from scratch using JavaScript. Students will learn both front-end and back-end applications of JavaScript, including jQuery, BackboneJS, and NodeJS. Every web application needs JavaScript, and the demand for JavaScript frameworks such as BackboneJS is only growing!
    </p>
  </div>

  <!-- Ruby on Rails -->
  <div class="col-md-6">
    <p class="thumbnail">
      <% link_to "/classes.html#ruby-class" do %>
        <%= image_tag "ruby.jpg" %>
      <% end %>
      <h3>Ruby on Rails</h3>
      Learn to build interactive and dynamic web applications using Ruby on Rails. We start with a one month intensive on Ruby. After that, students will dive into the Rails framework, still building Ruby skills. 
    </p>
  </div>
</div>

<div class="row">

  <!-- Basics -->
  <div class="col-md-6">
    <p class="thumbnail">
      <% link_to "/classes.html#primer-class" do %>
        <%= image_tag "students01.png" %>
      <% end %>
      <h3 class="caption">Web Development Basics</h3>
      Hit the road running with our Primer course. Learn how to use the tools of a professional developer, and get a grasp on the underlying concepts of the Internet. This class assumes students have little or no experience with web technologies such as writing code for the web, so if you're new to coding, this is the place to start!
    </p>
  </div>

  <!-- Freelancing -->
  <div class="col-md-6">
    <p class="thumbnail">
      <% link_to "/classes.html#freelance-class" do %>
        <%= image_tag "students04.png" %>
      <% end %>
      <h3>Front End Freelancing</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue elementum ultrices. Phasellus vitae sapien non dui fermentum vestibulum. Sed ac sapien pretium, ornare diam at, vestibulum tortor.
    </p>
  </div>

</div>
