---
title: Portland Code School
---
<div class="row">
  <div class="col-md-6">
    Redesign in progress for
    <%= link_to "portlandcodeschool.com", "http://portlandcodeschool.com/" %>
  </div>

  <div class="col-md-6">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue elementum ultrices. Phasellus vitae sapien non dui fermentum vestibulum. Sed ac sapien pretium, ornare diam at, vestibulum tortor. Aliquam erat volutpat. Phasellus lobortis libero et tortor sollicitudin gravida in nec neque. Curabitur id elit dui. Nam at sagittis velit, non luctus urna. Curabitur faucibus pharetra dolor, eu vehicula dolor. Donec faucibus scelerisque varius. Maecenas vitae purus velit. Aliquam a ipsum dui.</p>
  </div>
</div>

<div class="break"></div>

<div class="row">
  <div class="col-md-3">
    <%= image_tag "http://placekitten.com/200/100" %>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue elementum ultrices. Phasellus vitae sapien non dui fermentum vestibulum. Sed ac sapien pretium, ornare diam at, vestibulum tortor. Aliquam erat volutpat. Phasellus lobortis libero et tortor sollicitudin gravida in nec neque. Curabitur id elit dui. Nam at sagittis velit, non luctus urna. Curabitur faucibus pharetra dolor, eu vehicula dolor. Donec faucibus scelerisque varius. Maecenas vitae purus velit. Aliquam a ipsum dui.</p>
  </div>
  
  <div class="col-md-3">
    <%= image_tag "http://placekitten.com/200/100" %>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue elementum ultrices. Phasellus vitae sapien non dui fermentum vestibulum. Sed ac sapien pretium, ornare diam at, vestibulum tortor. Aliquam erat volutpat. Phasellus lobortis libero et tortor sollicitudin gravida in nec neque. Curabitur id elit dui. Nam at sagittis velit, non luctus urna. Curabitur faucibus pharetra dolor, eu vehicula dolor. Donec faucibus scelerisque varius. Maecenas vitae purus velit. Aliquam a ipsum dui.</p>
  </div>
  
  <div class="col-md-3">
    <%= image_tag "http://placekitten.com/200/100" %>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue elementum ultrices. Phasellus vitae sapien non dui fermentum vestibulum. Sed ac sapien pretium, ornare diam at, vestibulum tortor. Aliquam erat volutpat. Phasellus lobortis libero et tortor sollicitudin gravida in nec neque. Curabitur id elit dui. Nam at sagittis velit, non luctus urna. Curabitur faucibus pharetra dolor, eu vehicula dolor. Donec faucibus scelerisque varius. Maecenas vitae purus velit. Aliquam a ipsum dui.</p>
  </div>
  
  <div class="col-md-3">
    <%= image_tag "http://placekitten.com/200/100" %>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue elementum ultrices. Phasellus vitae sapien non dui fermentum vestibulum. Sed ac sapien pretium, ornare diam at, vestibulum tortor. Aliquam erat volutpat. Phasellus lobortis libero et tortor sollicitudin gravida in nec neque. Curabitur id elit dui. Nam at sagittis velit, non luctus urna. Curabitur faucibus pharetra dolor, eu vehicula dolor. Donec faucibus scelerisque varius. Maecenas vitae purus velit. Aliquam a ipsum dui.</p>
  </div>
</div>
