<% @title = "Frameless Middleman" %>
<header>
  <%= image_tag('/images/t-rex.jpg', :alt => 'middleman logo', :width => 250) %>
  <h1>Portland Code School</h1>
</header>
<div id="container">
  <div id="intro">
    <center>
      <span class="line"></span>
      <h2>The Program</h2>
      <span class="line"></span>
    </center>
    <p><%= lorem.paragraph %></p>
  </div>
  <div class="left-col">
    <center>
      <span class="line-half"></span>
      <h2>Students</h2>
      <span class="line-half"></span>
    </center>
    <p><%= lorem.paragraph %></p>
    <p><%= lorem.paragraph %></p>
    <ul>
      <li><a href="">FAQ</a></li>
      <li><a href="">FAQ</a></li>
      <li><a href="">FAQ</a></li>
      <li><a href="">FAQ</a></li>
      <li><a href="">FAQ</a></li>
    </ul>
  </div>
  <div class="right-col">
    <center>
      <span class="line-half"></span>
      <h2>Employers</h2>
      <span class="line-half"></span>
    </center>
    <p><%= lorem.paragraph %></p>
    <p><%= lorem.paragraph %></p>
    <ul>
      <li><a href="">FAQ</a></li>
      <li><a href="">FAQ</a></li>
      <li><a href="">FAQ</a></li>
      <li><a href="">FAQ</a></li>
      <li><a href="">FAQ</a></li>
    </ul>
  </div>
  <div class="full-width" id="alumni">
    <center>
      <span class="line"></span>
      <h2>Program Alumni</h2>
      <span class="line"></span>
    </center>
    <div class="third-col">
      <img src="<%= lorem.image('200x300') %>">
      <h3>Matthew Danskey</h3>
      <p><%= lorem.paragraph %></p>
    </div>
    <div class="third-col">
      <img src="<%= lorem.image('200x300') %>">
      <h3>Pete Kinnecom</h3>
      <p><%= lorem.paragraph %></p>
    </div>
    <div class="third-col last">
      <img src="<%= lorem.image('200x300') %>">
      <h3>Rachel Sakry</h3>
      <p><%= lorem.paragraph %></p>
    </div>
  </div>
  <div class="full-width" id="sponsors">
    <center>
      <span class="line"></span>
      <h2>Sponsors</h2>
      <span class="line"></span>
    </center>
    <div>
      <div class="sixth-col"><img src="<%= lorem.image('100x100') %>"></div>
      <div class="sixth-col"><img src="<%= lorem.image('100x100') %>"></div>
      <div class="sixth-col"><img src="<%= lorem.image('100x100') %>"></div>
      <div class="sixth-col"><img src="<%= lorem.image('100x100') %>"></div>
      <div class="sixth-col"><img src="<%= lorem.image('100x100') %>"></div>
      <div class="sixth-col last"><img src="<%= lorem.image('100x100') %>"></div>
    </div>
    <div>
      <div class="sixth-col"><img src="<%= lorem.image('100x100') %>"></div>
      <div class="sixth-col"><img src="<%= lorem.image('100x100') %>"></div>
      <div class="sixth-col"><img src="<%= lorem.image('100x100') %>"></div>
      <div class="sixth-col"><img src="<%= lorem.image('100x100') %>"></div>
      <div class="sixth-col"><img src="<%= lorem.image('100x100') %>"></div>
      <div class="sixth-col last"><img src="<%= lorem.image('100x100') %>"></div>
    </div>
  </div>
</div>