---
title: Portland Code School
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

</div>
<div id="landing">
  <%= image_tag "/images/banner.png", :class=>"img-responsive" %>
  <div class="container">
    <!-- Announcements -->
    <div class="landing-content">
      <!-- Tagline info -->
      <!-- <div class="col-sm-6">
        <h2 class="tagline">Build the skills you want with the support you need.</h2>
      </div>
      <div class="col-sm-6">
        <p>
          Portland Code School is the place to build the skills you need to get a job programming. We provide an intensive learning environment that will meet you where you are and take you where you want to go. Learn more <%= link_to "about us", "/about.html" %>.
        </p>
      </div> -->
      <div>
        <%= partial "partials/mailinglist.html" %>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container content-margin">

  <!-- <div class="row">
    <h2><%= link_to "Current Classes", "/classes.html" %></h2>
  </div> -->

  <div class="row">

    <!-- JS Immersion -->
    <div class="col-md-6">
      <p>
        <% link_to "/javascriptimmersion.html" do %>
          <%= image_tag "jsi2_now_enrolling.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">Full-Stack JavaScript (Immersion)</h3>
        Learn the fundamentals of programming in JavaScript, in a full time, collaborative classroom environment. You will start developing new skills immediately while writing a lot of code! You will learn both front-end and back-end applications of JavaScript, including popular front-side libraries and frameworks like jQuery and EmberJS, as well as cutting-edge backend technologies like NodeJS. Every web application needs JavaScript, and the demand for JavaScript developers is only growing!
      </p>
      <p>
        <%= link_to "More Info", "/javascriptimmersion.html", :class=>"btn btn-default big-apply-button" %>
      </p>
    </div>

    <!-- Video -->
    <div class="col-md-6">
      <div class="youtube-embed">
        <iframe width="445" height="315" src="//www.youtube.com/embed/UCO11xMGO9g" frameborder="0" allowfullscreen></iframe>
      </div>
      <p>
        A video project by some of our fantastic students!
      </p>
    </div>
  </div>  <!-- End first row -->

  <div class="row">

  <!-- Freelancing -->
  <div class="col-md-6">
    <p>
      <% link_to "/frontend.html" do %>
        <%= image_tag "frontend_dev_now_enrolling.png", :class=>"img-responsive" %>
      <% end %>
      <h3 class="sr-only">Front End Development</h3>
      This comprehensive course gives you everything you need to start a career in front-end web development. In this fast-paced, project-based course, you will learn all the skills necessary for web application front-end design and development. You learn the soft skills necessary to achieve work/life balance while working on teams and delivering quality work.
    </p>
    <p>
      <%= link_to "More Info", "/frontend.html", :class=>"btn btn-default big-apply-button" %>
    </p>
  </div>

  <!-- JavaScript Evening -->
  <div class="col-md-6">
    <p>
      <% link_to "/javascript.html" do %>
        <%= image_tag "jse_now_enrolling.png", :class=>"img-responsive" %>
      <% end %>
      <h3 class="sr-only">Full-Stack JavaScript (Evening)</h3>
      Learn how to build web applications and interactive website features from scratch using JavaScript. It's easy to learn, yet provides sophisticated object-oriented strength. You will learn both front-end and back-end applications of JavaScript, including popular front-side libraries like jQuery as well as cutting-edge backend technologies like BackboneJS and NodeJS. Every web application needs JavaScript, and the demand for JavaScript developers is only growing!
    </p>
    <p>
      <%= link_to "More Info", "/javascript.html", :class=>"btn btn-default big-apply-button" %>
    </p>
  </div>

    <!-- Mobile with Phonegap -->
    <!-- <div class="col-md-6">
      <p>
        <% link_to "/mobile-phonegap.html" do %>
          <%= image_tag "rapid_mobile.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">Rapid Mobile App Prototyping</h3>
        <p>
          Are you a founder, entrepreneur, or designer looking to create mobile applications fast? Already have basic web development skills? This 8 week class is for you.
        </p>
        <p>
          We will help you leverage your HTML, CSS and JavaScript skills to create real mobile applications you can use to get funding, prove design concepts, or sell via the Apple and Android stores.
        </p>

        <%= link_to "More Info", "/apply.html", :class=>"btn btn-default big-apply-button" %>
      </p>
    </div> -->
  </div>   <!-- End second row -->

  <div class="row">

  <!-- Primer -->
  <div class="col-md-6">
    <p>
      <% link_to "/webdevelopmentprimer.html" do %>
        <%= image_tag "primer_now_enrolling.png", :class=>"img-responsive" %>
      <% end %>
      <h3 class="sr-only">Web Development Primer</h3>
      Hit the road running with our Primer course. Learn how to use the tools of a professional developer, and get a grasp on the underlying concepts of the Internet. This class assumes students have little or no experience with web technologies such as writing code for the web, so if you're new to coding, this is the place to start!
    </p>

    <p>
      <%= link_to "More Info", "/webdevelopmentprimer.html", :class=>"btn btn-default big-apply-button" %>
    </p>
  </div>

    <!-- Web Foundations -->
    <div class="col-md-6">
      <p>
        <% link_to "/webfoundations.html" do %>
          <%= image_tag "webfoundations_now_enrolling.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">Web Development Foundations</h3>
        Continuing where the Primer leaves off, our Foundations class will get you working with JavaScript/jQuery, and more advanced developing environments.
      </p>

      <p>
        <%= link_to "More Info", "/webfoundations.html", :class=>"btn btn-default big-apply-button" %>
      </p>
    </div>
  </div>

  <div class="row">

    <!-- iOS Development -->
    <div class="col-md-6">
      <p>
        <% link_to "/mobile-ios.html" do %>
          <%= image_tag "mobile-ios.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">Mobile Development with iOS</h3>
<!--         <p>Learn how to build high quality native apps! If you're an experienced developer, and looking to change your focus or enhance your current skill set, then this class will get you there. In 16 weeks, you’ll spend hundreds of hours immersed in iOS—designing spectacular interfaces in Xcode, writing conventional code in Objective-C and Cocoa, practicing unit testing and source control, and implementing industry best practices.</p>
 -->
        <p>
          We are piloting our iOS class, which starts November 3rd, and we need your help! In return for your help, we are offering the class at 50% off!
        </p>
        <p>
          All we ask in return for this huge discount, is that you fill out 2 surveys (for feedback), and participate at 100% (that is, do your best!).
        </p>

        <p>
          <%= link_to "More Info!", "/mobile-ios.html", :class=>"btn btn-default big-apply-button" %>
        </p>      </p>

    </div>

    <!-- Data Visualization -->
    <div class="col-md-6">
      <p>
        <% link_to "/datavisualization.html" do %>
          <%= image_tag "data_viz_ana.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">Data Visualization</h3>
        <p>
          This 4 week seminar series will focus on functional programming skills and techniques needed to create and deploy web based data visualizations. Technologies covered in this course include d3.js, leaflet.js, coffeescript, yeoman for modern workflows, as well as SVG.
        </p>
        <p>
          This course is designed to accommodate both newer and more advanced developers. The seminars will introduce new material, and complete hands-on practice.
        </p>
      </p>
      <p>
        <%= link_to "More Info", "/datavisualization.html", :class=>"btn btn-default big-apply-button" %>
      </p>
    </div>

  </div>

  <div class="row">

    <!-- Mobile with Phonegap -->
    <!-- <div class="col-md-6">
      <p>
        <% link_to "/mobile-phonegap.html" do %>
          <%= image_tag "rapid_mobile.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">Rapid Mobile App Prototyping</h3>
        <p>
          Are you a founder, entrepreneur, or designer looking to create mobile applications fast? Already have basic web development skills? This 8 week class is for you.
        </p>
        <p>
          We will help you leverage your HTML, CSS and JavaScript skills to create real mobile applications you can use to get funding, prove design concepts, or sell via the Apple and Android stores.
        </p>

        <%= link_to "More Info", "/mobile-phonegap.html", :class=>"btn btn-default big-apply-button" %>
      </p>
    </div>
  </div> -->

<!-- <hr> -->
  <!-- Coders With Kids -->
<!--   <div class="row">
    <div class="col-md-4 text-center">
      <% link_to "/childcare.html" do %>
        <%= image_tag "coders_with_kids.png", :class=>"img-responsive centered" %>
      <% end %> -->
<!--     </div>
    <div class="col-md-8">
      <h3 class="text-center">Childcare for Portland Code School students, on your schedule!</h3>
      <p>
        Have kids? We know how hard it is to find the time to go to school and study! Portland Code School's unique <%= link_to "Coders with Kids", "/childcare.html" %> program makes it easy to update your skills or return to the workforce while keeping your family life in balance.
      </p>
    </div>
  </div> -->

  <hr>
  <h3>
    What do students say about their experience at PCS?
  </h3>
  <div class="testimonial-footer">
    <div class="testimonial-box testimonial-l">
      <p>
        "I attended the part-time, evening Javascript class while working full-time.  It can be done!  While it is entirely possible to learn on one's own, the community at PCS is what really seals the deal.  The contacts I made and the people I got to know helped me with every step of my journey.  I believe my road to employment as a developer would have included significantly more wrong turns and dead ends had I not enrolled at PCS. It would have taken me a lot longer to transition into a new career that I love!""
      </p>
      <p><em>
        Kaija Rayne, Jr. Developer, Solid Interactive
      </em></p>
    </div>
    <div class="testimonial-box testimonial-c">
      <p>
        "My experience in the JavaScript Immersion course was tremendous.  It is an intense program, but the instructors are extremely knowledgeable and they and all the other PCS staff are incredibly supportive.  I accepted a paid internship offer through PCS’s employer network only three weeks after graduating.  I would definitely recommend the JavaScript Immersion course for anyone interested in building the skills to become a junior software developer.""
      </p>
      <p><em>
        Adam Horaks, Jr. Developer, Attensa
      </em></p>
    </div>
    <div class="testimonial-box testimonial-r">
      <p>
        "Enrolling in the Portland Code School was a significant commitment for me living an hour outside of Portland. Now employed as a full-time developer, in retrospect, I wish I had done it sooner. My experience in the Full-Stack JavaScript course was a complete blend of skill development, portfolio building, and networking within the Portland coding community.The enthusiastic team at PCS exposed us to every opportunity to jump start our careers. I consider the Portland Code School a great opportunity for those who desire to be a developer or any professional looking to learn a new discipline.""
      </p>
      <p><em>
        Sean Sauve, Jr. Developer, Agilitas Software
      </em></p>
    </div>
  </div>
