---
title: Portland Code School
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

</div>

<div class="col-md-12">
  <h2 style="margin: 25px auto; text-align: center;width: 75%;"><em>In memory of Randall Stickrod, Executive Director, the PCS staff and community send our deepest condolences to his family. He will always be remembered and honored as a pillar of Portland Code School.</em></h2>
</div>

<div id="landing">

  <!-- <div class="container">
    <div class="moving">
      <h2>We've moved!</h2>
      <h3>As of April 4, our new <em>and improved</em> location is: 735 SW 20th Place, Suite 230</h3>
      <h4>Right next to the Timber's Stadium (Providence Park), 2 blocks from the Goose Hollow MAX station!</h4>
    </div>
  </div> -->
  <%= image_tag "Banner-Portland_and_Mt_Hood.png", :class=>"img-responsive" %>

  <h1 id="tag-line">Learn to code. Change your life.</h1>

  <!-- <div class="holiday hero-unit">
    <h1>2 weeks left to enroll in Front End Web Development or Web Foundations!</h1>
  </div> -->

</div>

<br>

<div class="container content-margin">

<!-- ============== BEGIN ROW 1 ============== -->

  <div class="row">

<!-- iOS Development -->

    <div class="col-md-6">
      <div class="well priority-box">
        <% link_to "/mobile-ios" do %>
          <%= image_tag "banners/ios.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">iOS Development</h3>
        <h5 style="color:red;"><%= link_to "NOW ENROLLING FOR SEPTEMBER!", "https://pcs.formstack.com/forms/ios_immersion_development_enrollment", :target=>"_blank" %></h5>
        <p>PCS is proud to partner with Greg Tropino of <%= link_to "Bit Lore Institute of Technology", "http://www.bitloremobile.com/" %> to bring his iOS expertise to Portland! He is our guest instructor for this amazing 6-week immersion course.</p>    
        <%= link_to "More Info", "/mobile-ios", :class=>"btn btn-default big-apply-button" %>
      </div>
    </div>

<!-- JavaScript Immersion -->

    <div class="col-md-6">
      <div class="well priority-box">
        <% link_to "/javascriptimmersion.html" do %>
          <%= image_tag "banners/JSi.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">Full-Stack JavaScript (Immersion)</h3>
        <h5 style="color:red;"><%= link_to "Now accepting applications for 2016!", "/apply" %></h5>
        <p>Get over 500 hours of hands-on experience, building full-stack web applications with JavaScript using Node.js,  MVC framework, and Test-Driven Development.</p>
        <%= link_to "More Info", "/javascriptimmersion.html", :class=>"btn btn-default big-apply-button" %>
      </div>
    </div>

  </div>

<!-- ============== END ROW 1 ============== -->



<!-- ============== BEGIN ROW 2 ============== -->

  <div class="row">

<!-- Foundations Series -->

    <div class="col-md-6">
      <div class="well priority-box">
        <% link_to "/webdevelopmentprimer.html" do %>
          <%= image_tag "banners/wfs.png", :class=>"img-responsive" %>
        <% end %>
          <h3 class="sr-only">Web Foundations Series</h3>
          <h5 style="color:red;"><%= link_to "ENROLL IN BOTH CLASSES AND RECEIVE A $100 DISCOUNT!", "/webdevelopmentprimer.html" %></h5>
          <p>Our Web Foundations Series is for people who have little or no experience with web technologies. Take the Primer Basic to get your toes wet, or take the whole series...</p>
          <%= link_to "More Info", "/webdevelopmentprimer.html", :class=>"btn btn-default big-apply-button" %>
      </div>
    </div>


<!-- Advanced Front End Tools -->

    <div class="col-md-6">
      <div class="well priority-box">
        <% link_to "/advancedfe.html" do %>
          <%= image_tag "banners/afe.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">Advanced Front End Dev Tools</h3>
        <h5 style="color:red;"><%= link_to "NOW ENROLLING FOR SEPTEMBER!", "/advancedfe.html" %></h5>
        <p>Ready to go beyond the basics? This class is for people who have some Front End Design and Development experience and want learn technologies and techniques...</p>
        <%= link_to "More Info", "/advancedfe.html", :class=>"btn btn-default big-apply-button" %>
      </div>
    </div>

  </div>

  <!-- ============== BEGIN ROW 2 ============== -->

  <div class="row">

  <!-- JavaScript Evening -->

      <div class="col-md-6">
        <div class="well priority-box">
          <% link_to "/javascript.html" do %>
            <%= image_tag "banners/JSe.png", :class=>"img-responsive" %>
          <% end %>
          <h3 class="sr-only">Full-Stack JavaScript (Evening)</h3>
          <h5 style="color:red;"><%= link_to "Send me info for January 2016!", "/apply" %></h5>
          <p>Looking to switch careers, but don't have the bandwidth for the immersion class? Our evening class takes students from minimal experience to job-ready in less than 6 months.</p>
          <%= link_to "More Info", "/javascript.html", :class=>"btn btn-default big-apply-button" %>
        </div>
      </div>

  <!-- JavaScript Ruby on Rails Evening -->

      <div class="col-md-6">
        <div class="well priority-box">
          <% link_to "/js-ruby-rails.html" do %>
            <%= image_tag "banners/rails.png", :class=>"img-responsive" %>
          <% end %>
          <h3 class="sr-only">Web Development with JavaScript and Ruby on Rails</h3>
          <h5 style="color:red;"><%= link_to "Send me info for January 2016!", "/apply" %></h5>
          <p>In this 18 week class, students build a series of increasingly interesting and intricate projects that result in useful scripts, mobile web sites, and hybrid mobile applications.</p>
          <%= link_to "More Info", "/js-ruby-rails.html", :class=>"btn btn-default big-apply-button" %>
        </div>
      </div>

    </div>

  <!-- ============== END ROW 3 ============== -->

    <!-- ============== BEGIN ROW 4 ============== -->

<!-- WordPress -->

<!--     <div class="col-md-6">
      <div class="well priority-box">
        <% link_to "/wordpress.html" do %>
          <%= image_tag "banners/wordpress.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">WordPress for Small Businesses</h3>
        <h5 style="color:red;"><%= link_to "NOW ENROLLING!", "/wordpress.html" %></h5>
        <p>Ready to make a website for your business that you can update yourself? This is an easy but thorough introduction to WordPress. Walk in with an idea, walk out with a website.</p>
        <%= link_to "More Info", "/wordpress.html", :class=>"btn btn-default big-apply-button" %>
      </div>
    </div> -->

<!-- Advanced Classes -->

    <!-- <div class="col-md-6">
      <div class="well priority-box">
        <%= image_tag "banners/coming-soon.png", :class=>"img-responsive" %>
        <h3 class="sr-only">Advanced Classes</h3>
        <h4>Coming Soon:</h4>
        <p>Angular.js, WordPress for Small Businesses, and Node.js</p>
        <%= link_to "More Info", "/contact.html", :class=>"btn btn-default big-apply-button" %>
      </div>
    </div> -->


<!-- ============== END ROW 4 ============== -->


<!-- ============== BEGIN ROW 5 ============== -->

  <div class="row">

<!-- UX Design -->

    <div class="col-md-6">
      <div class="well priority-box">
        <% link_to "/uxdesign.html" do %>
          <%= image_tag "banners/ux.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">UX Design</h3>
        <h5 style="color:red;"><%= link_to "Send me updates on the next UX class", "/apply" %></h5>
        <p>This course is a four-week introduction to the process and profession of user experience (UX) design. Pulling in expert UX professionals as guest speakers, you will get ...</p>
        <%= link_to "More Info", "/uxdesign.html", :class=>"btn btn-default big-apply-button" %>
      </div>
    </div>

<!-- Careers -->

    <div class="col-md-6">
      <div class="well priority-box">
        <% link_to "/careers" do %>
          <%= image_tag "banners/careers.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">Careers at PCS</h3>
        <h5 style="color:red;"><%= link_to "NOW HIRING!", "/careers" %></h5>
        <p>Are you an expert programmer and "a natural teacher?" Do you embody these three core values: Positivity, Curiosity, and Empathy? If so, then we want to talk with you!</p>    
        <%= link_to "More Info", "/careers", :class=>"btn btn-default big-apply-button" %>
      </div>
    </div>

  </div>

<!-- ============== END ROW 5 ============== -->

<br>
<br>
<br>
<br>
<br>

<!-- ============== BEGIN ROW 6 ============== -->

  <div class="row">

  <!-- Climb Credit -->

    <div class="col-md-12">
      <div class="priority-box">
        <% link_to "https://climbcredit.co/portlandcodeschool", :target=>"_blank" do %>
          <%= image_tag "climb-ad.png", :class=>"img-responsive climb-ad-img" %>
        <% end %>
        <div class="priority-box">
          <h4>Similar to a student loan, <%= link_to "Climb Credit", "https://climbcredit.co/portlandcodeschool", :target=>"_blank" %> offers AMAZING financing for Portland Code School students. <%= link_to "Contact us", "/contact" %> for more information.</h4>
        </div>
      </div>
    </div>

  </div>

<br>
<br>
<br>
<br>
<br>

  <!-- Hack + Help -->

  <div class="row">

    <div class="col-md-12">
      <div class="priority-box">
        <% link_to "http://www.meetup.com/Portland-Code-School-Learning-and-Development-Group/", :target=>"_blank" do %>
          <%= image_tag "meetup_logo.png", :class=>"img-responsive hackhelp" %>
        <% end %>
        <h3 class="sr-only">Hack and Help</h3>
        <br>
        <%= link_to "Hack + Help", "http://www.meetup.com/Portland-Code-School-Learning-and-Development-Group/", :class=>"btn btn-default big-apply-button", :target=>"_blank" %>
        <p><em>Hack + Help is for anyone that is learning to code. Whether you are new to coding or experienced in coding and want to help others learn, please join us! Bring your laptop and desire to learn (and/or teach!).</em></p>
      </div>
    </div>

  </div>


<!-- ============== END ROW 6 ============== -->

</div> <!-- END CONTAINER  -->



    <!-- Hack + Help -->
<!-- <div class="col-md-6 hackhelpbox hidden-xs"></div> -->

  <!-- <div class="row"> -->

    <!-- iOS Development -->
    <!-- <div class="col-md-6">
      <p>
        <% link_to "/mobile-ios.html" do %>
          <%= image_tag "mobile-ios.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">Mobile Development with iOS</h3>
        <p>Learn how to build high quality native apps! If you're an experienced developer, and looking to change your focus or enhance your current skill set, then this class will get you there. In 16 weeks, you’ll spend hundreds of hours immersed in iOS—designing spectacular interfaces in Xcode, writing conventional code in Objective-C and Cocoa, practicing unit testing and source control, and implementing industry best practices.</p>

        <p>
          We are piloting our iOS class, which starts November 3rd, and we need your help! In return for your help, we are offering the class at 50% off!
        </p>
        <p>
          All we ask in return for this huge discount, is that you fill out 2 surveys (for feedback), and participate at 100% (that is, do your best!).
        </p>

        <p>
          <%= link_to "More Info!", "/mobile-ios.html", :class=>"btn btn-default big-apply-button" %>
        </p>

    </div> -->

    <!-- Data Visualization -->
    <!-- <div class="col-md-6">
      <p>
        <% link_to "/datavisualization.html" do %>
          <%= image_tag "data_viz_ana.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">Data Visualization</h3>
        <p>
          This 4 week seminar series will focus on functional programming skills and techniques needed to create and deploy web based data visualizations. Technologies covered in this course include d3.js, leaflet.js, coffeescript, yeoman for modern workflows, as well as SVG.
        </p>
        <p>
          This course is designed to accommodate both newer and more advanced developers. The seminars will introduce new material, and complete hands-on practice.
        </p>
      </p>
      <p>
        <%= link_to "More Info", "/datavisualization.html", :class=>"btn btn-default big-apply-button" %>
      </p>
    </div> -->

  <!-- </div> -->

  <!-- <div class="row"> -->

    <!-- Mobile with Phonegap -->
    <!-- <div class="col-md-6">
      <p>
        <% link_to "/mobile-phonegap.html" do %>
          <%= image_tag "rapid_mobile.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">Rapid Mobile App Prototyping</h3>
        <p>
          Are you a founder, entrepreneur, or designer looking to create mobile applications fast? Already have basic web development skills? This 8 week class is for you.
        </p>
        <p>
          We will help you leverage your HTML, CSS and JavaScript skills to create real mobile applications you can use to get funding, prove design concepts, or sell via the Apple and Android stores.
        </p>

        <%= link_to "More Info", "/mobile-phonegap.html", :class=>"btn btn-default big-apply-button" %>
      </p>
    </div>
  </div> -->

<!--  <h3>
    What do students say about their experience at PCS?
  </h3>
  <div class="testimonial-footer">
    <div class="testimonial-box testimonial-l">
      <p>
        "I attended the part-time, evening Javascript class while working full-time.  It can be done!  While it is entirely possible to learn on one's own, the community at PCS is what really seals the deal.  The contacts I made and the people I got to know helped me with every step of my journey.  I believe my road to employment as a developer would have included significantly more wrong turns and dead ends had I not enrolled at PCS. It would have taken me a lot longer to transition into a new career that I love!""
      </p>
      <p><em>
        Kaija Rayne, Jr. Developer, Solid Interactive
      </em></p>
    </div>
    <div class="testimonial-box testimonial-c">
      <p>
        "My experience in the JavaScript Immersion course was tremendous.  It is an intense program, but the instructors are extremely knowledgeable and they and all the other PCS staff are incredibly supportive.  I accepted a paid internship offer through PCS’s employer network only three weeks after graduating.  I would definitely recommend the JavaScript Immersion course for anyone interested in building the skills to become a junior software developer.""
      </p>
      <p><em>
        Adam Horaks, Jr. Developer, Attensa
      </em></p>
    </div>
    <div class="testimonial-box testimonial-r">
      <p>
        "Enrolling in the Portland Code School was a significant commitment for me living an hour outside of Portland. Now employed as a full-time developer, in retrospect, I wish I had done it sooner. My experience in the Full-Stack JavaScript course was a complete blend of skill development, portfolio building, and networking within the Portland coding community.The enthusiastic team at PCS exposed us to every opportunity to jump start our careers. I consider the Portland Code School a great opportunity for those who desire to be a developer or any professional looking to learn a new discipline.""
      </p>
      <p><em>
        Sean Sauve, Jr. Developer, Agilitas Software
      </em></p>
    </div> -->
