---
title: Portland Code School
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

</div>
<div id="landing">

  <div class="container">
    <!-- Announcements -->
    <%= partial "partials/banner" %>
    <div class="landing-content">
      <!-- Tagline info -->
      <div class="col-sm-6">
        <h2 class="tagline">Build the skills you want with the support you need.</h2>
      </div>
      <div class="col-sm-6">
        <p>
          Portland Code School is the place to build the skills you need to get a job programming. We provide an intensive learning environment that will meet you where you are and take you where you want to go. Learn more <%= link_to "about us", "/about.html" %>.
        </p>
      </div>
      <div>
        <%= partial "partials/mailinglist.html" %>
      </div>
    </div>
  </div>
</div>

<div class="container content-margin">

  <div class="row">
    <h2><%= link_to "Current Classes", "/classes.html" %></h2>
  </div>

  <div class="row">

    <div class="col-md-2"></div>
    <!-- JavaScript Immersion -->
    <div class="col-md-8">
      <p>
        <% link_to "/javascriptimmersion.html" do %>
          <%= image_tag "jsi.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">JavaScript Immersion</h3>
        Learn the fundamentals of programming in JavaScript, in a full time, collaborative classroom environment. You will start developing new skills immediately while writing a lot of code! You will learn both front-end and back-end applications of JavaScript, including popular front-side libraries and frameworks like jQuery and EmberJS, as well as cutting-edge backend technologies like NodeJS. Every web application needs JavaScript, and the demand for JavaScript developers is only growing!
      </p>
      <p>
        <%= link_to "Apply Now!", "/apply.html", :class=>"btn btn-default big-apply-button" %>
      </p>
    </div>

    <div class="col-md-2"></div>

  </div>

  <div class="row">
    <!-- Mobile with iOS -->
    <div class="col-md-6">
      <p>
        <% link_to "/mobile-ios.html" do %>
          <%= image_tag "mobile-ios.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">Mobile Development with iOS</h3>
        <p>Learn how to build high quality native apps! If you're an experienced developer, and looking to change your focus or enhance your current skill set, then this class will get you there. In 16 weeks, you’ll spend hundreds of hours immersed in iOS—designing spectacular interfaces in Xcode, writing conventional code in Objective-C and Cocoa, practicing unit testing and source control, and implementing industry best practices.</p>

        <%= link_to "Apply Now!", "/apply.html", :class=>"btn btn-default big-apply-button" %>
      </p>
    </div>

    <!-- Mobile with Phonegap -->
    <div class="col-md-6">
      <p>
        <% link_to "/mobile-phonegap.html" do %>
          <%= image_tag "rapid_mobile.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">Rapid Mobile App Prototyping</h3>
        <p>
          Are you a founder, entrepreneur, or designer looking to create mobile applications fast? Already have basic web development skills? This 8 week class is for you.
        </p>
        <p>
          We will help you leverage your HTML, CSS and JavaScript skills to create real mobile applications you can use to get funding, prove design concepts, or sell via the Apple and Android stores.
        </p>

        <%= link_to "Apply Now!", "/apply.html", :class=>"btn btn-default big-apply-button" %>
      </p>
    </div>
  </div>

  <div class="row">

    <!-- JavaScript -->
    <div class="col-md-6">
      <p>
        <% link_to "/javascript.html" do %>
          <%= image_tag "js.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">Full-Stack JavaScript</h3>
        Learn how to build web applications and interactive website features from scratch using JavaScript. It's easy to learn, yet provides sophisticated object-oriented strength. You will learn both front-end and back-end applications of JavaScript, including popular front-side libraries like jQuery as well as cutting-edge backend technologies like BackboneJS and NodeJS. Every web application needs JavaScript, and the demand for JavaScript developers is only growing!
      </p>
      <p>
        <%= link_to "Apply Now!", "/apply.html", :class=>"btn btn-default big-apply-button" %>
      </p>
    </div>

    <!-- Freelancing -->
    <div class="col-md-6">
      <p>
        <% link_to "/frontend.html" do %>
          <%= image_tag "frontend_dev.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">Front End Development</h3>
        This comprehensive course gives you everything you need to start a career in front-end web development. In this fast-paced, project-based course, you will learn all the skills necessary for web application front-end design and development. You learn the soft skills necessary to achieve work/life balance while working on teams and delivering quality work.
      </p>
      <p>
        <%= link_to "Apply Now!", "/apply.html", :class=>"btn btn-default big-apply-button" %>
      </p>
    </div>

  </div>

  <div class="row">

    <!-- Web Development Primer -->
    <div class="col-md-6">
      <p>
        <% link_to "/webdevelopmentprimer.html" do %>
          <%= image_tag "webdev.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">Web Development Primer</h3>
        Hit the road running with our Primer course. Learn how to use the tools of a professional developer, and get a grasp on the underlying concepts of the Internet. This class assumes students have little or no experience with web technologies such as writing code for the web, so if you're new to coding, this is the place to start!
      </p>
      <p>
        <%= link_to "Enroll Now!", "/enroll.html", :class=>"btn btn-default big-apply-button" %>
      </p>
    </div>

    <!-- Data Visualization -->
    <div class="col-md-6">
      <p>
        <% link_to "/datavisualization.html" do %>
          <%= image_tag "data_viz_ana.png", :class=>"img-responsive" %>
        <% end %>
        <h3 class="sr-only">Data Visualization</h3>
        <p>
          This 8 week seminar will focus on functional programming skills and techniques needed to create and deploy web based data visualizations. Technologies covered in this course include d3.js, leaflet.js, coffeescript, yeoman for modern workflows, as well as SVG.
        </p>
        <p>
          This course is designed to accommodate both newer and more advanced developers. The Sunday Seminars will introduce new material, and complete hands-on practice.
        </p>
      </p>
      <p>
        <%= link_to "Apply Now!", "/apply.html", :class=>"btn btn-default big-apply-button" %>
      </p>
    </div>


  </div>

  <hr />
  <!-- Coders With Kids -->
  <div class="row">
    <div class="col-md-4 text-center">
      <% link_to "/childcare.html" do %>
        <%= image_tag "coders_with_kids.png", :class=>"img-responsive centered" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <h3 class="text-center">Childcare for Portland Code School students, on your schedule!</h3>
      <p>
        Have kids? We know how hard it is to find the time to go to school and study! Portland Code School's unique <%= link_to "Coders with Kids", "/childcare.html" %> program makes it easy to update your skills or return to the workforce while keeping your family life in balance.
      </p>
    </div>
  </div>
