---
title: Portland Code School
---
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12 thumbnail">
    <%= image_tag "/images/547432_508431949193156_1434023572_n.png" %>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <h2>Redesign in progress for
    <%= link_to "portlandcodeschool.com", "http://portlandcodeschool.com/" %></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue elementum ultrices. Phasellus vitae sapien non dui fermentum vestibulum. Sed ac sapien pretium, ornare diam at, vestibulum tortor. Aliquam erat volutpat. Phasellus lobortis libero et tortor sollicitudin gravida in nec neque.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-sm-6 thumbnail">
    <%= image_tag "http://placekitten.com/200/100" %>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue elementum ultrices. Phasellus vitae sapien non dui fermentum vestibulum. Sed ac sapien pretium, ornare diam at, vestibulum tortor.</p>
  </div>
  
  <div class="col-md-3 col-sm-6 thumbnail">
    <%= image_tag "http://placekitten.com/200/100" %>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue elementum ultrices. Phasellus vitae sapien non dui fermentum vestibulum. Sed ac sapien pretium, ornare diam at, vestibulum tortor.</p>
  </div>
  
  <div class="col-md-3 col-sm-6 thumbnail">
    <%= image_tag "http://placekitten.com/200/100" %>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue elementum ultrices. Phasellus vitae sapien non dui fermentum vestibulum. Sed ac sapien pretium, ornare diam at, vestibulum tortor.</p>
  </div>
  
  <div class="col-md-3 col-sm-6 thumbnail">
    <%= image_tag "http://placekitten.com/200/100" %>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue elementum ultrices. Phasellus vitae sapien non dui fermentum vestibulum. Sed ac sapien pretium, ornare diam at, vestibulum tortor.</p>
  </div>
</div>
