---
title: Internships
---

<br>
<h2>PCS Internship Program</h2>
<hr>

<div class="container content-margin">

  <div class="row">

    <div class="col-md-6">
      <h3>
        Most of our graduates are qualified for, and immediately pursue, jobs as junior developers. As an alternative to junior dev jobs, we want graduates to have the option of entering the field of Web Development with a great company in the form of a paid internship.
      </h3>
      <h3>
        The value of hiring skilled interns for your company is not complicated. These new hires bring professionalism, development skills, and the ability to learn new things quickly! As part of your team, they will contribute to your code, help problem solve, and do the same work that is expected of junior devs.
      </h3>

      <%= mail_to "ckelly@portlandcodeschool.com", "Intern Me!", :class=>"btn btn-default big-apply-button", :subject=>"PCS Internship Program", :body=>"I am considering hiring a PCS graduate as an intern. Please contact me to discuss the details." %>
    </div>

    <div class="col-md-6">
      <br>
      <%= image_tag "/images/intern_photo.jpg", :class=>"img-responsive" %>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6">
      <h3>
        What you can expect from graduates of our Full Stack JavaScript classes
      </h3>
      <ul>
        <li>Nearly 500 hours of object-oriented programming in JavaScript</li>
        <li>Node on the back end</li>
        <li>Ember or Backbone on the front end</li>
        <li>PostgreSQL for db</li>
        <li>Jasmine or Mocha for TDD</li>
        <li>GitHub for version control</li>
        <li>Ability and desire to learn new technologies</li>
        <li>A positive, contributing member of your team</li>
      </ul>
    </div>

    <div class="col-md-6">
      <h3>
        What interns will expect from the internship
      </h3>
      <br>
      <ul>
        <li>Minimum 2 or 3 months in duration</li>
        <li>Paid position</li>
        <li>20-40 hours per week</li>
        <li>A healthy onboarding process</li>
        <li>To be learning new things all the time</li>
        <li>Respectful office culture</li>
        <li>To be a valued, contributing member of the team</li>
        <li>Work on projects that matter to the company</li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="row">

    <div class="col-md-6">
      <br>
      <%= image_tag "/images/intern_photo2.jpg", :class=>"img-responsive" %>
    </div>

    <div class="col-md-6">
      <h3>Are you ready for some talented, highly motivated Interns or Junior Developers?</h3>
      <p>These students have been in it to win it! They have dedicated the last 4 - 6 months of their time to learn the skills necessary to build a career as web developers.</p>
      <p>Contact <%= mail_to "ckelly@portlandcodeschool.com", "Cris Kelly", :subject=>"PCS Internship Program" %>, director of PCS, for more details.</p>
      <%= mail_to "ckelly@portlandcodeschool.com", "Intern Me!", :class=>"btn btn-default big-apply-button", :subject=>"PCS Internship Program", :body=>"I am considering hiring a PCS graduate as an intern. Please contact me to discuss the details?" %>
    </div>

  </div>
</div>

