
<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<div class="row">
  <br>
  <div class="about-box">
    <div class="about-us">
      <h2>Web Development with JavaScript and Ruby on Rails</h2>
      <hr>

      <!-- js-ruby-rails class info -->
      <div class="row jumbotron">
        <% link_to "/js-ruby-rails.html" do %>
          <%= image_tag "banners/rails.png", :class=>"img-responsive centered" %>
        <% end %>

        <h2 class="sr-only">Web Development with JavaScript and Ruby on Rails</h2>

        <h3><%= link_to "Now Enrolling!", "/apply.html" %></h3>

        <p>
          This course is designed to help students learn a broad range of technologies used in web development while building a series of applications and web sites.
        </p>

        <p>
          In this 18 week class, students build a series of increasingly interesting and intricate projects that result in useful scripts, mobile web sites, and hybrid mobile applications. Students work individually, in pairs, and on teams, practicing the techniques used by professional developers on the job. The class finishes with complex capstone projects that students show off to technology company managers and recruiters at our student showcase and open house events.
        </p>

        <p>We cover the entire mobile web development ecosystem in one integrated class.</p>

        <h5><em>
          <strong>Technical Requirements</strong> for this class are: 1) A GitHub account with a couple of repositories showing your code, 2) A published web site or two that incorporate HTML, CSS and some simple JavaScript, and 3) A passing grade on our entrance exam.
        </em></h5>
        <h5><em>
          <strong>Don't meet these requirements?</strong> Check out our <%= link_to "Web Foundations Series", "/webdevelopmentprimer.html" %> - our classes designed to bring you up to speed. We also have <%= link_to "Hack + Help", "http://www.meetup.com/Portland-Code-School-Learning-and-Development-Group/", :target=>"_blank" %> sessions and other plans and ideas, so please contact us if you have questions.
        </em></h5>



        <p>
          <strong>Meet the instructor: <%= link_to "Al Zimmerman", "/meettheteam.html#al-zimmerman" %>!</strong>
        </p>
        <div class="next-cohort">
          <h3 style="text-decoration:underline;">NEXT COHORT</h3>
          <h4 style="margin-top:-15px;">2016 January 18 – May 18</h4>
          <h5>Hours: Monday and Wednesday, 6pm - 10pm and one Saturday per month, 9am - 4pm</h5>
          <h5>NOTE: This cohort is extended to 18 weeks to include a short break(s) and a holiday(s).</h5>
          <p>
            <%= link_to "Apply Now!", "/apply.html", :class=>"btn btn-default big-apply-button", :target=>"_blank" %>
          </p>
        </div>

      </div> <!-- end jumbotron -->

        <p>
          <ul>
            <li><b>HTML5 &amp; CSS3</b> - Used for web, mobile apps, and print layout</li>
            <li><b>JavaScript</b> - the programming language of the web</li>
            <li><b>Ruby</b> - an easy-to-learn language that teaches the principles of object-oriented analysis and design</li>
            <li><b>SQL and NoSQL databases</b> - how the world stores data</li>
            <li><b>Ruby on Rails</b> - an established platform for quickly creating enterprise-level applications</li>
            <li><b>Testing</b> - Test-driven design, unit testing, acceptance testing, and full-browser testing</li>
            <li><b>Ionic/AngularJS</b> - a JavaScript framework for client-side and mobile apps</li>
            <li><b>APIs</b> - how to get data and share information with other applications</li>
            <li><b>Cloud hosting</b> - deploying apps with a single command</li>
            <li><b>Business analysis</b>, data modeling, and object-oriented analysis and design</li>
            <li><b>Professional development techniques</b>, workflows, and tool chains</li>
          </ul>
        </p>

        <h3>Who should take this course:</h3>
        <ul>
          <li>Anybody who wants to start a career in web development and has started learning on their own</li>
          <li>Portland Code School Web Foundation graduates</li>
          <li>Programmers in other languages that want to add web development to their skill set</li>
          <li>People who are working their current job while they prepare for their next career</li>
        </ul>

        <h3>What’s the difference between this and the Full Stack JavaScript classes?</h3>
        <p>Depth vs breadth.</p>
        <p>
          Those classes explore JavaScript in depth. This class teaches JavaScript in context with several other technologies. Like this class, those classes also create interesting client and server applications and also use professional techniques. But you will end up knowing much more about JavaScript. If you know you want to be a professional JavaScript programmer (and who doesn’t?) take those classes.
        </p>
        <p>
          This class, on the other hand, introduces a broad range of technologies, techniques, and tools, but in less detail. You'll still create substantial, working web applications, though.
        </p>

      </div> <!-- !js-ruby-rails class info -->

      <div class="row jumbotron">
        <p>
          <%= partial "partials/16-week-cost-table"%>
        </p>
        <p>
          <%= link_to "Apply Now!", "/apply.html", :class=>"btn btn-default big-apply-button" %>
        </p>
        <h4><em>* Early bird deadlines are May 22 and June 12 to qualify for early bird discounts!</em></h4>
      </div>

    </div> <!-- end about-us -->
  </div>
</div>
