---
title: The Team
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->


<div class="row">
  <br>
  <h2 id="meettheteam">Meet The Team</h2>
  <hr>
  <p>
    Portland Code School is committed to providing our students with faculty and staff who can help you achieve your goals. Our instructors are working tech professionals and educators.
  </p>
</div>

<h3>Instructional Staff</h3>
<hr>

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "al_zimmerman_headshot.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3 id="al-zimmerman" class="link-padding">Al Zimmerman</h3>
    <h4>Head Instructor</h4>
    <h4><%= link_to "Ruby on Rails", "/rubyonrails.html" %> and <%= link_to "Front End Development", "/frontend.html" %> Instructor</h4>

    <p>Al Zimmerman has 30 years of experience in software design, product development, information technology, and management. He has been teaching various aspects of software engineering and programming for over a dozen years to middle school students, college students, and professional engineers. He has experienced the joys of being on a tight-knit team of collaborators and wants to share that experience with his students.</p>

    <p>He is currently on a mission to increase diversity in the programming profession, having experienced the thrill of product development on teams composed of men, women, artists, engineers and scientists. "The best ideas come from all directions at once," he says.</p>

    <p>"More than anything," he says, "I love being in a classroom with talented, inquisitive people, helping them discover new things and achieve their career goals."</p>

    <p>In his spare time, Al is an improvisational comedy actor at Curious Comedy Theater where he finds that listening carefully, responding honestly, and laughing frequently is as useful on stage as it is in the classroom.</p>
    </p>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "whitney.png", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3 id="whitney-young" class="link-padding">Whitney Young</h3>
    <h4><%= link_to "JavaScript Immersion", "/javascriptimmersion.html" %> Instructor</h4>
    <p>
      Whitney Young has been a software developer and instructor for over 10 years. Before joining Portland Code School, he co-founded a software company in Chicago which focused on creating simple, intuitive, and useful Mac and iOS applications. During this time, he trained and built a strong team of engineers, re-discovering his passion for teaching. He is also responsible for creating a computer security course at his alma mater, where he honed his curriculum development and teaching skills. Throughout his career, Whitney has spoken at numerous technical conferences, served as a mentor for up-and-coming developers, and volunteered his time to teach programming to beginners. He has worked on complex back-end web architectures, highly custom native mobile apps, and everything in between.
    </p>
    <p>
      Whitney has two strong beliefs about learning to code. First, and most important, is that anyone can learn to be a great developer. All that's required is a healthy dose of passion and the desire to tackle challenging problems. Second, coding is about clear communication with <i>other people</i>. The best software developers are able to clearly express their intent verbally, through writing, and through code.
    </p>
    <p>
      Recently, Whitney has been learning Spanish and snowboarding. He's constantly humbled when listening to people switch flawlessly between languages or watching fearless young kids out on the slopes.
    </p>
  </div>
</div> -->

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "andrewl.jpeg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3 id="andrew-lorente" class="link-padding">Andrew Lorente</h3>
    <h4><%= link_to "JavaScript Immersion", "/javascriptimmersion.html" %> Instructor</h4>
    <p>
      Andrew Lorente has been writing software professionally for most of a decade, in just about every role a web developer can have: frontend to backend, database optimization to CSS styling. Unwilling to wait for an actual teaching job to share his love of programming, Andrew started serving as a mentor with Code Scouts in mid-2013. He's thrilled to be expanding into a formal classroom environment.
    </p>
    <p>
      When he's away from the computer, Andrew enjoys bicycling, woodworking, and cats.
    </p>
    
  </div>
</div>

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "dan.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3 id="dan-bauer" class="link-padding">Dan Bauer</h3>
    <h4><%= link_to "Full-Stack JavaScript", "/javascript.html" %> Instructor</h4>
    <p>
      Dan has arrived in web development after a long path of software development shenanigans winding through natural language processing, multiscale graphical interfaces, and digital ethnography. He has some sort of degree in trying to understand the cognitive consequences of interface design. He likes carpentry as much as programming and finds many parallels between them, including the judicious use of hammers. He hopes the computers remember that next time they do what he actually says instead of what he means.
    </p>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "ben.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3 id="ben-verble" class="link-padding">Ben Verble</h3>
    <h4><%= link_to "Full-Stack JavaScript", "/javascript.html" %> Instructor</h4>
    <p>
      Benjamin Preston Verble does freelance, front-end web development when he's not teaching developers.  He continues to be pleasantly surprised by how engaging and fun coding is. His classroom style helps him to be relatable to beginners while his experience helps him challenge more advanced students. He has lived in Portland for seven years and loves it. His hobbies are guitar, disc golf, and coffee roasting. He is husband to a beautiful, intelligent wife and father to a hilarious, cute, and loud little boy.
    </p>
  </div>
</div> -->

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "huston.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3 id="huston-hedinger" class="link-padding">Huston Hedinger</h3>
    <h4>Data Visualization Instructor</h4>
    <p>
      Huston Hedinger is the Founder and CEO of GraphAlchemist, a Portland based firm that provides data science and data visualization as a service.  Huston loves data visualization, and the amazingly complex stories that data viz elegantly tells.  He began his software engineering journey in R and Python while in graduate school.  Now Huston works across all web technologies with his team, with a focus on d3.js for data visualization, angular.js as a client side web framework, and neo4j the worlds leading graph database and a cutting edge NoSQL technology.
    </p>
    <p>
      All of Huston’s free time is spent with his family, or watching the Timbers, or both.
    </p>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "headshot-placeholder.png", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3 id="clarissa-littler" class="link-padding">Clarissa Littler</h3>
    <h4><%= link_to "Full-Stack JavaScript", "/javascript.html" %> Teaching Assistant</h4>
    <p>
      Clarissa is a graduate student at Portland State hoping to get her PhD in Computer Science sometime before the heat-death of the Universe. She enjoys teaching, mathematics, and writing painfully weird poetry. She's a logician at heart hoping to secretly indoctrinate all programmers she meets into seeing themselves as constructive mathematicians, but would settle for getting to share a few cute facts about computability and intuitionist logic now and again.
    </p>
  </div>
</div> -->

<h3>Administrative Staff</h3>
<hr>

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "Cris_Bio.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class ="col-md-9">
    <h3>Cris Kelly</h3>
    <h4>Director</h4>
    <p>
      Cris comes to Portland Code School with 20 years of experiential education and professional team development. Adding programming and web development to his portfolio in recent years, he has gone on to become a driving force in building out the school as a premier educational resource in the area.
    </p>

    <p>
      A Portlander by way of Minnesota, California, and Ashland, Oregon, he is also a musician, game designer, rock climber, and father of one amazing five year old boy (who insists on wearing his Spider Man pajamas to the store).
    </p>
  </div>
</div>


<!-- <div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "shawna.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class ="col-md-9">
    <h3>Shawna Scott</h3>
    <h4>Digital Content Manager</h4>
    <p>
      Shawna is a graduate of Portland Code School's Ruby on Rails class. Her background is in education, activist organizing, and fine arts. Looking for community, Shawna began attending and then co-organizing Women Who Hack, a local user group for women in tech, at the urging of a friend. Even though she never thought of herself as technically inclined, she discovered that coding was not only fascinating, it could provide a career that would utilize both her critical thinking skills and creativity!
    </p>
    <p>
      When she's not coding or attending tech user groups, Shawna loves to spend time reading, throwing pottery, or relaxing with her wonderful wife, Tina, and their two furbabies, Mia the dog, and Quade the cat.
    </p>
  </div>
</div> -->

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "collaine.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3>Collaine Kelly</h3>
    <h4>Operations Manager</h4>
    <p>
      Collaine is passionate about education and technology and she brings her background in administration and operations to support the Portland Code School's mission and growth. With a masters in public health she has 18 years experience in program management and evaluation, resource development, grant-writing, and business development. She has also worked in higher education, both in an Admissions capacity and in teaching specialized classes to massage therapy students. As a Licensed Massage Therapist and business owner, she is an advocate of wellness and balance. With a love for travel and as a former Peace Corps Volunteer, she maintains her connection to Africa as a founding Board Member for the non-profit <%= link_to "EduCongo", "http://www.educongo.org" %>. Born and raised in SE Alaska, she needs to be outdoors hiking and camping as much as possible, with her amazing family that includes an almost-Kindergartener, sweetheart-of-a-boy!
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "kristina.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3>Kristina Koenig</h3>
    <h4>Accounting Manager</h4>
    <p>
      While Kristina Koenig has worked for many years in accounting positions in diverse fields, she settled into the tech industry having found the community a delightfully creative and ever changing environment. The enthusiasm and curiosity that infects both the students and the staff of PCS make running the behind-the-scenes needs of the classroom and the office a new and fun experience everyday. When Kristina isn't manning the office she runs Fotoeffect Studio & Gallery in downtown Portland with her co-owner, Vilem, and spends her time oil painting, camping, running and reading whatever she can get her hands on.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "catherine.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3>Catherine Nikolovski</h3>
    <h4>Market Development</h4>
    <p>
      Catherine is deeply involved in Portland area tech, design, and public policy communities. She is the executive director of Hack Oregon, a non-profit organization focused on civic data visualization.  She has extensive experience in community organizing, and her work at Portland Code School is focused on strengthening relationships between Portland Code School students and the community of prospective employers. Catherine created the Coders With Kids program at Portland Code School. She is passionate about civic data projects, growing the tech economy in Portland, and high-fantasy period dramas.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "randall.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3>Randall Stickrod</h3>
    <h4>Executive Director</h4>
    <p>
      Randall Stickrod has been an entrepreneur, magazine publisher, media executive, and technology executive. The founder and publisher/editor of <strong><em>Computer Graphics World</em></strong> magazine, which helped launch the vibrant computer graphics industry, he went on to become founding executive publisher of <strong><em>Wired</em></strong> magazine, and consulted in the launch of many others. He served as executive vice president of a major technology publisher, led over $100M of M&A activity with another, and has advised a broad range of media enterprises through the present.
    </p>
    <p>
      Mr. Stickrod was considered a pioneer in the field of computer graphics, and went on to serve as CEO of Miro Computer USA and Zelos Digital Media. Since then he has been a strategic consultant to many other technology companies and the financial community of venture capitalists, investment bankers and private equity firms that support them.
    </p>
    <p>
      He has BS and MS degrees in physics from the University of Oregon and serves on the board of Harvard Media Ventures, a unit of the Harvard Graduate School of Business.
    </p>
  </div>
</div>

<h3>Advisory Board</h3>
<hr>

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "dave_mc.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class ="col-md-9">
    <h3>Dave McFarland</h3>
    <h4>Advisor</h4>
    <p>Dave McFarland is a web developer and educator with over 18 years experience in web technologies. He's designed web sites for large organizations like UC Berkeley and Macworld Magazine, and has taught at numerous schools and colleges including the Graduate School of Journalism at UC Berkeley, The Art Institute of Portland and Portland State University. He has written several technology books including JavaScript & jQuery: The Missing Manual (O'Reilly) and CSS: The Missing Manual (O'Reilly). He is currently a teacher at <%= link_to "Treehouse", "http://teamtreehouse.com"%> an online school that teaches web and mobile development.
      
    </p>

    
  </div>
</div>

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "Tang_profilePhoto2.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class ="col-md-9">
    <h3>Dr. Cara Tang</h3>
    <h4>Advisor</h4>
    <p>Cara Tang is a faculty member in the Computer Information Systems department at Portland Community College, and is Vice-Chair of the ACM Committee for Computing Education in Community Colleges. She earned her doctorate degree in Computer Science at the University of Heidelberg in Germany and her M.S. and B.S. degrees at Virginia Tech. Her interests lie in computing education, curriculum development, and cybersecurity. Before joining academia full-time, Dr. Tang worked in industry for six years as a software developer and operations research analyst.
      
    </p>

    
  </div>
</div>
