---
title: The Team
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->


<div class="row">
  <br>
  <h2 id="meettheteam">Meet The Team</h2>
  <hr>
  <p>
    Portland Code School is committed to providing our students with faculty and staff who can help you achieve your goals. Our instructors are working tech professionals and educators.
  </p>
</div>

<h3>Instructional Staff</h3>
<hr>

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "al_zimmerman_headshot.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3 id="al-zimmerman" class="link-padding">Al Zimmerman</h3>
    <h4>Director of Curriculum and Instruction</h4>
    <h4><%= link_to "Web Foundations", "/webfoundations.html" %> and <%= link_to "Web Development with JavaScript and Ruby on Rails", "/js-ruby-rails.html" %> Instructor</h4>
    <p>Al Zimmerman has 30 years of experience in software design, product development, information technology, and management. He has been teaching various aspects of software engineering and programming for over a dozen years to middle school students, college students, and professional engineers. He has experienced the joys of being on a tight-knit team of collaborators and wants to share that experience with his students.</p>
    <p>He is currently on a mission to increase diversity in the programming profession, having experienced the thrill of product development on teams composed of men, women, artists, engineers and scientists. "The best ideas come from all directions at once," he says.</p>
    <p>"More than anything," he says, "I love being in a classroom with talented, inquisitive people, helping them discover new things and achieve their career goals."</p>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-3 color-block">
   <%= image_tag "erin.jpeg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3 id="erin-call" class="link-padding">Erin Call</h3>
    <h4><%= link_to "JavaScript Immersion", "/javascriptimmersion.html" %> Instructor</h4>
    <p>
     Erin Call has been writing software professionally for most of a decade, in just about every role a web developer can have: frontend to backend, database optimization to CSS styling. Unwilling to wait for an actual teaching job to share her love of programming, Erin started serving as a mentor with Code Scouts in mid-2013. She's thrilled to be expanding into a formal classroom environment.
    </p>
    <p>
     When she's away from the computer, Erin enjoys bicycling, woodworking, and cats.
    </p>
  </div>
</div> -->

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "dan.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3 id="dan-bauer" class="link-padding">Dan Bauer</h3>
    <h4><%= link_to "Full-Stack JavaScript", "/javascript.html" %> Instructor</h4>
    <p>
      Dan has arrived in web development after a long path of software development shenanigans winding through natural language processing, multiscale graphical interfaces, and digital ethnography. He has some sort of degree in trying to understand the cognitive consequences of interface design. He likes carpentry as much as programming and finds many parallels between them, including the judicious use of hammers. He hopes the computers remember that next time they do what he actually says instead of what he means.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "tom.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3>Tom McCluskey</h3>
    <h4><%= link_to "Full-Stack JavaScript", "/javascript.html" %> Instructor</h4>
    <p>After nine years at sea, Tom decided on a landbound career in web development. After several years of freelancing, he now has a home at PCS as a lead instructor of the full stack JavaScript classes. His calm presence and sharp mind make him an excellent addition as the newest member of the PCS staff.</p>
  </div>
</div>

<h3>Administrative Staff</h3>
<hr>


<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "kristina.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3>Kristina Koenig</h3>
    <h4>Accounting Manager</h4>
    <p>
      While Kristina Koenig has worked for many years in accounting positions in diverse fields, she settled into the tech industry having found the community a delightfully creative and ever changing environment. The enthusiasm and curiosity that infects both the students and the staff of PCS make running the behind-the-scenes needs of the classroom and the office a new and fun experience everyday. When Kristina isn't manning the office she runs Fotoeffect Studio & Gallery in downtown Portland with her co-owner, Vilem, and spends her time oil painting, camping, running and reading whatever she can get her hands on.
    </p>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "catherine.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3>Catherine Nikolovski</h3>
    <h4>Market Development</h4>
    <p>
      Catherine is deeply involved in Portland area tech, design, and public policy communities. She is the executive director of Hack Oregon, a non-profit organization focused on civic data visualization.  She has extensive experience in community organizing, and her work at Portland Code School is focused on strengthening relationships between Portland Code School students and the community of prospective employers. Catherine created the Coders With Kids program at Portland Code School. She is passionate about civic data projects, growing the tech economy in Portland, and high-fantasy period dramas.
    </p>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "randall.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class="col-md-9">
    <h3>Randall Stickrod</h3>
    <h4>Executive Director</h4>
    <p>
      Randall Stickrod has been an entrepreneur, magazine publisher, media executive, and technology executive. The founder and publisher/editor of <strong><em>Computer Graphics World</em></strong> magazine, which helped launch the vibrant computer graphics industry, he went on to become founding executive publisher of <strong><em>Wired</em></strong> magazine, and consulted in the launch of many others. He served as executive vice president of a major technology publisher, led over $100M of M&A activity with another, and has advised a broad range of media enterprises through the present.
    </p>
    <p>
      Mr. Stickrod was considered a pioneer in the field of computer graphics, and went on to serve as CEO of Miro Computer USA and Zelos Digital Media. Since then he has been a strategic consultant to many other technology companies and the financial community of venture capitalists, investment bankers and private equity firms that support them.
    </p>
    <p>
      He has BS and MS degrees in physics from the University of Oregon and serves on the board of Harvard Media Ventures, a unit of the Harvard Graduate School of Business.
    </p>
  </div>
</div> -->

<h3>Advisory Board</h3>
<hr>

<!-- <div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "dave_mc.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class ="col-md-9">
    <h3>Dave McFarland</h3>
    <h4>Advisor</h4>
    <p>Dave McFarland is a web developer and educator with over 18 years experience in web technologies. He's designed web sites for large organizations like UC Berkeley and Macworld Magazine, and has taught at numerous schools and colleges including the Graduate School of Journalism at UC Berkeley, The Art Institute of Portland and Portland State University. He has written several technology books including JavaScript & jQuery: The Missing Manual (O'Reilly) and CSS: The Missing Manual (O'Reilly). He is currently a teacher at <%= link_to "Treehouse", "http://teamtreehouse.com"%> an online school that teaches web and mobile development.</p>
  </div>
</div> -->

<div class="row">
  <div class="col-md-3 color-block">
    <%= image_tag "Tang_profilePhoto2.jpg", :class=>"thumbnail circle" %>
  </div>
  <div class ="col-md-9">
    <h3>Dr. Cara Tang</h3>
    <h4>Advisor</h4>
    <p>Cara Tang is a faculty member in the Computer Information Systems department at Portland Community College, and is Vice-Chair of the ACM Committee for Computing Education in Community Colleges. She earned her doctorate degree in Computer Science at the University of Heidelberg in Germany and her M.S. and B.S. degrees at Virginia Tech. Her interests lie in computing education, curriculum development, and cybersecurity. Before joining academia full-time, Dr. Tang worked in industry for six years as a software developer and operations research analyst.

    </p>


  </div>
</div>
