---
title: Primer Confirmation
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<h2>Web Development Primer: Enrollment Confirmation</h2>

<p>
  Thank you for enrolling in Portland Code School's <%= link_to "Web Development Primer", "/webdevelopmentprimer.html" %>! You'll receive a confirmation email shortly! All the below information will be included in it, but here it is now to get you started.
</p>

<h3>Preparing for the Web Development Primer</h3>

<p>Now that you have enrolled, there is some work to do before class!</p>

<h4>Payment</h4>
<hr>

<p>
  If you chose to pay with check or cash, please be sure to do so by the payment deadline, which is <em>the Friday one week prior</em> to class. <strong>If you do not complete payment by this date, we may release your spot to those on the waiting list.</strong>
</p>

<p>
  Payment can be mailed to (or dropped off during normal business hours) at:
</p>

<p>
  1771 NW Pettygrove Street,<br>
  Suite #140,<br>
  Portland, OR 97209
</p>

<h4>Pre-Class Screencasts</h4>
<hr>

<p>
  About a week before class you'll receive an email with your <%= link_to "Treehouse", "http://teamtreehouse.com" %> login and lessons to complete before the first day of class. Those lessons are:
</p>

<ul>
  <li>HTML - "Introductions" (estimated time: 30 minutes)</li>
    <ul>
      <li><%= link_to "First Steps", "http://teamtreehouse.com/library/html/introduction/first-steps" %></li>
      <li><%= link_to "Markup", "http://teamtreehouse.com/library/html/introduction/markup" %></li>
      <li><%= link_to "Hyper Text and the Web", "http://teamtreehouse.com/library/html/introduction/hyper-text-and-the-web" %></li>
      <li><%= link_to "Global Structure: Part 1", "http://teamtreehouse.com/library/html/introduction/global-structure-part-1" %></li>
      <li><%= link_to "Global Structure: Part 2", "http://teamtreehouse.com/library/html/introduction/global-structure-part-2" %></li>
      <li><%= link_to "Review of HTML Introductions", "http://teamtreehouse.com/library/html/introduction/review-of-html-introduction" %></li>
    </ul>
  <li>CSS Foundations - "Getting Started with CSS" (estimated time: 25 minutes)</li>
    <ul>
      <li><%= link_to "CSS Foundations Overview", "http://teamtreehouse.com/library/css-foundations/getting-started-with-css/css-foundations-overview" %></li>
      <li><%= link_to "Evolution of CSS", "http://teamtreehouse.com/library/css-foundations/getting-started-with-css/evolution-of-css-2" %></li>
      <li><%= link_to "Evolution of CSS", "http://teamtreehouse.com/library/css-foundations/getting-started-with-css/evolution-of-css" %> (quiz)</li>
      <li><%= link_to "Fundamental Concepts", "http://teamtreehouse.com/library/css-foundations/getting-started-with-css/fundamental-concepts-2" %></li>
      <li><%= link_to "Fundamental Concepts", "http://teamtreehouse.com/library/css-foundations/getting-started-with-css/fundamental-concepts" %> (quiz)</li>
      <li><%= link_to "Adding CSS to a Page", "http://teamtreehouse.com/library/css-foundations/getting-started-with-css/adding-css-to-a-page-2" %></li>
      <li><%= link_to "Adding CSS to a Page", "http://teamtreehouse.com/library/css-foundations/getting-started-with-css/adding-css-to-a-page" %> (quiz)</li>
    </ul>
</ul>

<h4>Pre-Class Evaluation</h4>
<hr>

<p>We are working hard to constantly improve our classes, and we want to make sure we exceed your expectations! Please fill out our short <%= link_to "pre-class evaluation", "https://docs.google.com/forms/d/1BPfAafivcqcbazu0cXQt2qBun4typRrgfDrFa_sr4Wc/viewform" %> so we can make your experience the best it can be!</p>

<h4>Pre-Class Installation</h4>
<hr>

<p>
  Please have all of the following installed before class. Contact us at <%= mail_to "info@portlandcodeschool.com" %> if you have any problems so that we can assist you:
</p>

<p>
  <ul>
    <li>Sign up for a <%= link_to "GitHub account", "https://github.com/" %></li>
    <li>Install <%= link_to "git", "http://git-scm.com/downloads" %> (not the GUI client!)</li>
    <li>Install <%= link_to "SourceTree", "http://www.sourcetreeapp.com/download/" %></li>
    <li>Install <%= link_to "XCode Command Line Tools", "https://developer.apple.com/xcode/downloads/" %></li>
    <li>Install <%= link_to "Sublime Text", "http://www.sublimetext.com/3" %></li>
    <li>Install <%= link_to "Chrome", "https://google.com/chrome/" %></li>
    <li>Place your Terminal in your Dock (for Mac users), or Git Bash (installed with git) in your Start menu or as an icon on your desktop (for PC users) </li>
  </ul>
</p>

<h4>Laptops</h4>
<hr>

<p>
  We do require students either to bring their own laptop (running at least OS X 10.7 for Mac users, any up-to-date Linux distro, or Windows 7 for PC users), or rent one from us for $25 per month. If you decide you need a laptop, and did not already let us know when you enrolled, please email <%= mail_to "info@portlandcodeschool.com" %> to let us know.
</p>

<h4>Childcare</h4>
<hr>

<p>
  If you indicated that you would like to enroll in Coders with Kids, we will send further information to you soon! Typically, for one child age three or older, you will get 12 hours of childcare per week. Factors such as age of the child, or using benefits for multiple children can affect the total hours available. For full details on the Coders with Kids program, see our <%= link_to "fact sheet", "https://docs.google.com/document/d/1uz8qQQKG9o-KKhiSYA6_ALKbp0XCaiqUdLmPFgMcXWE" %>, or contact us at <%= mail_to "info@portlandcodeschool.com" %>.
</p>

<h4>Code of Conduct/Image Release</h4>
<hr>

<p>
  For your records, here is the <a href="">Code of Conduct/Image Release</a> you agreed to!
</p>
