<h2>About This Site</h2>

<h3>Redesign</h3>
<p>
  Over the past year, Portland Code School has experienced an extraordinary rate of change and growth. To celebrate and encapsulate the new experience PCS provides, a complete website redesign was in order!
</p>

<h4>Tools:</h4>
<p>
  This site is built using <%= link_to "Middleman", "http://middlemanapp.com/" %>, <%= link_to "GitHub Pages", "http://pages.GitHub.com/" %>, the <%= link_to "Middleman GitHub Pages gem", "https://GitHub.com/neo/middleman-gh-pages" %>, <%= link_to "Font Awesome by Dave Gandy", "http://fontawesome.io" %>, and <%= link_to "Bootstrap 3", "http://getbootstrap.com/" %>.
</p>

<h3>Core Development Team:</h3>
<ul>
  <li>Technical and Design Lead: <%= link_to "Shawna C. Scott", "http://shawnacscott.com" %></li>
  <li><%= link_to "Timothy Winters", "https://GitHub.com/timothywinters" %></li>
</ul><br>

<h4>Additional Contributors:</h4>
<ul>
  <li><%= link_to "Al Zimmerman", "https://GitHub.com/Auraelius" %></li>
  <li><%= link_to "Cris Kelly", "https://GitHub.com/criskelly" %></li>
  <li><%= link_to "Chris Peddecord", "https://GitHub.com/trippel" %></li>
</ul><br>

<h3>Contributing:</h3>
<p>
  Contributors are always welcome! If you would like to contribute, please read the documentation for any of the tools we use you are not familiar with, listed above. Once you've done that, there are three different ways you can contribute:
  <ol>
    <li><%= link_to "File an issue", "https://GitHub.com/criskelly/pcsredesign/issues" %> if you find any problems, or have suggestions for improvements or additional content you'd like to see.</li>

    <li>For those of you new to the GitHub contribution game, check out our <%= link_to "open issues", "https://GitHub.com/criskelly/pcsredesign/issues?state=open" %> to get an idea of what to work on.</li>

    <li>If you have a feature you'd like to see on our site and want to tackle it yourself, feel free to <%= link_to "fork our repo", "https://GitHub.com/criskelly/pcsredesign/fork" %> and send a pull request to our <%= link_to "integration branch", "https://GitHub.com/criskelly/pcsredesign/tree/integration" %>.</li><br>

    <small>NOTE: Keep in mind that we may not merge every pull request if it doesn't fit with our overall mission and design plan. It is not a reflection on you or the quality of your code!</small>
  </ol>
</p>

<h3>Legal</h3>
<p>"Rails", "Ruby on Rails", and the Rails logo are registered trademarks of
David Heinemeier Hansson. All rights reserved.</p>
