---
title: Testimonials
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->


<div class="row">
   <br>
  <div class="about-box">

    <div class="about-us">
      <h2>Meet Our Students!</h2>
      <hr>
    </div>

    <div class="testimonial-wrap">
  	  <%= image_tag "/images/testimonials/testi-julie.png", :class=>"img-responsive centered" %>
    </div>

    <br>

  	<div class="testimonial-wrap">
  	  <%= image_tag "/images/testimonials/testi-loriz.png", :class=>"img-responsive centered" %>
    </div>

    <br>

  	<div class="testimonial-wrap">
      <%= image_tag "/images/testimonials/testi-chrisp.png", :class=>"img-responsive centered" %>
    </div>

    <br>

  	<div class="testimonial-wrap">
    	<%= image_tag "/images/testimonials/testi-austenp.png", :class=>"img-responsive centered" %>
    </div>

    <br>

    <div class="testimonial-wrap">
      <%= image_tag "/images/testimonials/testi-kaija.png", :class=>"img-responsive centered" %>
    </div>

    <br>

    <div class="testimonial-wrap">
      <%= image_tag "/images/testimonials/testi-gregn.png", :class=>"img-responsive centered" %>
    </div>

    <br>

    <div class="testimonial-wrap">
      <%= image_tag "/images/testimonials/testi-jahsie.png", :class=>"img-responsive centered" %>
    </div>

    <br>

    <div class="testimonial-wrap">
      <%= image_tag "/images/testimonials/testi-stacy.png", :class=>"img-responsive centered" %>
    </div>

    <br>

    <div class="testimonial-wrap">
      <%= image_tag "/images/testimonials/testi-geoff.png", :class=>"img-responsive centered" %>
    </div>

    <br>

    <div class="testimonial-wrap">
      <%= image_tag "/images/testimonials/testi-adamh.png", :class=>"img-responsive centered" %>
    </div>

    <br>

    <div class="testimonial-wrap">
      <%= image_tag "/images/testimonials/testi-sean.png", :class=>"img-responsive centered" %>
    </div>

    <br>
    <hr>

    <div class="priority-box">
      <div class="youtube-embed .embed-responsive" style="margin:0 auto;">
        <iframe width="445" height="315" src="//www.youtube.com/embed/UCO11xMGO9g" allowfullscreen></iframe>
      </div>
      <h4 style="text-align:center;">A video project by some of our fantastic students!</h4>
    </div>

  </div>
</div>
 
