---
title: UX Design
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->


<div class="row">
   <br>
  <div class="about-box">

    <div class="about-us">
      <h2>UX Design</h2>
      <hr>
        <div class="row jumbotron">

          <%= image_tag "ux-banner.png", :class=>"img-responsive centered" %>
          <h2 class="sr-only">UX Design</h2>

          <h3>Now Enrolling!</h3>

          <p>This course is a four-week introduction to the process and profession of user experience (UX) design. Pulling in expert UX professionals as guest speakers, you will get the newest and most useful information from the people who do it every day.</p>

          <p>During the course, students will:</p>
          <ul class="tech-list">
        	<li>Participate in classroom interactive exercises to experience and practice UX design</li>
        	<li>Complete a series of product designs in small teams to apply their understanding</li>
            <li>Be provided with screencasts and other online resources for individual study</li>
          </ul>
        
          <p>Successful graduates will be able to:</p>
          <ul class="tech-list">
        	<li>Participate in a product design team</li>
        	<li>Work with stakeholders to understand business goals</li>
        	<li>Integrate UX design into the product development process</li>
        	<li>Conduct user research through interviews and observation</li>
        	<li>Identify customer goals and perspectives</li>
        	<li>Summarize research using personas</li>
        	<li>Use interaction and interface design to make products easy to use</li>
        	<li>Perform task analysis</li>
        	<li>Develop user stories and scenarios</li>
        	<li>Create screen flow and navigation models</li>
        	<li>Create a series of prototypes to test and evolve your designs with users</li>
        	<li>Create paper and low-fidelity prototypes</li>
        	<li>Perform usability testing to validate and iterate designs</li>
        	<li>Create high-fidelity prototypes to guide the coding process</li>
        	<li>Validate designs in the field</li>
        	<li>Use analytics and A/B testing to test usage</li>
        	<li>Use remote usability testing</li>
          </ul>
          
          <p>In addition, all students receive:</p>
          <ul class="tech-list">
        	<li>Treehouse Gold online training memberships</li>
        	<li>Access to UX designers and experts</li>
        	<li>Curated and updated resources for ongoing study</li>
        	<li>Full access to the school (M-F, 9am - 9pm, Saturdays 10am - 4pm, Sundays, 3pm - 6pm)</li>
          </ul>

          <br>
  
          <p>
            <strong>Meet the instructor: <%= link_to "Al Zimmerman", "/meettheteam.html#al-zimmerman" %>!</strong>
          </p>

          <div class="next-cohort">
            <h3 style="text-decoration:underline;">NEXT COHORT</h3>
            <h4 style="margin-top:-15px;">March 21 - April 11 (Saturdays, 10am - 5pm)</h4>
          </div>

          <h4>APPLICATION LINK COMING TODAY!</h4>


    <!--         <p>
              <%= link_to "Apply Now!", "/apply.html", :class=>"btn btn-default big-apply-button" %>
            </p> -->
          </div>

          <div class="row jumbotron">
            <p>
              <%= partial "partials/8-week-cost-table"%>
            </p>
    <!--         <p>
              <%= link_to "Apply Now!", "/apply.html", :class=>"btn btn-default big-apply-button" %>
            </p> -->
          </div>
    </div>
  </div>
</div>

