---
title: WordPress
---

<!-- Copyright (c) 2013, 2014 ICRL
See the file license.txt for copying permission. -->

<div class="row">
  <br>
  <div class="about-box">
    <div class="about-us">
      <h2>WordPress for Small Businesses</h2>
      <hr>

      <!-- WordPress class info -->
      <div class="row jumbotron">
        <% link_to "/wordpress.html" do %>
          <%= image_tag "banners/wordpress.png", :class=>"img-responsive centered" %>
        <% end %>

        <h2 class="sr-only">WordPress for Small Businesses</h2>

        <h3><%= link_to "Now Enrolling!", "https://pcs.formstack.com/forms/word_press_seminar_enrollment_form", :target=>"_blank" %></h3>

        <h3>This is an easy but thorough introduction to WordPress, one of the world's most popular website platforms. Walk in with an idea, walk out with a website.</h3>

        <p>This course will give non-technical people the skills needed to create, customize, update, and maintain a WordPress-based website. All students will leave the course with with a fully-functional, easy-to-maintain website for their business.</p>

        <h3>Who will benefit from this class:</h3>
        <ul class="tech-list">
        	<li>Small business owners who need (or already have!) a website for their business</li>
        	<li>Artists, musicians, or authors who need a website for their portfolio</li>
        	<li>Bloggers who want to do more with their website than just blogging</li>
        </ul>

        <h3>Prerequisites</h3>
        <ul class="tech-list">
        	<li>Please bring your own laptop (PC or Mac). There are no other prerequisites for this class.</li>
        </ul>

        <h3>At the end of this course, successful students will be able to:</h3>
        <ul class="tech-list">
        	<li>Purchase and set up a domain for their online presence, including email and website</li>
        	<li>Choose WordPress hosting providers based on business and website requirements</li>
        	<li>Plan a website design based on business requirements and your business's unique identity</li>
        	<li>Choose a theme that suits your business</li>
        	<li>Install and use WordPress plugins to add functionality to your website without coding</li>
        	<li>Set up e-commerce on your website to sell products and services</li>
        	<li>Use basic HTML and CSS to understand and customize your Wordpress theme</li>
        	<li>Explore and take control of an existing WordPress site</li>
        	<li>Gather information from previous developers to continue development of an existing site</li>
        	<li>Maintain a WordPress site -- keeping it secure and fast while adding new content</li>
        </ul>

        <p>
          <strong>Meet the instructor: <%= link_to "Janice Levenhagen-Seeley", "/adjuncts.html#dan-bauer" %>!</strong>
        </p>
        
        <div class="next-cohort">
          <h3 style="text-decoration:underline;">NEXT COHORT</h3>
          <h4 style="margin-top:-15px;">April 7 - April 30</h4>
          <h5>Tuesday/Thursday nights, 6pm - 9pm</h5>
          <p>
            <%= link_to "Apply Now!", "https://pcs.formstack.com/forms/word_press_seminar_enrollment_form", :class=>"btn btn-default big-apply-button", :target=>"_blank" %>
          </p>
        </div>

        <div class="row jumbotron">
          <p>
            <%= partial "partials/8-week-cost-table"%>
          </p>
        </div>

      </div> <!-- end jumbotron and wordpress info-->

	</div> <!-- end about-us -->
  </div> <!-- end about-box -->
</div> <!-- end row -->














 
